//
// Reset all of the CSS
//    (so we can have full control)
//
@import 'partials/reset';


//
// Modules and Variables
//    (things that won't actually output CSS)
//

@import 'partials/base';
@import 'modules/bem-utilities';
@import 'modules/breakpoints';
@import 'modules/mobile-responsive';
@import 'modules/grid';
@import 'modules/visibility';
@import 'modules/media-query-setup';
@import 'modules/utilities';
@import 'modules/font-awesome-utilities';
@import 'modules/placeholders';


//
// Vendor
//    (everything that wasn't written by us)
//

@import 'vendor/bourbon/bourbon';
@import 'modules/rocks/rocks';
@import 'vendor/flags';
@import 'vendor/loaders';


//
// Generic HTML Elements
//    (CSS for generic HTML elements)
//
@import "generic/blocks";
@import "generic/body";
@import "generic/formatting";
@import "generic/headers";
@import "generic/hyperlinks";
@import "generic/lists";
@import "generic/tables";


//
// Partials
//    (CSS for parts of the website but not specific to a single page)
//

@import 'partials/alerts';
@import 'partials/buttons';
@import 'partials/flashbag';
@import 'partials/font-awesome';
@import 'partials/forms';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/icon-bullet-points';
@import 'partials/jumbotron';
@import 'partials/layouts';
@import 'partials/ranks';
@import 'partials/typography';


//
// Pages
//    (CSS for specific pages on the website)
//

@import 'pages/bans';
@import 'pages/confirmation';
@import 'pages/landingPage';
@import 'pages/matches';
@import 'pages/messaging';
@import 'pages/news';
@import 'pages/notifications';
@import 'pages/pages';
@import 'pages/players';
@import 'pages/profiles';
@import 'pages/teams';
@import 'pages/servers';


//
// Helper Classes
//    (CSS classes that are utilities classes are only meant to override other CSS)
//

@import 'partials/helpers';
