@function calculate-flex($columns) {
    @return ($rocks-column-width * $columns) * 1%;
}

@function calculate-gutter($column-count: $rocks-column-count, $gutter: 0.25%) {
    @return $column-count * $gutter;
}

@mixin set-flex($flex, $gutter) {
    @include flex-basis($flex);

    max-width: $flex;
    margin-right: $gutter;
}

@mixin make-container() {
    @include display(flex);
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    box-sizing: border-box;
}

@mixin make-columns($columns, $gutter: calculate-gutter()) {
    $gutter: if($columns == 12, 0, $gutter);
    $width: if($gutter == 0, calculate-flex($columns), calculate-flex($columns) - $gutter);

    @include set-flex($width, $gutter);

    &:last-child {
        @include set-flex(calculate-flex($columns), 0);
    }
}

@mixin offset-columns($columns) {
    margin-left: ($rocks-column-width * $columns) * 1%;
}
