/**
 * General
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imgs/bg.png");
    font-family: "helveticaNeue-light", Helvetica, Sans-Serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

button {
    margin: 5px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

a {
    color: #555;
}

a:hover {
    color: #e69500;
}

/**
 * Floats
 */
.right {
    float: right;
}

.left {
    float: left;
}

/**
 * Navigation
 */
.navbar {
    background-color: #555555;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.3em;
    font-size:0.9em;
}

.navmenu {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #666666;
    text-align: left;
}

.navbuttonicon {
    width: 3em;
    line-height: 3.3em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
}

.navbutton {
    min-width: 5.4em;
    line-height: 3.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
}


    .navbutton:hover, .navbuttonicon:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .navbutton:last-child, .navbuttonicon:last-child {
        border-left: 1px solid #666666;
    }

/**
 * Notifications
 */
.notification {
    border: 1px solid #222;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 3px #333;
    color: #fff;
    display: none;
    text-shadow: 1px 1px 5px #333;
    left: 25em;
    min-width: 16em;
    position: fixed;
    padding: 0.4em 1em;
    text-align: center;
    top: -1px;
    z-index: 10;
}

    .notification i {
        margin-right: 0.5em;
    }

.notification-success {
    background-color: #117711;
    display: block;
}

.notification-error {
    background-color: #991111;
    display: block;
}

.notification-hidden {
    display: none;
}

/**
 * Content
 */
.content {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    margin-top: 4em;
}

/**
 * Custom Pages
 */
 .custom_page {
    width: 80%;
    margin: 0 auto;
 }

.custom_page_title {
    background-color: #555555;
    color: white;
    font-family: "helveticaNeue-light";
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
 }

.custom_page_content {
    font-family: "Baskerville";
    background-color: #fff;
    padding: .8em;
    border: 1px solid #bdbdbd;
    border-top: none;
 }

/**
 * Players page
 */
.playerpage_content {
    width: 80%;
    margin: 0 auto;
}

.players_table {
    table-layout: fixed;
    width: 100%;
}

    .players_table th {
        padding: 10px 5px 10px 5px;
        background-color: #fff;
    }

        .players_table th:first-child {
            width: 30%;
        }

    .players_table td {
        padding: 7px 5px 7px 5px;
    }

    .players_table tr {
        text-align: left;
    }

        .players_table tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        .players_table tr:hover {
            background-color: #d6d6d6;
        }

/**
 * Team page
 */
.teampage_content {
    width: 80%;
    margin: 0 auto;
}

.team_name {
    font-family: HelveticaNeue-CondensedBold;
    font-size: 2.5em;
}

.team_rating {
    font-family: HelveticaNeue;
    font-size: 1.4em;
}

.team_leader {
    font-size: 1.2em;
}

.teams_table {
    table-layout: fixed;
    width: 100%;
}

    .teams_table th {
        padding: 10px 5px 10px 5px;
        background-color: #fff;
    }

        .teams_table th:first-child {
            width: 30%;
        }

    .teams_table td {
        padding: 7px 5px 7px 5px;
    }

    .teams_table tr {
        text-align: left;
    }

        .teams_table tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        .teams_table tr:hover {
            background-color: #d6d6d6;
        }

/**
 * News page
 */
.news {
    margin: 0 auto;
}

.news_box {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4em;
    margin-bottom: 2em;
}

    .news_box:hover .news_title_box {
        background-color: #333333;
    }

.news_title_box {
    background-color: #555555;
    color: white;
    padding: .8em .5em .8em .5em;
}

.news_title {
    font-size: 1.5em;
    text-align: center;
}

.news_author {
    text-align: right;
    font-size: .8em;
    padding: .5em 0 0 .5em;
    margin-right: -8px;
}

.news_content {
    font-family: "Baskerville";
    background-color: #fff;
    padding: .8em .8em 0 .8em;
    border: 1px solid #bdbdbd;
    border-top: none;
}

/**
 * Bans page
 */
.bans {
    margin: 0 auto;
}

.ban_box {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4em;
    margin-bottom: 2em;
}

    .ban_box:hover .ban_title_box {
        background-color: #333333;
    }

.ban_title_box {
    background-color: #555555;
    color: white;
    padding: .8em .5em .8em .5em;
}

.ban_title {
    font-size: 1.5em;
    text-align: center;
}

.ban_author {
    text-align: right;
    font-size: .8em;
    padding: .5em 0 0 .5em;
    margin-right: -8px;
}

.ban_content {
    font-family: "Baskerville";
    background-color: #fff;
    padding: .8em .8em 0 .8em;
    border: 1px solid #bdbdbd;
    border-top: none;
}

/**
 * Matches page
 */
.matchpage_content {
    width: 80%;
    margin: 0 auto;
}

.matches_table {
    table-layout: fixed;
    width: 100%;
}

    .matches_table th {
        padding: 10px 5px 10px 5px;
        background-color: #fff;
    }

        .matches_table th:nth-child(2) {
            width: 30%;
        }

    .matches_table td {
        padding: 7px 5px 7px 5px;
    }

    .matches_table tr {
        text-align: left;
    }

        .matches_table tr:nth-child(even) {
            background-color: #f7f7f7;
        }

        .matches_table tr:hover {
            background-color: #d6d6d6;
        }

/**
 * Messages page
 */
.groups {
    width: 30%;
    float: left;
    margin-top: 2em;

}

.groups_toolbar {
    font-weight: normal;
    background-color: #555555;
    color: #fff;
}

.groups_toolbar_option a {
    font-family: HelveticaNeue;
    font-size: .8em;
    color: white;
    text-transform: uppercase;
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

    .groups_toolbar_option a:hover {
        color: orange;
    }

.group_list {
    width: 100%;
}

    .group_list tr {
        background-color: white;
    }

        .group_list tr:hover, .group_list tr.active {
            background-color: #555555;
            color: white;
        }

    .group_list a {
        color: inherit;
        text-decoration: none;
    }

.group_new {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
    padding: 0 0 0 5px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.group_subject {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
    padding: 0 0 0 5px;
}

.group_last_activity {
    font-size: .8em;
    float: right;
    padding: 5px 5px 0 0;
}

.group_members {
    font-family: HelveticaNeue-light;
    font-size: 1em;
    padding: 0 0 0 5px;
}

.group_last_message {
    font-family: HelveticaNeue-light;
    font-size: .8em;
    padding: 0 0 3px 5px;
}

.group_messages {
    width: 70%;
    float: left;
    margin-top: 2.1em;
}

.group_message {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

    .group_message tr:last-child .group_message_content {
        margin-bottom: 10px;
    }

    .group_message td:hover .group_message_date_me, .group_message td:hover .group_message_date_other {
        display: inline;
    }

.group_message_toolbar {
    font-family: HelveticaNeue;
    background-color: #555555;
}

.group_message_title {
    font-weight: normal;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding: 5px 5px 5px 10px;
    text-align: center;
    text-decoration: none;
}

.group_message_title_members {
    font-weight: normal;
    font-size: .8em;
    color: silver;
    text-transform: uppercase;
    float: left;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
}

.group_message_title_icon {
    float: right;
    display: inline-block;
    color: #fff;
    text-align: right;
    padding: 5px;
    margin-top: 2px;
    margin-right: 5px;
}

    .group_message_title_icon:hover {
        color: orange;
        cursor: pointer;
    }

.group_toolbar_text {
    font-weight: normal;
    font-size: 1.3em;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 0px 5px 10px;
    text-align: center;
    text-decoration: none;
}

.group_message_content {
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #555555;
    border-radius: 15px;
    max-width: 35%;
}

.group_message_author_me, .group_message_author_other {
    font-size: .75em;
}

.group_message_date_me, .group_message_date_other {
    display: none;
    /*width: 10%;*/
    font-size: .75em;
    margin-top: 14px;
}

.group_message_from_me {
    float: right;
    margin-right: 10px;
    background-color: #B8B8B8;
}

.group_message_author_me {
    text-align: right;
    margin-right: 15px;
}

.group_message_date_me {
    float: right;
    text-align: right;
    margin-right: 5px;
}

.group_message_from_other {
    float: left;
    margin-left: 10px;
    background-color: #E0E0E0;
}

.group_message_author_other {
    text-align: left;
    margin-left: 15px;
}

.group_message_date_other {
    float: left;
    text-align: left;
    margin-left: 5px;
}

/**
 * Compose message panel
 */
.compose_area {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    font-size: 1em;
    height: 100px;
    line-height: 1.42857;
    margin: 6px 0;
    min-height: 70px;
    padding: 6px 12px;
    resize: vertical;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.input_compose_area {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    font-size: 1em;
    line-height: 1.42857;
    margin: 6px 0;
    min-height: 31px;
    padding: 6px 12px;
    resize: vertical;
    width: 90%;
}

.compose_panel {
    margin-bottom: 1em;
}

.compose_form {
    background-color: #fff;
    margin-top: 2px;
    padding: 1em;
}

.alt_compose_form {
    margin-top: 2px;
}

.input_group label {
    display: inline-block;
    text-align: right;
    width: 7%;
}

.input_group_main {
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    font-family: sans-serif;
    height: 29px;
    margin: 1px;
    margin-left: 0.5%;
    padding: 5px;
    width: 90%;
}

.input_group_main[type=text] {
    background-image: linear-gradient(rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
    border: 1px solid rgb(170, 170, 170);
}

::-webkit-input-placeholder {
    color: rgb(102, 102, 102);
    opacity: 1;
}
:-moz-placeholder {
    color: rgb(102, 102, 102);
    opacity: 1;
}
*::-moz-placeholder {
    color: rgb(102, 102, 102);
    opacity: 1;
}
:-ms-input-placeholder {
    color: rgb(102, 102, 102);
    opacity: 1;
}