/**
 * General
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imgs/bg.png");
    font-family: "helveticaNeue-light", Helvetica, Sans-Serif;
    font-size: 1em;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

/**
 * Floats
 */
.right {
    float: right;
}

.left {
    float: left;
}

/**
 * Navigation
 */
.navbar {
    background-color: #555555;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.3em;
    font-size:0.86em;
}

.navmenu {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.navbuttonicon {
    width: 3em;
    line-height: 3.3em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
}

.navbutton {
    width: 5.5em;
    line-height: 3.3em;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
    display: inline-block;
}


    .navbutton:hover, .navbuttonicon:hover {
        background-color: #333333;
    }

    .navbuttonicon:first-child, .navbuttonicon:nth-last-child(1) {
        border-left: 1px solid #666666;
    }

/**
 * Content
 */
.content {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    clear: both;
}

/**
 * Team page content
 */
.team_name {
font-family: HelveticaNeue-CondensedBold;
font-size: 2.5em;
}

.team_rating{
font-family: HelveticaNeue;
font-size: 20px;

}
.team_leader{
font-size: 18px;
}
