/**
 * General
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imgs/bg.png");
    font-family: "helveticaNeue-light", Helvetica, Sans-Serif;
    font-size: 1em;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

a {
    color: #555;
}

a:hover {
    color: #e69500;
}

/**
 * Floats
 */
.right {
    float: right;
}

.left {
    float: left;
}

/**
 * Navigation
 */
.navbar {
    background-color: #555555;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.3em;
    font-size:0.9em;
}

.navmenu {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #666666;
    text-align: left;
}

.navbuttonicon {
    width: 3em;
    line-height: 3.3em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
}

.navbutton {
    min-width: 5.4em;
    line-height: 3.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #666666;
}


    .navbutton:hover, .navbuttonicon:hover {
        background-color: #333333;
        color: #ffffff;
    }

    .navbutton:last-child, .navbuttonicon:last-child {
        border-left: 1px solid #666666;
    }

/**
 * Content
 */
.content {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    margin-top: 3em;
}

/**
 * Team page
 */
.teampage_content {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}

.team_name {
    font-family: HelveticaNeue-CondensedBold;
    font-size: 2.5em;
}

.team_rating {
    font-family: HelveticaNeue;
    font-size: 1.4em;
}

.team_leader {
    font-size: 1.2em;
}

.teams_table { 
    table-layout: fixed;
    width: 100%;
}

    .teams_table th {
        padding: 10px 5px 10px 5px;
        background-color: #fff;
    }

    .teams_table th:first-child {
        width: 30%;
    }

    .teams_table td {
        padding: 7px 5px 7px 5px;
    }

    .teams_table tr {
        text-align: left;
    }

    .teams_table tr:nth-child(even) {
        background-color: #f7f7f7;
    }

/**
 * News page
 */
.news {
    margin: 0 auto;
    margin-top: 2em;
}

.news_box {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4em;
    margin-top: 2em;
}

    .news_box:hover .news_title_box {
        background-color: #333333;
    }

.news_title_box {
    background-color: #555555;
    color: white;
    padding: .8em .5em .8em .5em;
}

.news_title {
    font-size: 1.5em;
    text-align: center;
}

.news_author {
    text-align: right;
    font-size: .8em;
    padding: .5em 0 0 .5em;
    margin-right: -8px;
}

.news_content {
    font-family: "Baskerville";
    background-color: #fff;
    padding: .8em .8em 0 .8em;
    border: 1px solid #bdbdbd;
    border-top: none;
}

/**
 * Bans page
 */
.bans {
    margin: 0 auto;
    margin-top: 2em;
}

.ban_box {
    width: 60%;
    margin: 0 auto;
    line-height: 1.4em;
    margin-top: 2em;
}

    .ban_box:hover .ban_title_box {
        background-color: #333333;
    }

.ban_title_box {
    background-color: #555555;
    color: white;
    padding: .8em .5em .8em .5em;
}

.ban_title {
    font-size: 1.5em;
    text-align: center;
}

.ban_author {
    text-align: right;
    font-size: .8em;
    padding: .5em 0 0 .5em;
    margin-right: -8px;
}

.ban_content {
    font-family: "Baskerville";
    background-color: #fff;
    padding: .8em .8em 0 .8em;
    border: 1px solid #bdbdbd;
    border-top: none;
}