blockquote {
    margin: 20px 30px;
    padding-left: 40px;
    position: relative;
    vertical-align: top;

    &::before {
        @include theme-rule(color, 'elements.blockquote.icon');
        @include position(absolute, 5px, null, null, 0);

        content: '\f10d';
        font-family: FontAwesome;
        font-size: 30px;
    }
}
