form {
    button,
    input[type="reset"],
    input[type="submit"] {
        @extend .c-button;
    }
}

fieldset {
    @include theme-rule(border, 'border.default');

    margin: 0;
    padding: 0 10px 15px;

    legend {
        font-size: 1em;
        font-weight: 800;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
    }
}

input,
label,
select {
    display: block;
    font-family: $Font-Sans_Serif;
    font-size: 16px;
}

label {
    font-weight: 800;
    margin-bottom: 0.75em;

    &.required::after {
        color: $Color-Red;
        content: '*';
        padding-left: 3px;
    }

    abbr {
        display: none;
    }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    @include theme-rule(background-color, 'form.background');
    @include theme-rule(border, 'border.default');
    @include theme-rule(border-radius, 'border.radius');
    @include theme-rule(color, 'body.color');

    padding: 5px;
    transition: border-color;
    width: 100%;

    &:active,
    &:focus,
    &:hover{
        @include theme-rule(background-color, 'form.background_active');
    }
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: 5px;
}

input[type="file"] {
    width: 100%;
}

select {
    &:not([size]) {
        height: 30px;
    }
}
