{% extends 'layout.html.twig' %}

{% block title %}BZiON Admin Panel{% endblock %}

{% block pageTitle %}
    <h1>BZiON Admin Panel</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            {% set options = [
                {
                    url: url('admin_page_list'),
                    icon: 'file',
                    text: 'Custom Pages',
                    condition: canViewPageEditor,
                },
                {
                    url: '#',
                    icon: 'user',
                    text: 'Roles',
                    condition: canViewRoleEditor,
                },
                {
                    url: '#',
                    icon: 'trash-o',
                    text: 'Deleted Models',
                    condition: canViewModelEditor,
                },
                {
                    url: '#',
                    icon: 'user-secret',
                    text: 'Visit Log',
                    condition: canViewVisitLog,
                }
            ] %}

            {% for option in options if option.condition %}
                <div class="col-md-3">
                    <a class="d-block" href="{{ option.url }}">
                        <div class="mb2">
                            <i class="fa fa-fw fa-{{ option.icon }} t5" aria-hidden="true"></i>
                        </div>

                        {{ option.text }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
