{% extends 'layout.html.twig' %}

{% block title %}BZiON Admin Panel{% endblock %}

{% block pageTitle %}
    <h1>BZiON Admin Panel</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center mb-last-reset">
            {% set options = [
                {
                    url: url('admin_page_list'),
                    icon: 'file',
                    text: 'Custom Pages',
                    condition: canViewPageEditor,
                },
                {
                    url: url('admin_role_list'),
                    icon: 'user',
                    text: 'Roles',
                    condition: canViewRoleEditor,
                },
                {
                    url: url('admin_model'),
                    icon: 'trash-o',
                    text: 'Deleted Models',
                    condition: canViewModelEditor,
                },
                {
                    url: url('visit_list'),
                    icon: 'user-secret',
                    text: 'Visit Log',
                    condition: canViewVisitLog,
                }
            ] %}

            {% for option in options %}
                {% if option.condition %}
                    <div class="col-sm-6 col-md-3 mb3 mb0-md">
                        <a class="d-block" href="{{ option.url }}">
                            <div class="mb2">
                                <i class="fa fa-fw fa-{{ option.icon }} t5" aria-hidden="true"></i>
                            </div>

                            {{ option.text }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
