{% extends 'layout.html.twig' %}

{% block title %}Deleted objects{% endblock %}

{% block content %}
    {# TODO: These are not bans! #}
    <main class="bans">
        <section class="content_header">
            <article class="wrapper">
                <h1>Deleted Objects</h1>
            </article>
        </section>

        <section class="punishments">
            <article class="css-table ban_list">
                <div class="row header">
                    <div class="column">
                        <strong>Type</strong>
                    </div>
                    <div class="column">
                        <strong>Name</strong>
                    </div>
                </div>
                {% for model in models %}
                    <div class="row">
                        {% set icons = {
                            ban: 'ban',
                            news: 'newspaper-o',
                            page: 'file-text-o',
                            player: 'user',
                            server: 'tasks',
                            team: 'users'
                        }%}

                        <div class="column">
                            {{ model.typeForHumans|capitalize }}
                        </div>
                        <div class="column">
                            <i class="fa fa-{{ icons[model.type] }}"></i> {{ link_to(model, linkAll = true) }}
                        </div>
                    </div>
                {% endfor %}
            </article>
        </section>
    </main>
{% endblock %}
