.c-jumbotron--landing {
    background: url('../imgs/cover_photo.png') no-repeat scroll center center;
    margin-bottom: $Settings-Page_Section-Margin;

    .c-button {
        margin-top: 40px;
    }
}