// This the main container to the Markdown Editor
.c-mde {

}

// The container of the toolbar which contains buttons to "Edit" and "Preview" the markdown content
.c-md-editor__toolbar {
    @extend .is-horizontal;

    @include border-top-radius($Border-Radius);
    @include theme-specific("background", "header-bg");

    border: $Border-Default;
    border-bottom: none;
    display: flex;
}

// Each `li` will be a single button in the toolbar
.c-md-editor__toolbar li {
    @include theme-specific("color", "header-color");

    cursor: pointer;
    display: inline-block;
    padding: $Settings-Page_Section-Small_Margin;

    &.active {
        box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.25);
    }

    &:first-child {
        border-top-left-radius: $Border-Radius;
    }

    &:hover {
        @include theme-specific("color", "header-color-hover");

        box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.1);
    }
}

// The container which houses both the textarea and the markdown preview
.c-mde__canvas {

}

// The div that houses the markdown preview
.c-md-editor__preview {
    @include border-bottom-radius($Border-Radius);

    border: $Border-Default;
    border-top: none;
    padding: $Settings-Page_Section-Small_Margin;
}

// The textarea which holds the actual content
.c-md-editor__editor {
    @include border-top-radius(0);
}

// This class is used when the "editor" mode is active
.c-md-editor__canvas--editor {
    .c-md-editor__preview {
        display: none;
    }
}

// This class is used when the "preview" mode is active
.c-md-editor__canvas--preview {
    .c-md-editor__editor {
        display: none;
    }
}
