// The form component itself
.c-form {
    margin-bottom: $Settings-Page_Section-Margin;
}

// A section inside of a form is defined as a row with content inside of it. This "row" will take up 100% of the
// container.
.c-form__section {
    margin-bottom: $Settings-Page_Section-Small_Margin;

    &:last-child {
        margin-bottom: 0;
    }
}


// This class is intended for adding a custom heading to a form section if a label is not apt
.c-form__section__heading {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


// This section will take up 100% of the container but it is defined as a flexbox and allows for a two column layout;
// one column is a sidebar.
.c-form__section--sidebar {
    display: flex;

    // In the two column layout, this column will take up the greater of the two areas
    .c-form__section__main {
        display: flex;
        flex-direction: column;
    }

    // In the two column layout, this column will take up the lesser of the two columns; also dubbed as a sidebar.
    .c-form__section__aside {
        @include respond-up(md) {
            margin-bottom: $Settings-Page_Section-Small_Margin;
            order: 2;
        }
    }
}


// A modified form section which will declare all form groups inside to be inline blocks which will allow them to live
// happily next to each other. These elements will be display block on small screens.
.c-form__section--inline {
    // The last c-form__group will have 0 margin bottom so we'll be overriding that
    .c-form__group {
        &,
        &:last-child {
            margin-bottom: $Settings-Page_Section-Small_Margin;
        }

        &:last-child {
            margin-right: 0;
        }

        @include respond-up(md) {
            display: inline-block;
            margin-right: $Settings_Page_Section-Small_Margin;
        }
    }

    // Since our c-form__group elements will have margin, cancel out the margin of this section so we don't get double
    // margin
    @include respond-up(md) {
        margin-bottom: 0;
    }
}


// A form group is intended to be a container for a field's errors, labels, and errors. By default, a group will take
// up 100% of the container's width
.c-form__group {
    margin-bottom: $Settings-Page_Section-Small_Margin;

    textarea {
        min-height: 150px;
    }

    // The last form group inside of the parent shouldn't add any extra margin bottom
    &:last-child {
        margin-bottom: 0;
    }
}


// This modified form group will automatically take up the remaining space in the parent container provided that it's a
// flexbox. This will also automatically extend any textareas inside to take up the remaining space.
.c-form__group--flex {
    display: flex;
    flex: 1;
    flex-direction: column;

    textarea {
        flex: 1;
    }
}


// This modifier for a form group that will expect a list of checkboxes and their respective labels; this class will
// ensure that checkboxes and labels are next to each other
.c-form__options {
    label {
        display: inline-block;
        font-weight: normal;
        margin-left: 5px;
    }
}

// A modification to form buttons that makes sure a group of buttons doesn't get spanned between multiple lines
.c-form__buttons {
    > div {
        display: inline-block;
    }
}


// A form choices is a radio button section. This section will by default take up 100% of the container
.c-form__choices {
    > div {
        display: inline-block;
        margin-right: 10px;

        @include respond-only-to(xs) {
            display: block;
        }

        input,
        label {
            display: inline-block;
        }

        label {
            &.required:after {
                content: '';
            }
        }
    }
}


// A modification to the form choices radio section but the options will be listed vertically
.c-form__choices--vertical {
    > div {
        display: block;
    }
}


//
.c-form__timestamp {
    > div {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        select {
            display: inline-block;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}


.c-form__timestamp__time {
    select:not(:first-child) {
        margin-left: 5px;
    }
}

.c-form__errors {
    $errorColor: darken($Color-Red, 20%);

    border: 1px solid $errorColor;
    border-radius: 2px;
    margin: 20px 0 4px;

    // Red exclamation icon container
    .c-form__errors__icon {
        background-color: $errorColor;

        display: flex;
        align-items: center;

        // Vertically centered exclamation icon
        i {
            color: $Color-Almost_White;
            padding: 5px 15px;
        }
    }

    ul {
        padding: 5px 15px;

        li {
            list-style: none;
        }
    }
}