@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #ECECEC;
  font-family: Open Sans, Sans-Serif;
  font-size: 1em; }

a {
  color: #555555; }
  a:hover {
    color: #e69500; }

button {
  margin: 5px; }

h4 {
  margin: 0;
  padding: 0;
  font-size: 19px; }

pre {
  white-space: pre-wrap; }

.float.left {
  float: left; }
.float.right {
  float: right; }

.padding.top {
  padding-top: 10px; }
.padding.left, .padding.right {
  padding-right: 5px; }
.padding.bottom {
  padding-bottom: 15px; }

.wrapper {
  margin: 0 auto;
  width: 1100px; }

header {
  height: 50px; }
  header nav {
    background-color: #555555;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    height: 50px;
    font-size: 14px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20; }
    header nav ul {
      list-style-type: none; }
      header nav ul li {
        float: left;
        display: inline;
        height: 100%;
        margin: 0 auto;
        min-width: 6%;
        text-align: left; }
        header nav ul li a {
          border-right: 1px solid #666666;
          color: #FFFFFF;
          display: block;
          padding: 15px 0;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%; }
          header nav ul li a:hover {
            background-color: #333333;
            color: #FFFFFF; }
        header nav ul li.icon {
          min-width: 3%; }
      header nav ul:first-child li {
        border-left: 1px solid #666666; }
  header .notification {
    border-radius: 0 0 4px 4px;
    border-top: none;
    border: 1px solid #222222;
    box-shadow: 0 0 3px #333333;
    color: #FFFFFF;
    display: none;
    left: 25em;
    min-width: 256px;
    padding: 6px 16px;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 5px #333333;
    top: -1px;
    z-index: 30; }
    header .notification i {
      margin-right: 8px; }
    header .notification.success {
      background-color: #117711;
      display: block; }
    header .notification.error {
      background-color: #991111;
      display: block; }

.content {
  margin-bottom: 20px;
  margin-top: 35px; }
  .content .page {
    margin: 0 auto;
    width: 900px; }
    .content .page h1 {
      background-color: #555555;
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 24px;
      text-align: center;
      padding: 8px 0; }
    .content .page p {
      background-color: #FFFFFF;
      border: 1px solid #bdbdbd;
      border-top: none;
      font-family: Merriweather;
      padding: 12px; }

.table {
  margin: 0 auto; }
  .table.match {
    width: 1000px; }
    .table.match ul li:nth-child(1) {
      width: 23%; }
    .table.match ul li:nth-child(2) {
      width: 5%; }
    .table.match ul li:nth-child(3) {
      width: 10%; }
    .table.match ul li:nth-child(4) {
      width: 7%; }
    .table.match ul li:nth-child(5) {
      width: 8%; }
    .table.match ul li:nth-child(6) {
      width: 10%; }
  .table ul {
    list-style-type: none; }
    .table ul li {
      display: inline-block;
      padding: 10px 30px;
      text-align: center; }
      .table ul li:nth-child(n+2) {
        border-left: 1px solid #bdbdbd; }
    .table ul:nth-child(even) {
      background-color: #F7F7F7; }
    .table ul:nth-child(odd) {
      background-color: #D6D6D6; }
    .table ul:first-child {
      background-color: #FFFFFF;
      border-bottom: 1px solid #bdbdbd; }
