// SCSS Notes
// ----------
// - Comments made with '//' are meant for developers only, they will not appear when this SCSS is compiled to CSS so
//   feel free to use them to make notes
//
// - The style this SCSS file will follow is use the least classes as possible because the more classes there are, the
//   more HTML we have type or generate and it just looks ugly so simply create one parent CSS class and then use other
//   classes only if needed
//
// - There are general use CSS classes for easy access and universal settings such as floating items and padding
//

//
// Font Imports
//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);

//
// Official colors
//
$mainColor: #363D4A;
$border_color: #BDBDBD;
$orange: #E69500;

//
// Global variables
//
$nav_height: 50px;
$page_width: 1000px;

//
// Mixins
//
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
       -moz-box-sizing: $box-model;
            box-sizing: $box-model;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
     -webkit-border-top-left-radius: $radius;
            border-top-right-radius: $radius;
             border-top-left-radius: $radius;
                    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
       -webkit-border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
               border-top-right-radius: $radius;
                       background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
     -webkit-border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
             border-bottom-left-radius: $radius;
                       background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
       -webkit-border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
               border-top-left-radius: $radius;
                      background-clip: padding-box;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); // IE8...
}

//
// HTML Elements
//
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #ECECEC;
    font-family: Open Sans, Sans-Serif;
    font-size: 1em;
}

a {
    color: $mainColor;

    &:hover {
        color: $orange;
    }
}

button {
    margin: 5px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 19px;
}

pre {
    white-space: pre-wrap;
}

//
// Universal classes
//

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1100px;
}

//
// The header of the website
//
header {
    height: $nav_height;

    //
    // The navigation bar
    //
    // I've put the the nav css inside of the header instead of on its own in the strange case where there are more
    // than one <nav> object.
    //
    // This object is just a container for the actual navigation bar; it will contain the unordered list that contains
    // the menu items.
    nav {
        background-color: $mainColor;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
        height: $nav_height;
        font-size: 14px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;

        // We need to set up this unordered list to not have any bullet points
        ul {
            list-style-type: none;

            // Now we need to set each menu item, or list item, to line up nicely next to each other so we can have
            // be laid out horizontally
            li {
                float: left;
                display: inline;
                height: 100%;
                margin: 0 auto;
                min-width: 9%;
                text-align: left;

                // This will be the actual hyper link so we need to format it to be large with padding and a width
                // or else we will not be able to click the general area of a menu button
                a {
                    border-right: 1px solid #666666;
                    color: #FFFFFF;
                    display: block;
                    padding: 15px 0;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;

                    // We're hovering over the menu button so change the background and keep the font color white
                    &:hover {
                        background-color: #333333;
                        color: #FFFFFF;
                    }
                }

                // Our icons in the menu bar will have a different height so we need to assign it a different width to
                // to it
                &.icon {
                    min-width: 3%;
                }
            }

            // Because are adding a right border on all of the elements, we need have one on the far right, so this
            // will naturally be the first child of the unordered list
            &:first-child {
                li {
                    border-left: 1px solid #666666;
                }
            }
        }
    }

    // The notification that will appear on the header for status of requests
    .notification {
        border-radius: 0 0 4px 4px;
        border: 1px solid #222222;
        border-top: none;
        box-shadow: 0 0 3px #333333;
        color: #FFFFFF;
        display: none;
        left: 25em;
        min-width: 256px;
        padding: 6px 16px;
        position: fixed;
        text-align: center;
        text-shadow: 1px 1px 5px #333333;
        top: -1px;
        z-index: 30;

        i {
            margin-right: 8px;
        }

        // Notification types
        &.success {
            background-color: #117711;
            display: block;
        }

        &.error {
            background-color: #991111;
            display: block;
        }
    }
}

// This will be the class that contains all of a page's contents
.content {
    margin-bottom: 20px;
    margin-top: 35px;

    // This will be our normal page with information
    article {
        border-bottom: 1px solid $border_color;
        margin: 0 auto;
        width: 900px;

        // This will always be the title of the article or the page
        h1 {
            background-color: $mainColor;
            color: #FFFFFF;
            font-family: "Open Sans";
            font-size: 24px;
            text-align: center;
            padding: 8px 0;
        }

        // The content of the page
        p {
            background-color: #FFFFFF;
            border-left: 1px solid $border_color;
            border-right: 1px solid $border_color;
            border-top: none;
            font-family: Merriweather;
            padding: 12px;
        }

        // If the page has an author, such as a news article or a ban announcement, the footer is where the author would go
        footer {
            background-color: #FFFFFF;
            border-left: 1px solid $border_color;
            border-right: 1px solid $border_color;
            padding: 0 20px 10px;
            text-align: right;
        }
    }
}

.messaging {
    .conversations {
        display: inline-block;
        width: 350px;

        .toolbar {
            background-color: $mainColor;
            display: inline-block;
            width: 100%;

            li {
                display: inline-block;
                margin: 5px 5px 5px 15px;

                a {
                    color: #ffffff;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }

        .compose {
            background-color: #ffffff;
            display: block;
            padding: 5px 0;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

        .chats {
            li {
                background-color: #ffffff;
                display: block;
                list-style-type: none;
                margin: 2px 0;
                width: 100%;

                a {
                    text-decoration: none;

                    .subject {
                        color: #000000;
                        float: left;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 5px 0 0 10px;
                    }

                    .last_activity {
                        float: right;
                        font-size: 12px;
                        padding: 10px 10px 0 0;
                    }

                    .members {
                        color: #99A0A3;
                        font-family: "Open Sans"-light;
                        font-size: 12px;
                        padding-left: 25px;
                    }

                    .last_message {
                        color: #000000;
                        font-family: Arial;
                        font-size: 16px;
                        padding: 5px 0 10px 10px;
                    }

                    &:hover {
                        color: #000000;
                    }
                }

                &:hover {
                    background-color: #F2FBFF;
                }
            }
        }
    }

    .chat_area {
        display: inline-block;
        vertical-align: top;
        width: 745px;

        .group_message_toolbar {
            background-color: $mainColor;
            color: #FFFFFF;
            padding: 5px 10px;
        }

        .compose_form {
            background-color: #FFFFFF;

            .input_group {
                display: table;
                padding: 15px 10px;
                table-layout: auto;
            }

            .input_group_row {
                display: table-row;
            }

            .input_group label {
                display: table-cell;
                padding-right: 5px;
                text-align: left;
            }

            .input_group_main {
                @include box-sizing(border-box);
                @include border-radius(0);
                display: table-cell;
                height: 29px;
                width: 100%;
            }

            .input_group_main input[type=text] {
                @include box-sizing(border-box);
                background-image: linear-gradient(rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
                border: 1px solid #eee;
                font-family: O;
                font-size: 13px;
                margin-top: 1px;
                padding: 5px 5px 5px 5px;
                width: 100%;
            }
        }
    }
}

// Because tables are atrocious for responsive designs, we have our own CSS to give unordered lists the appearance of
// being in columns and rows
.table {
    margin: 0 auto;

    // Because different pages will have different tables, here we have set the CSS settings for the matches table
    &.teams {
        width: 1000px;

        // Set the width of all the columns based on the nth-child. I will throw a tantrum if IE9 is stupid and doesn't
        // support nth-child. -allejo
        ul {
            overflow: hidden;
            width: 100%;

            li {
                float: left;

                &:nth-child(1) {
                    width: 23%;
                }

                &:nth-child(2) {
                    width: 5%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 7%;
                }

                &:nth-child(5) {
                    width: 8%;
                }

                &:nth-child(6) {
                    width: 10%;
                }
            }
        }
    }

    // Each unordered list will act as a row of the table
    ul {
        list-style-type: none;

        // Each list item will act as a column of a row, so we need to have them sit next to each other nicely
        li {
            display: inline-block;
            padding: 10px 30px;
            text-align: center;

            // Add a left border for all of the "columns" except for the first one
            &:nth-child(n+2) {
                border-left: 1px solid $border_color;
            }
        }

        // Color code the rows
        &:nth-child(even) {
            background-color: #F7F7F7;
        }

        &:nth-child(odd) {
            background-color: #D6D6D6;
        }

        // Our first row, or unordered list, will always act as the header so design it respectively
        &:first-child {
            background-color: #FFFFFF;
            border-bottom: 1px solid $border_color;
        }
    }
}