footer {
    background-color: $lightBlue;
    font-family: $sanSerifFont;
    line-height: $footerHeight;
    width: 100%;

    .wrapper {
        overflow: auto;

        .copyright {
            float: left;
        }

        .links {
            float: right;

            ul {
                li {
                    display: inline-block;

                    a {
                        color: $darkBlue;
                        padding: 0 10px;
                    }

                    &:nth-child(n+2)
                    {
                        &:before {
                            color: $darkBlue;
                            content: "|";
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}