// The header of the page where the logo, account info, and navigation will go
header {
    background-color: #FFFFFF;

    section {
        // The logo and account information will go in this section
        .wrapper {
            height: 80px;

            .logo {
                @extend .clearfix;

                float: left;
                height: 100%;
                position: relative;

                img {
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            // The upper right profile widget with edit profile and log out options
            .profile {
                background-color: $darkBlue;
                color: #FFFFFF;
                float: right;
                font-family: $sanSerifFont;
                height: calc(100% - 20px);
                padding: 10px 15px;
                position: relative;
                width: 275px;

                // This is the avatar for the person
                img {
                    float: left;
                    margin-right: 10px;
                }

                // The actual link to edit your profile and display of your callsign
                .options {
                    float: left;

                    // The user's username
                    h2 {
                        font-size: 22px;
                        font-weight: 300;
                        height: 30px;
                        max-width: 200px;
                        overflow: hidden;
                    }

                    // All hyperlinks in the profile widget
                    a {
                        color: #FFFFFF;
                        display: block;
                        font-size: 12px;
                        font-weight: 300;
                        text-decoration: none;

                        &:hover {
                            color: $orange;
                        }
                    }
                }

                // The logout button
                .icons {
                    bottom: 10px;
                    list-style-type: none;
                    position: absolute;
                    right: 10px;

                    li {
                        float: right;
                        font-size: 18px;
                        padding: 0 5px;

                        a {
                            color: #FFFFFF;

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }

    // The navigation bar section
    nav {
        background-color: $darkBlue;
        list-style-type: none;
        overflow: auto;

        // The actual navigation bar
        ul {
            height: 55px;

            // All of the navigation elements
            li {
                display: inline;
                float: left;
                text-align: left;
                width: 75px;

                &.active, &:hover {
                    $activeTextColor: #FFFFFF;

                    background-color: $orange;

                    a {
                        color: $activeTextColor;

                        i {
                            background-color: $orange;
                            border-color: $activeTextColor;
                        }
                    }
                }

                a {
                    color: #FFFFFF;
                    display: block;
                    padding: 10px; // Use padding in order to expand the hyperlink to expand the <li> where the link is stored
                    text-align: center;

                    i {
                        font-size: 25px;
                        padding: 5px;
                        text-align: center;

                        &.fa-users {
                            padding: 5px 6px 5px 4px;
                        }
                    }
                }
            }
        }
    }
}