.banner {
    background-color: $orange;
    margin: 0 auto;
    overflow: auto;

    // Our banner will always be an image
    img {
        float: left; // Float the image or else they'll be some weird gap at the bottom of the .banner div
    }
}

.circle_points {
    font-family: $sanSerifFont;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 50px;
        width: 200px;

        i {
            $iconSize: 70px;

            @include border-radius(50%);

            border: 1px solid #000000;
            height: $iconSize;
            font-size: $iconSize - 10px;
            width: $iconSize;

            //
            // Because the icons aren't always perfectly centered, there are some custom padding rules in order to center them as perfectly as possible
            //    (all of these icons will end up being 110px by 110px)
            //
            &.fa-gamepad {
                padding: 21px 19px 17px 19px;
            }

            &.fa-info {
                padding: 27px 19px 11px 19px;
            }

            &.fa-list-ul {
                padding: 25px 19px 13px 19px;
            }
        }

        h3 {
            font-size: 24px;
            font-weight: 300;
            margin: 5px 0;
        }
    }
}

.key_points {
    background-color: #FFFFFF;
    padding: 30px 0;
}

section {
    font-family: $sanSerifFont;
    overflow: auto;

    h2 {
        font-weight: 300;
    }

    aside {
        float: left;
        width: 45%;

        .news {
            list-style-type: none;
            margin-left: 20px;
            margin-top: 10px;

            li {
                margin: 10px 0;

                h3 {
                    font-family: $sanSerifFont;
                    font-weight: 700;

                    a {
                        color: $darkBlue;
                    }
                }

                p {
                    font-family: $serifFont;
                    margin-left: 10px;
                }
            }
        }
    }

    .recent_matches {
        float: right;
        width: 55%;

        .matches_table {
            $cellSize: 170px;

            float: right;
            margin: 10px 10px 20px;

            .row {
                .column {
                    $paddingSize: 20px;

                    height: $cellSize;
                    padding: $paddingSize;
                    position: relative;
                    text-align: center;
                    width: $cellSize;

                    .team {
                        display: inline-block;

                        strong {
                            display: block;
                            text-align: center;
                        }
                    }

                    .stats {
                        bottom: $paddingSize;
                        font-size: 14px;
                        left: $paddingSize;
                        position: absolute;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}