.banner {
    background-color: $orange;
    margin: 0 auto;
    overflow: auto;

    // Our banner will always be an image
    img {
        float: left; // Float the image or else they'll be some weird gap at the bottom of the .banner div
    }
}

.recent_matches {
    $cellSize: 180px;

    font-family: $sanSerifFont;

    .row {
        .column {
            $paddingSize: 20px;

            height: $cellSize;
            padding: $paddingSize;
            position: relative;
            text-align: center;
            width: $cellSize;

            .team {
                display: inline-block;

                strong {
                    display: block;
                    text-align: center;
                }
            }

            .stats {
                bottom: $paddingSize;
                font-size: 14px;
                left: $paddingSize;
                position: absolute;
                text-transform: uppercase;
            }
        }
    }
}