* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

a {
    color: $redOrange;
    text-decoration: none;

    &:hover {
        color: $lightBlue;
    }
}

body {
    background-image: url("../imgs/background.png");
    display: table;
    font-family: $serifFont;
    font-size: 1em;
    width: 100%;
}

.circle_points {
    font-family: $sanSerifFont;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 50px;
        width: 200px;

        i {
            $iconSize: 70px;

            @include border-radius(50%);

            border: 1px solid #000000;
            height: $iconSize;
            font-size: $iconSize;
            padding: 20px;
            width: $iconSize;
        }

        h3 {
            font-size: 24px;
            font-weight: 300;
            margin: 5px 0;
        }

        p {

        }
    }
}

.css-table {
    border-collapse: collapse;
    display: table;

    .row {
        display: table-row;

        .column {
            @include box-sizing(border-box);

            border: 1px solid #BBBBBB;
            display: table-cell;
            height: 20px;
            width: 120px;
        }
    }
}

.page {
    display: table-row;
    height: 100%;

    .content {
        display: table;
        margin-top: 20px;
        overflow: hidden;
    }
}

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}