* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

a {
    color: $redOrange;
    text-decoration: none;

    &:hover {
        color: $lightBlue;
    }
}

body {
    background-image: url("../imgs/background.png");
    display: table;
    font-family: $serifFont;
    font-size: 1em;
    width: 100%;
}

.page {
    display: table-row;
    height: 100%;

    .content {
        display: table;
        overflow: hidden;
    }
}

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}