[submodule "web/includes/ladda"]
	path = web/includes/ladda
	url = https://github.com/hakimel/Ladda.git
[submodule "web/includes/chartjs"]
	path = web/includes/chartjs
	url = https://github.com/nnnick/Chart.js.git
[submodule "web/includes/tipsy"]
	path = web/includes/tipsy
	url = https://github.com/jaz303/tipsy.git
[submodule "web/includes/favicojs"]
	path = web/includes/favicojs
	url = https://github.com/ejci/favico.js.git
[submodule "web/assets/css/vendor/OnTheRocks"]
	path = web/assets/css/vendor/OnTheRocks
	url = https://github.com/allejo/OnTheRocks.git
[submodule "web/assets/css/vendor/include-media"]
	path = web/assets/css/vendor/include-media
	url = https://github.com/eduardoboucas/include-media.git
[submodule "web/includes/markdown-it"]
	path = web/includes/markdown-it
	url = https://github.com/markdown-it/markdown-it.git
