[submodule "includes/strolljs"]
	path = includes/strolljs
	url = git@github.com:hakimel/stroll.js.git
[submodule "includes/niftyjs"]
	path = includes/niftyjs
	url = git@github.com:kongr45gpen/Nifty.js.git
[submodule "includes/ladda"]
	path = includes/ladda
	url = git@github.com:hakimel/Ladda.git
