<Files ".ht*">
    Order Allow,Deny
    Deny from all
</Files>

<Files "bzion_errors.log">
    Order Allow,Deny
    Deny from all
</Files>

Options -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Uncomment this line and set it to bzion's directory
# if you are experiencing issues with mod_rewrite
#RewriteBase /

# Rewrite rule for profile
# Example:
#       http://example.com/profile.php?action=edit
#                   becomes
#       http://example.com/profile/edit
RewriteRule ^profile/(.+)$ profile.php?action=$1 [QSA,NC,L]
RewriteRule ^profile profile.php [QSA,NC,L]

# Rewrite rule for teams
# Example:
#       http://example.com/teams.php?alias=bzion
#                   becomes
#       http://example.com/teams/bzion
RewriteRule ^teams/([0-9]+)$ teams.php?id=$1 [QSA,NC,L]
RewriteRule ^teams/(.+)$ teams.php?alias=$1 [QSA,NC,L]
RewriteRule ^teams teams.php [QSA,NC,L]

# Rewrite rule for players
# Example:
#       http://example.com/players.php?alias=bzion
#                   becomes
#       http://example.com/players/bzion
RewriteRule ^players/([0-9]+)$ players.php?id=$1 [QSA,NC,L]
RewriteRule ^players/(.+)$ players.php?alias=$1 [QSA,NC,L]
RewriteRule ^players players.php [QSA,NC,L]

# Rewrite rule for matches
# Example:
#       http://example.com/matches.php?alias=bzion
#                   becomes
#       http://example.com/matches/bzion
RewriteRule ^matches/([0-9]+)$ matches.php?id=$1 [QSA,NC,L]
RewriteRule ^matches/(.+)$ matches.php?alias=$1 [QSA,NC,L]
RewriteRule ^matches matches.php [QSA,NC,L]

# Rewrite rule for news
# Example:
#       http://example.com/news.php
#                   becomes
#       http://example.com/news
RewriteRule ^news news.php [QSA,NC,L]

# Rewrite rule for bans
# Example:
#       http://example.com/bans.php
#                   becomes
#       http://example.com/bans
RewriteRule ^bans bans.php [QSA,NC,L]

# Rewrite rule for themes                                                                                                                                                                           
# Example:                                                                                                                                                                                                 #       http://example.com/themes.php                                                                                                                                                                      
#                   becomes                                                                                                                                                                                
#       http://example.com/themes                                                                                                                                                                          
RewriteRule ^themes themes.php [QSA,NC,L]     

# Rewrite rule for servers
# Example:
#       http://example.com/servers.php
#                   becomes
#       http://example.com/servers
RewriteRule ^servers servers.php [QSA,NC,L]

# Rewrite rule for messages
# Example:
#       http://example.com/messages.php?id=1
#                   becomes
#       http://example.com/messages/1
RewriteRule ^messages/(.+)$ messages.php?id=$1 [QSA,NC,L]
RewriteRule ^messages messages.php [QSA,NC,L]

# Rewrite rule for pages
# Example:
#       http://example.com/pages.php?alias=bzion
#                   becomes
#       http://example.com/bzion
# ************************************
# * NOTE: THIS RULE MUST BE THE LAST *
# *       RULE IN THE FILE OTHERWISE *
# *       THINGS WILL GET REAL WEIRD *
# ************************************
RewriteRule ^([0-9]+)$ pages.php?id=$1 [QSA,NC,L]
RewriteRule ^([a-z\-_]+)$ pages.php?alias=$1 [QSA,NC,L]
