<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
  <testsuites>
    <testsuite name="BzIon Test Suite">
      <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="error_reporting" value="-1" />
    <server name="KERNEL_DIR" value="app/" />
  </php>

  <filter>
    <blacklist>
      <directory suffix=".php">app/cache</directory>
      <directory suffix=".php">src/Command</directory>
      <directory suffix=".php">includes</directory>
      <directory suffix=".php">tests</directory>
      <directory suffix=".php">vendor</directory>
    </blacklist>
  </filter>
</phpunit>
