main {
    &.administration {
        font-family: $sansSerifFont;

        .admins {
            @extend .clearfix;
            @extend .wrapper;

            .button {
                i {
                    margin-right: 10px;
                }
            }

            ul {
                @extend .clearfix;

                padding-left: 0;

                li {
                    @extend .clearfix;
                    @include box-sizing(border-box);

                    float: left;
                    padding: 20px 10px;
                    width: 25%;

                    .player_avatar {
                        $avatarSize: 50px;

                        height: $avatarSize;
                        width: $avatarSize;
                    }

                    .info {
                        display: inline-block;
                        margin: 10px;
                        vertical-align: top;

                        .callsign {
                            display: inline-block;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}