@mixin make-alert($background, $border, $text-color) {
    background-color: $background;
    border-color: $border;
    color: $text-color;

    hr {
        border-top-color: darken($border, 5%);
    }

    a {
        color: darken($text-color, 10%);
        font-weight: bold;
    }
}

@include component('alert') {
    @include modifier('success') {
        @include make-alert($Alert-Success-Background, $Alert-Success-Border, $Alert-Success-Text);
    }

    @include modifier('info') {
        @include make-alert($Alert-Informational-Background, $Alert-Informational-Border, $Alert-Informational-Text);
    }

    @include modifier('warning') {
        @include make-alert($Alert-Warning-Background, $Alert-Warning-Border, $Alert-Warning-Text);
    }

    @include modifier('danger') {
        @include make-alert($Alert-Danger-Background, $Alert-Danger-Border, $Alert-Danger-Text);
    }
}
