@mixin make-alert($background, $border, $text-color) {
    background-color: $background;
    border-color: $border;
    color: $text-color;

    hr {
        border-top-color: darken($border, 5%);
    }

    a {
        color: darken($text-color, 10%);
        font-weight: bold;
    }
}

%alert-success {
    @include make-alert($Alert-Success-Background, $Alert-Success-Border, $Alert-Success-Text);
}

%alert-informational {
    @include make-alert($Alert-Informational-Background, $Alert-Informational-Border, $Alert-Informational-Text);
}

%alert-warning {
    @include make-alert($Alert-Warning-Background, $Alert-Warning-Border, $Alert-Warning-Text);
}

%alert-danger {
    @include make-alert($Alert-Danger-Background, $Alert-Danger-Border, $Alert-Danger-Text);
}

%alert-neutral {
    @include make-alert($Alert-Neutral-Background, $Alert-Neutral-Border, $Alert-Neutral-Text);
}

.c-alert {

}

.c-alert--success {
    @extend %alert-success;
}

.c-alert--info {
    @extend %alert-informational;
}

.c-alert--warning {
    @extend %alert-warning;
}

.c-alert--danger {
    @extend %alert-danger;
}

.c-alert--neutral {
    @extend %alert-neutral;
}

.c-flashbag {
    $width: 50%;

    height: 0;
    left: 50%;
    margin: 0 0 0 (-1 * ($width / 2));
    position: fixed;
    top: 0;
    width: $width;
    z-index: 100;
}

.c-flashbag__item {
    animation: slide linear 1s forwards;
    animation-delay: 3s;
    border: 1px solid;
    border-bottom-left-radius: $Border-Radius;
    border-bottom-right-radius: $Border-Radius;
    border-top: 0;
    padding: 10px 0;
    text-align: center;
    transform-origin: 50% 50%;
}

@keyframes slide {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -45px);
    }
}

.c-system-alert {
    background-color: #FF4756;
    color: $Color-White;
    padding: 20px;
    text-align: center;

    a {
        color: #AD1625;
        font-weight: bold;
    }

    h1 {
        margin-bottom: 10px;
    }

    .collapsible-close {
        position: absolute;
        right: $Settings-Page_Section-Small_Margin;
        top: $Settings-Page_Section-Small_Margin;
    }
}