// Our color palette
$Color-White: #FFFFFF;
$Color-Almost_White: #F7F7F7;
$Color-Blue_Grey: #F4F7FB;
$Color-Off_White: #E9E9E9; // Deprecated; Use $Border-Light_Color instead
$Color-Light_Grey: #B8B8B8;
$Color-Medium_Grey: #656565;
$Color-Grey: #515051;
$Color-Dark_Grey: #333333;
$Color-Black: #000000;
$Color-Sky_Blue: #009EFF;
$Color-Blue: #258EC9;
$Color-Orange: #FF6700;
$Color-Yellow: #FDCE46;
$Color-Red: #FF0000;
$Color-Green: #008000;

// Page settings
$Settings-Background_Color: $Color-White;
$Settings-Base_Font_Size: 16px;
$Settings-Line_Height: 1.4em;
$Settings-Page_Section-Margin: 30px;
$Settings-Page_Section-Small_Margin: 15px;
$Settings-Page_Section-Tiny_Margin: 5px;

// Borders
$Border-Color: #E9E9E9;
$Border-Type: solid;
$Border-Width: 1px;
$Border-Default: $Border-Width $Border-Type $Border-Color;
$Border-Radius: 3px;

// Font colors
$Font-Color-Default: $Color-Black;
$Font-Color-Muted: $Color-Medium_Grey;
$Font-Color-Hyperlink: $Color-Sky_Blue;

// Match Colors
$Match-Color_Wins: #03A747;
$Match-Color_Losses: #B80101;
$Match-Color_Draws: #B6D1D8;

// Alert notification colors
$Alert-Success-Background: #DFF0D8;
$Alert-Success-Text: #3C763D;
$Alert-Success-Border: darken(adjust-hue($Alert-Success-Background, -10), 5%);

$Alert-Informational-Background: #D9EDF7;
$Alert-Informational-Text: #31708F;
$Alert-Informational-Border: darken(adjust-hue($Alert-Informational-Background, -10), 7%);

$Alert-Warning-Background: #FCF8E3;
$Alert-Warning-Text: #8A6D3B;
$Alert-Warning-Border: darken(adjust-hue($Alert-Warning-Background, -10), 5%);

$Alert-Danger-Background: #F2DEDE;
$Alert-Danger-Text: #A94442;
$Alert-Danger-Border: darken(adjust-hue($Alert-Danger-Background, -10), 5%);

$Alert-Neutral-Background: #f2f2f2;
$Alert-Neutral-Text: #a9a9a9;
$Alert-Neutral-Border: darken(adjust-hue($Alert-Neutral-Background, -10), 5%);

// Form Settings
$Form-Action_Color: $Color-Sky_Blue;
$Form-Error_Color: desaturate($Color-Red, 60%);
$Form-Base_Background_Color: $Color-White;
$Form-Border_Color: #DDDDDD;
$Form-Border_Radius: 3px;
$Form-Box_Shadow: inset 0 1px 3px rgba($Color-Black, 0.06);
$Form-Box_Shadow_Error: inset 0 0 7px rgba($Form-Error_Color, 0.3);
$Form-Box_Shadow_Focus: $Form-Box_Shadow, 0 0 5px adjust-color($Form-Action_Color, $lightness: -5%, $alpha: -0.3);
$Form-Box_Shadow_Error_Focus: $Form-Box_Shadow_Error, 0 0 5px adjust-color($Form-Error_Color, $lightness: -5%, $alpha: -0.3);
$Form-Spacing: 1.5em;
$Form-Small_Spacing: $Form-Spacing / 2;

// Table Settings
$Table-Background: transparent;
$Table-Background-Accent: #F9F9F9;
$Table-Background-Active: #F5F5F5;
$Table-Background-Hover: $Table-Background-Active;
$Table-Border: $Border-Default;
$Table-Cell_Padding: 8px;
$Table-Cell_Padding_Condensed: 5px;

// Typography
$Font-Sans_Serif: 'LatoLatinWeb', sans-serif;
$Font-Serif: serif;

// Mobile-first Breakpoints
$breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xxxl: 1920px
);