@mixin buttonColor($color) {
    $dark_color: darken($color, 7%);

    @include linear-gradient($color, $dark_color);

    border: 1px solid $dark_color;
    color: set-text-from-color($color);

    &:hover {
        text-decoration: none;

        &:not(.nohover) {
            $hoverColor: darken($color, 3%);
            $hoverDarkColor: darken($hoverColor, 7%);

            @include linear-gradient($hoverColor, $hoverDarkColor);

            color: set-text-from-color($hoverColor);
            border: 1px solid $hoverDarkColor;
        }
    }
}

$Button-Colors: (
    "red": #DB3434,
    "blue": #3498DB,
    "grey": #dbdbdb,
    "black": #4F4F4F,
    "green": #34DB6D,
    "orange": #ff8400,
    "purple": #6F34DB,
    "yellow": #FFB608
);

.button {
    border-radius: 3px;
    color: $Color-White;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 15px 5px;
    text-decoration: none;

    &:hover {
        color: $Color-White;
    }

    // Additional classes
    &.skinny {
        padding: 1px 15px 3px;
    }

    &.noclick {
        cursor: default;
    }

    @each $color, $value in $Button-Colors {
        &.#{$color} {
            @include buttonColor($value)
        }
    }
}