$Button-Colors: (
    "red": #DB3434,
    "blue": #3498DB,
    "grey": #DBDBDB,
    "black": #4F4F4F,
    "green": #34DB6D,
    "orange": #FF8400,
    "purple": #6F34DB,
    "yellow": #FFB608
);

@include component('button') {
    border-radius: $Border-Radius;
    color: $Color-White;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 3px 15px 4px 13px;
    text-decoration: none;

    // Additional classes
    @include modifier('skinny') {
        padding: 0 15px 1px;
    }

    @include modifier('no-click') {
        cursor: default;
    }

    @each $color, $value in $Button-Colors {
        @include modifier($color) {
            $dark_color: darken($value, 7%);

            background: linear-gradient($value, $dark_color);
            border: 1px solid $dark_color;
            color: set-text-from-color($value);

            &:hover {
                color: set-text-from-color($value);
                text-decoration: none;

                &:not(.c-button--no-hover):not(.c-button--display) {
                    $hoverColor: darken($value, 3%);
                    $hoverDarkColor: darken($hoverColor, 7%);

                    background: linear-gradient($hoverColor, $hoverDarkColor);
                    border-color: $hoverDarkColor;
                    color: set-text-from-color($hoverColor);
                }
            }
        }
    }

    @include modifier('display') {
        // scss-lint:disable PlaceholderInExtend
        @extend .c-button--skinny;
        @extend .c-button--no-click;
    }

    i {
        @extend %fa-fw;
    }
}
