@mixin buttonColor($colorParam, $textColor: $White) {
    $color: $colorParam;
    $dark_color: darken($color, 7%);

    @include linear-gradient($color, $dark_color);
    border: 1px solid $dark_color;

    @if $textColor != $White {
        color: $textColor;
    }

    &:hover {
        color: $textColor;
        text-decoration: none;

        &:not(.nohover) {
            $hoverColor: $dark_color;
            $hoverDarkColor: darken($hoverColor, 3%);

            @include linear-gradient($hoverColor, $hoverDarkColor);
            border: 1px solid $hoverDarkColor;
        }
    }
}

.button {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    padding: .2em 2em .25em;
    text-align: center;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;

    // Colors
    &.black {
        @include buttonColor(#4F4F4F);
    }

    &.blue {
        @include buttonColor(#3460cf);
    }

    &.green {
        @include buttonColor(#14BA2C);
    }

    &.grey {
        @include buttonColor(#E9E9E9, #595959);
    }

    &.orange {
        @include buttonColor(#ff8400);
    }

    &.red {
        @include buttonColor(#FF5549);
    }

    &.yellow {
        @include buttonColor(#FFB608);
    }

    // Additional classes
    &.skinny {
        padding: 0.1em 2em .20em;
    }

    &.noclick {
        cursor: default;
    }
}

