@include component('footer') {
    @extend %wrapper;

    border-top: 1px solid $Border-Color;
    display: flex;
    padding: {
        bottom: 20px;
        top: 20px;
    }

    @include element('copyright') {
        @include element('development') {
            font-size: 0.9em;
            margin-left: 10px;
            text-transform: lowercase;
        }
    }

    @include element('pages') {
        flex: 1;
        text-align: right;

        @include respond-to(sm) {
            text-align: left;
        }

        li {
            margin-left: 20px;

            @include respond-to(sm) {
                margin: {
                    bottom: 10px;
                    left: 0;
                    right: 20px;
                }
            }

            @include respond-to(xs) {
                margin-right: 10px;
            }
        }
    }

    @include respond-to(sm) {
        flex-direction: column-reverse;
    }
}
