body {
    footer {
        @extend %wrapper;
        @include display(flex);

        border-top: 1px solid #E9E9E9;
        padding: 20px 10px;

        .copyright {
            .development {
                font-size: 0.9em;
                margin-left: 10px;
                text-transform: lowercase;
            }

            @include respond-to(phablets) {
            }
        }

        .pages {
            @include flex(1);

            text-align: right;

            li {
                margin-left: 20px;

                @include respond-to(phablets) {
                    margin: {
                        bottom: 10px;
                        left: 0;
                        right: 20px;
                    }
                }
            }

            @include respond-to(phablets) {
                text-align: left;
            }
        }

        @include respond-to(phablets) {
            @include flex-direction(column-reverse);
        }
    }
}