// scss-lint:disable QualifyingElement

// Thanks to ThoughtBot's Bitters for this awesome template
//
// https://github.com/thoughtbot/bitters


// ==========================================
// Set up the formatting of the generic items
// ==========================================

button {
    // scss-lint:disable PlaceholderInExtend
    @extend .c-button;
    @extend .c-button--blue;
}

fieldset {
    background-color: lighten($Form-Border_Color, 10%);
    border: $Border-Default;
    margin: 0;
    padding: $Form-Small_Spacing;
}

input,
label,
select {
    display: block;
    font-family: $Font-Sans_Serif;
    font-size: 16px;
}

label {
    font-weight: 600;
    margin-bottom: $Form-Small_Spacing / 2;

    &.required::after {
        color: $Color-Red;
        content: '*';
        padding-left: 3px;
    }

    abbr {
        display: none;
    }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
    background-color: $Form-Base_Background_Color;
    border: $Border-Default;
    border-radius: $Border-Radius;
    box-shadow: $Form-Box_Shadow;
    box-sizing: border-box;
    font-family: $Font-Sans_Serif;
    font-size: 16px;
    padding: $Form-Spacing / 3;
    transition: border-color;
    width: 100%;

    &:hover {
        border-color: darken($Form-Border_Color, 10%);
    }

    &:focus {
        border-color: $Form-Action_Color;
        box-shadow: $Form-Box_Shadow_Focus;
        outline: none;
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: $Form-Small_Spacing / 2;
}

input[type="file"] {
    padding-bottom: $Form-Small_Spacing;
    width: 100%;
}

select {
    max-width: 100%;
    width: auto;
}

// ========================================
// Set up the structure of all of the forms
// ========================================

@include component('form') {
    margin-bottom: $Settings-Page_Section-Margin;

    @include element('editor') {
        margin-bottom: $Settings-Page_Section-Small_Margin;

        @include element('body') {
            @include element('content') {
                min-height: 270px;

                @include modifier('small') {
                    min-height: 140px;
                }
            }

            @include element('timestamp') {
                $Margin: 7px;

                @include element ('date', 'time') {
                    display: inline-block;
                    width: auto;

                    select {
                        display: inline-block;
                        margin-right: $Margin;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                @include element('date') {
                    margin-right: 15px;
                }

                @include element('time') {
                    select {
                        margin-left: $Margin;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            div {
                margin-bottom: $Form-Small_Spacing;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @include element('meta') {
            @include respond-to(phablets) {
                div {
                    float: left;
                    margin-right: 15px;

                    @include respond-to(phablets) {
                        margin-bottom: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            div {
                margin-bottom: $Form-Spacing;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        > section > div {
            width: 100%;
        }
    }

    @include element('actions', 'buttons') {
        text-align: left;
    }

    // The actions element will contain any misc. actions to be taken on an element
    @include element('actions') {
        article,
        section {
            > div {
                display: inline-block;
                margin-bottom: 15px;
                margin-right: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // The buttons element will contain any and all buttons a form contains
    @include element('buttons') {
        > div {
            display: inline-block;
            margin-right: 10px;
        }
    }

    @include element('choice-list') {
        @include element('item') {
            display: inline-block;
            margin-right: 10px;

            @include respond-only-to(phones) {
                display: block;
            }

            input,
            label {
                display: inline-block;
            }
        }

        @include modifier('vertical') {
            .c-form__choice-list__item {
                display: block;
            }
        }
    }
}

@include scope('avatar-form') {
    @include component('avatar-container') {
        @include respond-only-to(phablets) {
            @include make-container();
        }

        @include element('image') {
            @include respond-only-to(phablets) {
                @include make-columns(5);
            }

            @include respond-to(phablets) {
                margin-bottom: 0;
            }

            @include respond-to(phones) {
                margin-bottom: $Settings-Page_Section-Small_Margin;
                text-align: center;
            }

            img {
                width: 100%;

                @include respond-to(phones) {
                    width: 60%;
                }
            }
        }

        @include element('options') {
            @include element('upload') {
                margin-bottom: 5px;
            }

            @include respond-only-to(phablets) {
                @include make-columns(7);
            }
        }
    }
}


// ===========================================
// Placeholders that'll override form elements
// ===========================================

// @TODO Rewrite this without !important statements
%remove-input-style {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
