// Hex values for colors that are used only in the header; there's no need to store them
// globally in the base file
$Color-Header_Border: #D4D4D4;

// 56px is a magic number. It's the height of the menu links with the padding and font-size
// calculated together
$Settings-Line_Height: 56px;

header {
    &.page-header {
        @include linear-gradient($Color-White, #F2F2F2);

        box-shadow: 0 2px 5px rgba(50, 50, 50, 0.075);
        border-bottom: 1px solid $Color-Header_Border;

        // The menu bar container that will keep the menu in the wrapper
        .menu-bar {
            @extend %wrapper;
            @include display(flex);

            .mobile-menu {
                color: $Color-Medium_Grey;
                display: none;
                line-height: $Settings-Line_Height;
                margin: {
                    left: 17px;
                    right: 15px;
                }

                @include respond-to(tablets) {
                    display: block;
                }
            }

            h1 {
                @include flex(initial);

                margin-right: 15px;
                width: auto;

                a {
                    color: $Color-Medium_Grey;
                    font-size: 26px;
                    line-height: 56px;

                    img {
                        margin-right: 3px;
                        margin-top: -7px;
                        vertical-align: middle;

                        @include respond-to(tablets) {
                            display: none;
                        }
                    }

                    @include respond-to(phablets) {
                        font-size: 22px;
                    }
                }
            }

            nav {
                @include display(flex);
                @include flex(1);

                ul {
                    padding-left: 0;

                    li {
                        float: left;
                        list-style: none;

                        a {
                            color: $Color-Medium_Grey;
                            display: block;
                            padding: 17px 15px;

                            // This rule exists because all outgoing links automatically have an external link symbol added
                            // so we need to hide it in the navigation for the login button
                            &:after {
                                display: none;
                            }

                            &:hover {
                                color: $Color-Black;
                            }

                            @include respond-to(phones) {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }

                        &.active {
                            box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.25);
                        }

                        &:hover {
                            box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.1);
                        }
                    }

                    &.pages {
                        @include flex(1);
                        @include respond-to(tablets) {
                            background-color: $Color-Almost_White;
                            border-bottom: 1px solid $Color-Header_Border;
                            border-top: 1px solid $Color-Header_Border;
                            display: none;
                            left: 0;
                            position: absolute;
                            top: $Settings-Line_Height;
                            width: 100%;
                            z-index: 100;

                            li {
                                display: block;
                                float: none;
                                width: 100%;

                                a {
                                    padding: 15px;
                                }
                            }
                        }

                    }

                    &.user {
                        margin-left: auto;

                        @include respond-to(tablets) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        // The notification that will appear on the header for status of requests
        .notification {
            @include border-bottom-radius(5px);

            background-color: $Color-White;
            border: 2px solid $Color-Black;
            border-top: none;
            display: none;
            left: 25em;
            min-width: 256px;
            padding: 6px 16px;
            position: fixed;
            text-align: center;
            top: 0;
            z-index: 30;

            i {
                margin-right: 8px;
            }

            // Notification types
            &.success {
                background-color: #D7FFD7;
                border-color: #2ecc71;
                color: #2ecc71;
                display: block;
                z-index: 100;
            }

            &.error {
                background-color: #FFD7D7;
                border-color: #e74c3c;
                color: #e74c3c;
                display: block;
                z-index: 100;
            }
        }
    }
}
