// This file contains any generic CSS classes that don't belong anyone and just help styling
// random objects

.clearfix {
    zoom: 1;

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.css-dev {
    background-color: red;
    bottom: 0;
    color: $Color-White;
    display: block;
    padding: 0 5px;
    position: fixed;
    text-align: center;

    @each $size in map-keys($breakpoints) {
        .#{$size} {
            @include visible($size);
        }
    }
}

@include component('table') {
    @include element('row') {
        border-bottom: $Table-Border;
        border-top: $Table-Border;
        display: flex;

        @include modifier('header') {
            .c-table__row__column {
                font-weight: bold;
            }
        }

        @include element('column') {
            border-left: $Table-Border;
            border-right: $Table-Border;
            box-sizing: border-box;
            flex: 1;
            padding: $Table-Cell_Padding;
        }

        &:hover {
            background-color: $Table-Background-Hover;
        }
    }

    @include modifier('no-border') {
        .c-table__row {
            border: none;

            .c-table__row__column {
                border: none;
            }
        }
    }

    @include modifier('no-hover') {
        .c-table__row {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.fuck-ie {
    background-color: #FF7D87;
    color: $Color-White;
    padding: 20px;

    a {
        color: #AD1625;
        font-weight: bold;
    }

    h1 {
        margin-bottom: 10px;
    }
}

.o-container {
    @extend %container;
}

.u-hide-on-empty {
    &:empty {
        display: none;
    }
}

.u-mobile-only {
    display: block;

    @include respond-up(lg) {
        display: none;
    }
}

.u-no-margin--bottom {
    margin-bottom: 0 !important;
}

.u-no-margin--left {
    margin-left: 0 !important;
}

.u-no-margin--right {
    margin-right: 0 !important;
}

.u-no-margin--top {
    margin-top: 0 !important;
}

.u-horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.u-text-center {
    text-align: center;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.tipsy {
    font-size: 16px;
}
