main {
    &.landing {
        .cover {
            @include display(flex);

            background: url("../imgs/cover_photo.png") no-repeat fixed 0 -225px;
            background-size: cover;
            height: 350px;
            width: 100%;

            article {
                @extend %wrapper;

                margin: auto;
                text-align: center;

                h1, h2 {
                    color: #fff;
                    text-shadow: 0 1px 10px rgba(0,0,0,0.5), 0 0 30px rgba(0,0,0,0.9);
                }

                h1 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 20px;

                    @include respond-to(phones) {
                        font-size: 30px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                }

                h2 {
                    font-size: 24px;

                    @include respond-to(phones) {
                        font-size: 22px;
                    }
                }

                .button {
                    margin-top: 40px;
                }
            }

            @include respond-to(tablets) {
                background-attachment: scroll;
                background-position: center center;
                height: 250px;
            }

            @include respond-to(phones) {
                height: 200px;
            }
        }

        .key_points {
            @extend %wrapper;
            @include desktop-container;
            @include phablet-container;

            padding: {
                left: 15px;
                right: 15px;
            }

            ul {
                @include phablet-container;

                padding-left: 0;

                li {
                    @include desktop-columns(4);
                    @include phablet-columns(12);

                    text-align: center;

                    .perfect-alignment {
                        @include phablet-columns(2);
                        @include phone-columns(3);
                        @include set-circular-size(100px);

                        border: 1px solid $Color-Black;
                        font-size: 55px;
                        margin-bottom: 10px;

                        @include respond-to(phablets) {
                            @include set-circular-size(65px);

                            border: none;
                        }

                        @include respond-to(phones) {
                            @include set-circular-size(45px);

                            font-size: 35px;
                        }
                    }

                    div {
                        @include phablet-columns(10);
                        @include phone-columns(9);

                        h3 {
                            font-size: 24px;
                            font-weight: 400;
                            margin: 10px 0;
                        }

                        @include respond-to(phablets) {
                            padding-left: 10px;
                        }
                    }

                    @include respond-to(phablets) {
                        margin: {
                            bottom: 10px;
                            top: 10px;
                        }
                        text-align: left;
                    }
                }
            }
        }

        .content {
            @extend %wrapper;

            @include desktop-container;

            .news-container,
            .recent-matches-container {
                margin: {
                    bottom: 20px;
                    top: 20px;
                }
            }

            .news-container {
                @include desktop-columns(5);
                @include phablet-columns(12);
                @include phablet-gutter();

                .news {
                    @extend %no-padding-ul;

                    margin: {
                        bottom: 15px;
                        top: 15px;
                    }

                    li {
                        border-bottom: $Border-Default;
                        list-style: none;
                        padding: 15px 0 15px;

                        h3 {
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .recent-matches-container {
                @include desktop-columns(7);
                @include phablet-columns(12);

                .recent-matches {
                    @include desktop-container;

                    margin: 15px 0;

                    .match {
                        @include desktop-container;
                        @include desktop-columns(4);
                        @include desktop-gutter(3n);
                        @include phone-reset-gutter(3n);
                        @include phone-columns(6);
                        @include phone-gutter(2n);

                        &:nth-child(n+4) {
                            margin-top: 15px;
                        }

                        @include respond-to(phones) {
                            &:nth-child(n+3) {
                                margin-top: 15px;
                            }
                        }

                        .team-container {
                            @include desktop-columns(6);
                            @include desktop-gutter;

                            &:first-child {
                                padding-right: 5px;
                                text-align: right;
                            }

                            &:nth-child(2) {
                                padding-left: 5px;
                            }

                            .team {
                                display: inline-block;
                                text-align: center;

                                img {
                                    @extend %margin-center;

                                    display: block;
                                }
                            }
                        }

                        .stats {
                            @include desktop-columns(12);

                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}