main {
    &.landing {
        .cover {
            background: url("../imgs/cover_photo.png") no-repeat fixed 0 -225px;
            background-size: cover;
            display: table;
            height: 350px;
            width: 100%;

            article {
                @extend .wrapper;

                height: 100%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                h1, h2 {
                    color: #fff;
                    text-shadow: 0 1px 10px rgba(0,0,0,0.5), 0 0 30px rgba(0,0,0,0.9);
                }

                h1 {
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 20px;

                    @include respond-to(phones) {
                        font-size: 30px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }
                }

                h2 {
                    font-size: 24px;

                    @include respond-to(phones) {
                        font-size: 22px;
                    }
                }

                .button {
                    margin-top: 40px;
                }
            }

            @include respond-to(tablets) {
                background-attachment: scroll;
                background-position: center center;
                height: 250px;
            }

            @include respond-to(phones) {
                height: 200px;
            }
        }

        .key_points {
            @extend .wrapper;
            @include desktop-container;
            @include phablet-container;

            padding: {
                left: 15px;
                right: 15px;
            }

            ul {
                padding-left: 0;

                li {
                    @include desktop-columns(4);
                    @include phablet-columns(12);

                    text-align: center;

                    .perfect-alignment {
                        @include phablet-columns(2);
                        @include phone-columns(3);
                        @include set-circular-size(100px);

                        border: 1px solid $Color-Black;
                        font-size: 55px;
                        margin-bottom: 10px;

                        @include respond-to(phablets) {
                            @include set-circular-size(65px);

                            border: none;
                        }

                        @include respond-to(phones) {
                            @include set-circular-size(45px);

                            font-size: 35px;
                        }
                    }

                    div {
                        @include phablet-columns(10);
                        @include phone-columns(9);

                        h3 {
                            font-size: 24px;
                            font-weight: 400;
                            margin: 10px 0;
                        }

                        @include respond-to(phablets) {
                            padding-left: 10px;
                        }
                    }

                    @include respond-to(phablets) {
                        margin: {
                            bottom: 10px;
                            top: 10px;
                        }
                        text-align: left;
                    }
                }
            }
        }

        .content {
            @extend .clearfix;
            @extend .wrapper;

            aside {
                float: left;
                width: 400px;

                h2 {
                    margin-bottom: 10px;
                }

                .news {
                    padding-left: 20px;

                    li {
                        border-bottom: 1px solid #EFEFEF;
                        margin: 5px 0;
                        list-style: none;
                        padding: 10px 0 15px;

                        h3 {
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        p {
                            margin-left: 20px;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                @include respond-to(tablets) {
                    @include box-sizing(border-box);

                    float: none;
                    padding: 0 10px;
                    width: 100%;
                }
            }

            section {
                @extend .clearfix;

                float: right;
                width: 55%;

                h2 {
                    margin-bottom: 10px;
                }

                article {
                    $cellSize: 170px;

                    float: right;
                    margin: 10px 10px 20px;

                    .row {
                        .column {
                            $paddingSize: 20px;

                            height: $cellSize;
                            padding: $paddingSize;
                            text-align: center;
                            width: $cellSize;

                            .team {
                                display: inline-block;

                                .team_avatar {
                                    height: 60px;
                                    width: 60px;
                                }

                                strong {
                                    display: block;
                                    text-align: center;
                                }
                            }

                            .stats {
                                display: block;
                                font-size: 14px;
                                margin-top: 15px;
                                text-transform: uppercase;
                            }

                            @include respond-to(tablets) {
                                border: none;
                                float: left;
                                width: 33%;
                            }

                            @include respond-to(phones) {
                                height: auto;
                                padding: 20px 0;
                                width: 50%;
                            }
                        }

                        @include respond-to(tablets) {
                            display: block;
                        }
                    }

                    @include respond-to(tablets) {
                        float: none;
                        margin: 0;
                        width: 100%;
                    }
                }

                @include respond-to(tablets) {
                    @include box-sizing(border-box);

                    float: none;
                    padding: 0 10px;
                    width: 100%;
                }
            }
        }
    }
}