// The CSS class that will be used as the main layout
@include object('row') {
    @include view-container();

    margin-bottom: $Settings-Page_Section-Margin;

    // By default, each element will have a bottom margin, so have a modifier class to remove it
    @include modifier('no-margin') {
        margin-bottom: 0;
    }

    // An element that will be a sidebar
    @include element('sidebar') {
        @include view-columns(xxl, 3);
        @include view-columns(sm, 12);
    }

    // An element that will have the important content of a page
    @include element('column') {
        // When a page has a sidebar, this modifier will appropriately use the remaining space
        @include modifier('with-sidebar') {
            @include view-columns(xxl, 9);
            @include view-columns(sm, 12);

            @include respond-to(sm) {
                margin-bottom: $Settings-Page_Section-Small_Margin;
            }
        }

        // Take up the whole parent container; i.e. the 'o-layout' element
        @include modifier('full') {
            @include make-margin(xxl);
            @include view-columns(xxl, 12);
        }

        // Take up a third of the parent container
        @include modifier('third') {
            @include make-margin(sm);
            @include view-columns(xxl, 4);
            @include view-columns(md, 6);
            @include view-columns(sm, 12);
        }

        // Take up a forth of the parent container
        @include modifier('quarter') {
            @include make-margin(sm);
            @include view-columns(xxl, 3);
            @include view-columns(md, 4);
            @include view-columns(sm, 6);
            @include view-columns(xs, 12);
        }

        // Take up half of the parent container
        @include modifier('half') {
            @include make-margin(sm);
            @include view-columns(xxl, 6);
            @include view-columns(sm, 12);
        }
    }

    h4 {
        margin-bottom: $Settings-Page_Section-Small_Margin;
    }
}

// A CSS scope where user inputted HTML will be available, so we'll have some sanity checks
@include scope('user-html') {
    @extend %container;

    display: block;
    margin-bottom: $Settings-Page_Section-Margin;

    p {
        margin-bottom: 15px;
    }
}
