body {
    font-family: $Font-Sans_Serif;
    line-height: 1.4em;
}

main {
    .content_header {
        @extend .clearfix;

        border-bottom: 1px solid $Color-Off_White;
        padding: 20px 0;

        > article {
            @extend .clearfix;
            @extend .wrapper;

            h1 {
                font-size: 24px;
            }

            div {
                float: left;

                h2 {
                    color: #CACACA;
                    font-size: 16px;
                }

                &.buttons {
                    float: right;
                    margin: 6px 0;

                    .button {
                        margin-left: 10px;
                        padding-left: 1em;
                        padding-right: 1em;
                    }
                }
            }

            p {
                float: left;
                font-size: 42px;
                font-weight: bold;
                margin-right: 5px;
                margin-top: 10px;
            }
        }

        @include respond-to(tablets) {
            @include box-sizing(border-box);

            padding-left: 15px;
            padding-right: 15px;
        }
    }

    > section {
        margin-bottom: 30px;

        @include respond-to(phones) {
            margin-bottom: 10px;
        }
    }
}

.badge {
     @include background-image(linear-gradient(#F65D5F, #E93631));

     border-radius: 2px;
     box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px rgba(0, 0, 0, 0.2);
     color: #FFF;
     display: inline-block;
     font-size: 11px;
     line-height: 16px;
     margin-left: -10px;
     padding: 0 4px;
     position: relative;
     text-shadow: 0 1px #902A27;
     top: -10px;
 }

.clearfix {
    zoom: 1;

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.css-table {
    border-collapse: collapse;
    display: table;

    .row {
        display: table-row;

        .column {
            @include box-sizing(border-box);

            border: 1px solid #EFEFEF;
            display: table-cell;
            height: 20px;
        }
    }
}

.fuck-ie {
    background-color: #FF7D87;
    color: $Color-White;
    padding: 20px;

    a {
        color: #AD1625;
        font-weight: bold;
    }

    h1 {
        margin-bottom: 10px;
    }
}

.page {
    .page--header {
        border-bottom: 1px solid $Border-Light_Color;
        margin-bottom: 25px;
    }

    .page--container {
        @extend %wrapper;
        @include display(flex);

        padding: {
            bottom: 20px;
            top: 20px;
        };

        @include respond-to(phablets) {
            padding: {
                bottom: 15px;
                top: 15px;
            }
        }
    }

    .page--title {
        h1 {
            font-size: 24px;

            @include respond-to(phablets) {
                font-size: 20px;
            }
        }
    }

    .page--options {
        @include flex(1);

        text-align: right;
    }
}

.tipsy {
    font-size: 16px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: $Settings-Global_Width;

    @include respond-to(tablets) {
        width: 100%;
    }
}