main {
    &.news {
        @extend .clearfix;

        font-family: $sansSerifFont;
        text-align: justify;

        .content_header {
            .buttons {
                margin: 0;
            }
        }

        .container {
            @extend %mobile_padding;
            @extend .clearfix;
            @extend .wrapper;

            .article_container {
                float: left;
                width: 800px;

                > article {
                    @include box-sizing(border-box);

                    float: left;
                    margin-bottom: 40px;
                    padding-right: 60px;
                    width: 100%;

                    h1 {
                        color: $Blue;
                        font-size: 25px;
                        margin-bottom: 5px;

                        @include respond-to(tablets) {
                            text-align: left;
                        }
                    }

                    .post_date {
                        color: $Medium_Grey;
                        font-size: 13px;
                    }

                    .post {
                        padding: 15px 0;

                        > p {
                            margin: 5px 0 10px;
                        }
                    }

                    .meta {
                        font-size: 14px;
                        padding: 5px 0 10px;

                        li {
                            color: $Medium_Grey;
                            display: inline-block;
                            margin-left: 0;
                            margin-right: 15px;

                            i {
                                margin-right: 3px;
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @include respond-to(tablets) {
                        padding-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }

            aside {
                @extend .wrapper;
                float: right;
                width: 200px;

                h2 {
                    font-size: 24px;
                    margin-bottom: 15px;
                }

                ul {
                    border: 1px solid $Off_White;
                    border-radius: 3px;
                    padding-left: 0;

                    li {
                        border-bottom: 1px solid $Off_White;
                        font-size: 14px;
                        list-style: none;

                        a {
                            display: block;
                            padding: 10px;

                            i {
                                color: $Medium_Grey;
                                margin-right: 10px;
                            }
                        }

                        &.active, &:hover {
                            border-right: 2px solid $Orange;

                            &:first-child {
                                border-top-right-radius: 3px;
                            }

                            &:last-child {
                                border-bottom-right-radius: 3px;
                            }
                        }

                        &.active {
                            background-color: $Almost_White;
                        }

                        &:hover {
                            background-color: lighten($Almost_White, 1%);
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                @include respond-to(tablets) {
                    display: none;
                    margin-bottom: 10px;
                }
            }

            .article_container, aside {
                @include respond-to(tablets) {
                    width: 100%;
                }
            }
        }
    }
}