main {
    &.news {
        @extend .clearfix;

        text-align: justify;

        .content_header {
            .buttons {
                margin: 0;
            }
        }

        .articles {
            @extend .clearfix;
            @extend .wrapper;

            > section {
                float: left;
                width: 750px;

                > article {
                    @include box-sizing(border-box);

                    float: left;
                    margin-bottom: 50px;
                    padding-right: 60px;
                    width: 750px;

                    h1 {
                        color: $Blue;
                        font-weight: bold;
                    }

                    .post {
                        padding: 15px 0;

                        > p {
                            margin: 15px 0;
                        }
                    }

                    .meta {
                        border-bottom: 1px solid $Off_White;
                        font-size: 14px;
                        padding: 10px 0;

                        li {
                            color: $Light_Grey;
                            display: inline-block;
                            margin-left: 3px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            aside {
                @extend .wrapper;
                float: left;
                width: 250px;

                h2 {
                    margin-bottom: 15px;
                }

                ul {
                    li {
                        font-size: 14px;
                        padding: 7px 10px;

                        &.active {
                            background-color: $Almost_White;
                            border-right: 2px solid $Orange;
                        }

                        &:hover {
                            background-color: lighten($Almost_White, 1%);
                            border-right: 2px solid $Orange;
                        }
                    }
                }
            }
        }
    }
}