// @TODO Rewrite the styling for this to be better centered and formatted

// @TODO Get rid of this !important declaration
%activePage {
    background-color: $Color-Blue;
    color: $Color-White !important;
}

.c-pagination {
    margin-top: $Settings-Page_Section-Small_Margin;
    padding-left: 0;
    text-align: center;

    li {
        $size: 30px;

        border: $Border-Default;
        display: inline-block;
        height: $size;
        line-height: $size;
        text-align: center;
        width: $size;

        a {
            display: block;
            height: 100%;
            width: 100%;

            &:hover {
                @extend %activePage;
            }
        }
    }
}

.c-pagination--current {
    @extend %activePage;
}

.c-pagination--disabled {
    color: $Color-Light_Grey;

    &:hover {
        background-color: transparent;
    }
}