main {
    &.players {
        .content_header {
            article {
                .flag {
                    margin-right: 10px;
                    margin-top: 6px;
                }

                h1 {
                    display: inline;
                }
            }
        }

        .list {
            @extend .clearfix;
            @extend .wrapper;

            margin-bottom: 30px;

            article {
                @include box-sizing(border-box);

                float: left;
                padding: 5px;
                width: 33%;

                .player_avatar {
                    $avatarSize: 50px;

                    height: $avatarSize;
                    width: $avatarSize;
                }

                .info {
                    display: inline-block;
                    margin: 0 10px;
                    vertical-align: top;

                    .callsign {
                        display: inline-block;
                        font-size: 18px;
                    }

                    .team {
                        font-size: 14px;

                        a {
                            color: $Color-Medium_Grey;

                            &:hover {
                                color: lighten($Color-Medium_Grey, 15%);
                            }
                        }
                    }
                }

                @include respond-to(phablets) {
                    width: 50%;
                }

                @include respond-to(phones) {
                    display: block;
                    float: none;
                    width: 100%;
                }
            }

            @include respond-to(tablets) {
                @include box-sizing(border-box);

                padding: 0 10px;
                width: 100%;
            }

            @include respond-to(phones) {
                margin-bottom: 10px;
            }
        }

        .profile {
            .row {
                .information {
                    .description {
                        margin: 20px 0;
                    }
                }

                .previous_callsigns {

                }

                .previous_ips {

                }

                .admin_notes {
                    width: 100%;

                    form {
                        @extend .clearfix;

                        padding: 5px 15px;

                        textarea {
                            height: 160px;
                            margin-bottom: 5px;
                            resize: vertical;
                            width: 100%;
                        }

                        button {
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
