main {
    &.players, &.teams {
        .profile {
            @extend %mobile_padding;
            @extend .clearfix;
            @extend .wrapper;

            margin-bottom: 20px;

            .row {
                @extend .clearfix;

                width: 100%;

                > section {
                    @include box-sizing(border-box);

                    float: left;
                    padding: 10px 20px;
                    width: 50%;

                    h4 {
                        margin-bottom: 5px;
                        padding-bottom: 5px;

                        small {
                            color: $Light_Grey;
                            font-weight: 300;
                            margin-left: 5px;

                            a {
                                color: $Light_Grey;
                                font-weight: normal;
                                margin-left: 2px;
                                margin-right: 1px;
                            }
                        }
                    }

                    &.information {
                        width: 75%;
                    }

                    &.profile_picture {
                        float: right;
                        padding: 0;
                        width: 25%;

                        .player_avatar, .team_avatar {
                            max-height: 250px;
                            max-width: 250px;

                            @include respond-to(phones) {
                                width: 50%;
                            }
                        }

                        @include respond-to(phones) {
                            margin: 15px 0;
                            text-align: center;
                        }
                    }

                    &.information, &.profile_picture {
                        @include respond-to(phones) {
                            width: 100%;
                        }
                    }

                    @include respond-to(phablets) {
                        margin: 10px 0;
                        width: 100%;
                    }

                    @include respond-to(phones) {
                        padding: 0;
                    }
                }
            }
        }
    }
}