.rank {
    background: url('../imgs/ranks.png') no-repeat top left;
    width: 35px;
    height: 40px;

    &.lvl-900 {
        background-position: 0 0;
    }

    &.lvl-1000 {
        background-position: -35px 0;
    }

    &.lvl-1100 {
        background-position: -70px 0;
    }

    &.lvl-1200 {
        background-position: -105px 0;
    }

    &.lvl-1300 {
        background-position: -140px 0;
    }

    &.lvl-1400 {
        background-position: -175px 0;
    }

    &.lvl-1500 {
        background-position: -210px 0;
    }

    &.lvl-1600 {
        background-position: -245px 0;
    }

    &.lvl-1700 {
        background-position: -280px 0;
    }

    &.lvl-1800 {
        background-position: -315px 0;
    }

    &.lvl-1900 {
        background-position: -350px 0;
    }

    &.lvl-2000 {
        background-position: -385px 0;
    }
}