.c-rank {
    background: url('../imgs/ranks.png') no-repeat top left;
    display: inline-block;
    height: 42px;
    width: 37px;
}

@each $name, $position in $ranks-sprite {
    @at-root {
        $split: str-explode($name, "-");
        $rank: nth($split, 2);
        $theme: to-lower-case(nth($split, 1));

        .t-#{$theme} {
            .c-rank--#{$rank} {
                background-position: $position;
            }
        }
    }
}
