* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    background-color: $Settings-Background_Color;
    color: $Font-Color-Default;
    font-family: $Font-Sans_Serif;
    line-height: 1.4em;
}

html {
    box-sizing: border-box;
}
