ol,
ul {
    padding-left: 30px;

    li {
        padding-left: 0;
    }
}

ol {
    li {
        list-style-type: decimal;
    }
}

ul {
    @include is('horizontal') {
        padding-left: 0;

        li {
            display: inline-block;
            list-style: none;
        }
    }

    @include has('no-padding') {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }

    li {
        &:not(.select2-search--inline)
         :not(.select2-selection__choice) {
            list-style-type: circle;
        }
    }
}
