////
/// This file contains the logic for reading, parsing, and registering new themes to BZiON.
///
/// Read `themes/README.md` for an explanation on how to register themes in BZiON.
////

$registered_themes: (
    light,
    dark,
);
$theme_definitions: ();

@each $theme_name in $registered_themes {
    $theme_definitions: map-set($theme_definitions, $theme_name, import-yaml("assets/css/themes/#{$theme_name}.yml"));
}
