// A scope that will only apply to all of the messaging related pages
.s-messaging {
    // Our messaging system will be connected directly to the page header, so we'll be removing the margin bottom
    .c-page__header {
        margin-bottom: 0;
    }

    // Our messaging system will be "full screen" so it'll take up all the extra spacing on the edges
    > .o-container {
        @include respond-from(xs, md) {
            padding: 0;
        }
    }
}

.c-messages {
    margin-bottom: 0;
}

.c-messages__search {
    border-bottom: $Border-Default;
    display: flex;
    margin-bottom: 0;
    padding: $Settings-Page_Section-Small_Margin;
}

.c-messages__search__input {
    flex: 1;
    padding: 0 !important;
}

.c-messages__search__icon {
    display: flex;
    padding-right: $Settings-Page_Section-Tiny_Margin;

    i {
        margin: auto;
    }
}

.c-conversation {
    border-bottom: $Border-Default;
    color: $Color-Black;
    display: block;
    padding: 20px;

    &:hover {
        background-color: $Color-Blue_Grey
    }

    &:last-child {
        border-bottom: 0;
    }
}

.c-conversation--unread {
    background-color: darken($Color-Blue_Grey, 5%);

    &:hover {
        background-color: darken($Color-Blue_Grey, 10%);
    }
}

// A modifier class that can be used to force the mobile view to be used when displaying conversations. This class is
// intended to be used when the conversation list is only displayed as a sidebar, i.e. not the browser's full width.
.c-conversation--compressed {
    .c-conversation__timestamp {
        .human-date {
            display: none;
        }

        .short-date {
            display: inline-block;
        }
    }

    .c-conversation__members {
        .summed-view {
            display: inline-block;
        }

        .extend-view {
            display: none;
        }
    }
}

.c-conversation__meta {
    display: flex;
}

.c-conversation__subject {
    color: $Color-Black;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.c-conversation__timestamp {
    color: $Color-Medium_Grey;
    font-size: 14px;

    .human-date {
        display: none;

        @include respond-up(md) {
            display: inline-block;
        }
    }

    .short-date {
        display: inline-block;

        @include respond-up(md) {
            display: none;
        }
    }
}

.c-conversation__members {
    color: $Color-Medium_Grey;
    font-size: 14px;

    .always-show {
        display: inline;
    }

    .summed-view {
        @extend %alert-neutral;

        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        font-size: 12px;
        font-style: normal;
        margin-top: 5px;
        padding: 0 3px;

        @include respond-up(md) {
            display: none;
        }
    }

    .extend-view {
        display: none;

        @include respond-up(md) {
            display: inline-block;
        }
    }
}

.c-conversation__latest-message {
    color: $Color-Medium_Grey;
    margin-top: 10px;
}
