// This container has the current conversation and all of the chat messages
// @TODO Reenable the columns and remove the left border when the sidebar is added back
.c-messenger__conversation {
    display: flex;
    flex-direction: column;
}

// This is the element that actually contains all of the elements that make up the actually "messaging app UI" which
// is what I'll call it
.c-messenger__conversation__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

// This is the header of a conversation with all of the details of the conversation such as recipients
.c-messenger__conversation__options {
    border-bottom: $Border-Default;
    padding: $Settings-Page_Section-Small_Margin;
}

.c-messenger__option {
    form {
        border-top: $Border-Default;
        margin-top: $Settings-Page_Section-Small_Margin;
        padding-top: $Settings-Page_Section-Small_Margin;
    }
}

.c-messenger__option__action {
    display: flex;
    position: relative;

    // Workaround for an issue with firefox hiding the border of the action input
    margin-bottom: 1px;
}

.c-messenger__option__action__close {
    color: $Color-Medium_Grey;
    position: absolute;
    right: 0;
    top: 0;
}

.c-messenger__option__action__input {
    flex-grow: 1;
    padding-right: $Settings-Page_Section-Small_Margin;
}

.c-messenger__option__action__buttons {
    align-items: flex-end;
    display: flex;
}

// The height of this element will be limited and its overflow will be hidden. This is intended to have its child be
// scrollable
.c-messenger__conversation__scrolling {
    //flex: 1;
    overflow: auto;
}

// The container for the "Load older messages" button in a conversation
.c-messenger__conversation__archiver {
    padding: {
        bottom: $Settings-Page_Section-Small_Margin;
        top: $Settings-Page_Section-Small_Margin;
    }
    text-align: center;
}

// This object actually contains the list of messages as individual objects. This element will be much taller than its
// parent container.
.c-messenger__conversation__messages {
    li {
        list-style-type: none;
        overflow: hidden; // @FIXME this shouldn't be needed since view-container() shouldn't escape our parent

        .date,
        &.action {
            font-size: 0.8em;
        }
    }
}

// This object is the container for the reply section of a conversation
.c-messenger__conversation__response {
    border-top: $Border-Default;
    padding: $Settings-Page_Section-Small_Margin;
}

