{% for button in buttons %}
    {% if button.condition %}
        <a class="c-button c-button--{{ button.color }}" href="{{ button.url }}"><i class="fa fa-{{ button.icon }}"></i> {{ button.text }}</a>
    {% endif %}
{% endfor %}