{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <h1>Action Confirmation</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            {{ form_start(form) }}
                <article class="mb2">
                    {{ message | raw }}
                </article>

                <div class="d-flex justify-content-center">
                    {{ form_rest(form) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
