{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <h1>Action Confirmation</h1>
{% endblock %}

{% block content %}
    {{ form_start(form, { 'attr': { 'class': 'c-form o-container u-text-center' } }) }}
        <section class="c-form__section">
            {{ message | raw }}
        </section>

        <section class="c-form__section">
            <div class="c-form__buttons">
                {{ form_rest(form) }}
            </div>
        </section>
    {{ form_end(form) }}
{% endblock %}
