{% macro timestamp(timestamp) -%}
    <time datetime="{{ timestamp | date(constant('TimeDate::FULL')) }}" title="{{ timestamp | date('F d, Y h:ia') }}" class="c-calendar--day">
        <span class="month">{{ timestamp | date('M') }}</span>
        <span class="date">{{ timestamp | date('d') }}</span>
    </time>
{%- endmacro %}
