main {
    &.administration {
        font-family: $sanSerifFont;
        padding: 20px 0;

        .admins {
            @extend .clearfix;
            @extend .wrapper;

            .button {
                i {
                    margin-right: 10px;
                }
            }

            ul {
                @extend .clearfix;

                li {
                    @extend .clearfix;
                    @include box-sizing(border-box);

                    float: left;
                    padding: 20px 10px;
                    width: 25%;

                    img {
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}