* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $serifFont;
    line-height: 1.3em;
}

a {
    color: #009EFF;
    text-decoration: none;

    &:hover {
        color: darken(#009EFF, 15%);
    }

    // If a link starts with "http" (this includes https), then add an outgoing link icon courtesy of FontAwesome. All
    // of our internal links are relative so this is a safe move.
    &[href^="http"] {
        &:after {
            content: "\F08E";
            font-family: FontAwesome;
            font-size: 0.6em;
            margin-left: 5px;
            text-decoration: none;
            vertical-align: top;
        }
    }
}

h1 {
    font-family: $sanSerifFont;
    font-size: 30px;
}

h2 {
    font-family: $sanSerifFont;
    font-size: 24px;
}

hr {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(201, 201, 201, 0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(201, 201, 201,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(201, 201, 201,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(201, 201, 201,0.75), rgba(0,0,0,0));
    border: 0;
    height: 1px;
    margin: 10px auto 30px;
    width: $global_width;
}

main {
    .content_header {
        @extend .clearfix;

        margin: 0 0 30px;

        div {
            float: left;

            h1 {
                color: #258EC9;
                font-size: 24px;
            }

            h2 {
                color: #CACACA;
                font-size: 16px;
            }
        }

        p {
            float: left;
            font-size: 42px;
            font-weight: bold;
            margin-right: 5px;
            margin-top: 10px;
        }
    }
}

.clearfix {
    zoom:1;

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.css-table {
    border-collapse: collapse;
    display: table;

    .row {
        display: table-row;

        .column {
            @include box-sizing(border-box);

            border: 1px solid #EFEFEF;
            display: table-cell;
            height: 20px;
        }
    }
}

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: $global_width;
}