main {
    &.messaging {
        @extend .clearfix;

        font-family: $sanSerifFont;
        padding: 20px 0;

        .content_header {
            margin-bottom: 0;
        }

        .messages {
            @extend .clearfix;
            @extend .wrapper;

            .conversations {
                @include box-sizing(border-box);

                background-color: #FFFFFF;
                border-left: 1px solid #EFEFEF;
                border-right: 1px solid #EFEFEF;
                float: left;
                overflow: scroll;
                width: 35%;

                .search {
                    $searchHeight: 35px;
                    @extend .clearfix;

                    border-bottom: 1px solid #EFEFEF;
                    height: $searchHeight;
                    padding: 5px;

                    .icon {
                        display: inline-block;
                        float: left;
                        margin: 0 10px;
                        text-align: center;
                        vertical-align: middle;

                        i {
                            line-height: $searchHeight;
                        }
                    }

                    .field {
                        background-color: #ffffff;
                        border: none;
                        display: inline-block;
                        float: left;
                        font-size: 16px;
                        height: 100%;
                        text-align: left;
                        text-decoration: none;
                        vertical-align: middle;
                        width: 265px;

                        &:focus {
                            outline: 0;
                        }
                    }
                }

                .chats {
                    padding-left: 0;

                    li {
                        @include box-sizing(border-box);

                        background-color: #ffffff;
                        border-bottom: 1px solid #EFEFEF;
                        display: block;
                        list-style-type: none;
                        padding: 10px;
                        width: 100%;

                        a {
                            text-decoration: none;

                            .meta {
                                @extend .clearfix;

                                .subject {
                                    color: #000000;
                                    float: left;
                                    font-size: 20px;
                                }

                                .timestamp {
                                    color: #009EFF;
                                    float: right;
                                    font-size: 12px;
                                }
                            }

                            .members {
                                color: #99A0A3;
                                font-family: $serifFont;
                                font-weight: 300;
                                font-size: 12px;
                            }

                            .last_message {
                                color: #000000;
                                font-size: 16px;
                                padding: 5px 10px;
                            }

                            &:hover {
                                color: #000000;
                            }
                        }

                        &:hover {
                            background-color: #F2FBFF;
                        }
                    }
                }
            }

            .chat_area {
                @include box-sizing(border-box);

                border-right: 1px solid #EFEFEF;
                float: left;
                width: 65%;

                >.details {
                    @include box-sizing(border-box);

                    background-color: #00AFF0;
                    color: #FFFFFF;
                    padding: 10px;
                    width: 100%;

                    .meta {
                        @extend .clearfix;

                        padding-bottom: 10px;

                        .subject {
                            float: left;
                            font-size: 24px;
                            font-weight: 300;
                        }

                        .tools {
                            float: right;

                            i {
                                margin: 0 5px;

                                &.close {
                                    &:hover {
                                        color: #e74c3c;
                                    }
                                }
                            }
                        }
                    }

                    .members {
                        border-top: 1px solid #FFFFFF;
                    }
                }

                >.scrollable_messages {
                    display: block;
                    width: 100%;

                    .messages {
                        display: block;
                        height: 100%;
                        overflow: scroll;
                        padding-left: 0;
                        width: 100%;

                        li {
                            display: block;
                            overflow: hidden;

                            .bubble {
                                @include border-radius(5px);

                                background-color: #FBFFFB;
                                border: 1px solid #B4EBB0;
                                margin: 10px 15px;
                                padding: 5px 10px;
                                float: left;
                                width: 75%;

                                .details {
                                    border-bottom: 1px solid #B4EBB0;
                                    margin-bottom: 10px;
                                    padding-bottom: 5px;
                                    overflow: hidden;
                                    width: 100%;

                                    .author {
                                        color: #515051;
                                        float: left;
                                    }

                                    .date {
                                        color: #CCD4DC;
                                        float: right;
                                        font-size: 12px;
                                    }
                                }

                                p {
                                    margin: 10px;
                                }

                                &.me {
                                    background-color: #F7FEFF;
                                    border: 1px solid #9DD8E1;
                                    float: right;

                                    .details {
                                        border-bottom: 1px solid #9DD8E1;
                                    }
                                }
                            }
                        }
                    }
                }

                .compose_form {
                    background-color: #FFFFFF;

                    .input_group {
                        display: table;
                        padding: 15px 10px;
                        table-layout: auto;
                    }

                    .input_group_row {
                        display: table-row;
                    }

                    .input_group label {
                        display: table-cell;
                        padding-right: 5px;
                        text-align: left;
                    }

                    .input_group_main {
                        @include box-sizing(border-box);
                        @include border-radius(0);

                        display: table-cell;
                        height: 29px;
                        width: 100%;
                    }

                    .input_group_main input[type=text] {
                        @include box-sizing(border-box);

                        background-image: linear-gradient(rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
                        border: 1px solid #eee;
                        font-size: 13px;
                        margin-top: 1px;
                        padding: 5px 5px 5px 5px;
                        width: 100%;
                    }

                    .compose_area {
                        @include box-sizing(border-box);
                        @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);

                        background-color: #fff;
                        border: 1px solid #eee;
                        color: #333333;
                        display: block;
                        font-size: 1em;
                        height: 100px;
                        line-height: 1.42857;
                        margin: 0 auto;
                        min-height: 70px;
                        padding: 6px 12px;
                        resize: vertical;
                        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                        vertical-align: middle;
                        width: 97%;

                    }
                }

                .reply_form {
                    @include box-sizing(border-box);

                    background-color: #F4F7FB;
                    bottom: 0;
                    height: 150px;
                    padding: 20px;
                    width: 100%;

                    .quick_reply {
                        overflow: hidden;

                        textarea {
                            @include box-sizing(border-box);

                            border: 1px solid $grey;
                            font-family: Open Sans;
                            font-size: 13px;
                            padding: 5px;
                            resize: none;
                            width: 100%;
                        }

                        button[type="submit"] {
                            float: right;
                        }
                    }
                }

                .buttons {
                    padding: 10px;
                }
            }
        }
    }
}