{% extends 'layout.html.twig' %}

{% block title %}Teams :: {{ team.name }} :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Editing :: {{ team.name }}</h1>
{% endblock %}

{% block content %}
    {% include "Team/form.html.twig" with {
        'avatar': team.avatar,
        'form': form }
    %}
{% endblock %}
