{% extends 'Message/layout.html.twig' %}

{% from 'Message/conversation_widget.html.twig' import widget as message_widget %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('message_compose'),
        'icon': 'pencil',
        'text': 'Compose',
        'condition': me.hasPermission(constant('Permission::SEND_PRIVATE_MSG'))
    }
] %}

{% set viewTitle = "Messages" %}

{% block messages_body %}
    <div class="bb mtn3">
        {{ form_start(searchForm) }}
            <label class="c-form__icon sr-only mb1"
                   for="c-form__search__input"
            >
                Search Messages
            </label>

            <div class="c-form__group--icon">
                <div class="c-form__icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

                {{ form_widget(searchForm.q, { attr: { class: 'c-form__input c-form__input--plain py2', placeholder: 'Search...' } } ) }}
            </div>
        {{ form_end(searchForm) }}
    </div>

    <div class="c-conversations mb3">
        {% for conversation in conversations %}
            {{ message_widget(conversation) }}
        {% endfor %}
    </div>

    {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
{% endblock %}
