{{ form_start(searchForm, { attr: { class: customClass ~ " c-messages__search" } } ) }}
    <div class="c-messages__search__icon">
        <i class="fa fa-search"></i>
    </div>

    {{ form_widget(searchForm.q, { attr: { class: "c-messages__search__input", placeholder: "Search..."} } ) }}
{{ form_end(searchForm) }}