{% extends 'Message/layout.html.twig' %}

{% block messages_body %}
    <ul>
        {% for message in messages %}
            <li><code>{{ message.content|markdown(true, false) }}</code> sent by {{ link_to(message.author) }} in {{ link_to(message.conversation) }}</li>
        {% else %}
            <li><em>No messages found</em></li>
        {% endfor %}
    </ul>
{% endblock %}
