// This component will work alongside a CSS table (.c-table) and will be used to display a list
// of bans
.c-banlist {
    // Convert columns into rows for phablets and smaller
    .c-table__row__column {
        @include respond-down(md) {
            flex-basis: 100%;
            padding: 2px 0;
        }
    }

    // Hide the header row for phablets and smaller since we'll be displaying the spans
    .c-table__row--header {
        @include respond-down(md) {
            display: none;
        }
    }
}

.c-ban {
    margin-bottom: $Settings-Page_Section-Small_Margin;

    @include respond-down(md) {
        flex-wrap: wrap;
    }
}

.c-ban__label {
    display: none;

    @include respond-down(md) {
        display: inline-block;
        font-weight: bold;
        width: 120px;
    }
}

.c-ban__creation {

}

.c-ban__victim {

}

.c-ban__expiration {

}

.c-ban__info {
    min-width: 30px; // Magic number; it's the width of the fa-info-circle
    text-align: left;

    // On desktops, all columns are equal size. On tablets, the info column will adjust to the fa-info-circle size
    @include respond-up(lg) {
        flex: 0 1 auto;
    }

    @include respond-up(md) {
        text-align: center;
    }
}

.c-ban__info__details--desktop {
    display: none;

    @include respond-up(md) {
        display: inline;
    }
}

.c-ban__info__details--mobile {
    display: inline;

    @include respond-up(md) {
        display: none;
    }
}

.c-ban-form {

}

.c-ban-form__settings {
    > div {
        display: inline-block;
        margin-right: $Settings-Page_Section-Margin;

        &:last-child {
            margin-right: 0;
        }
    }
}

.c-ban-form__settings__expiration {
    text-align: center;
}

.c-ban-form__server-settings {
    display: flex;
}

.c-ban-form__server-settings__message {
    @include view-columns(lg, 10);
}

.c-ban-form__server-settings__allow-join {
    @include view-columns(lg, 2);

    text-align: center;
}
