// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin size($width, $height: $width) {
    height: $height;
    width: $width;
}

@mixin on-event() {
    &.active,
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}

@mixin position($pos, $top: null, $right: null, $bottom: null, $left: null) {
    bottom: $bottom;
    left: $left;
    position: $pos;
    right: $right;
    top: $top;
}

@mixin padding-y($padding) {
    padding-bottom: $padding;
    padding-top: $padding;
}

@mixin padding-x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}
