.c-mobilemenu {
    padding: 0 15px 0 10px;

    @include respond-up(md) {
        display: none;
    }
}

// The entire top navigation bar
.c-header {
    @include theme-rule(background, 'navigation.background');
    @include theme-rule(border-bottom, 'border.default');

    a,
    .c-mobilemenu {
        @include theme-rule(color, 'navigation.links');

        @include on-event() {
            @include theme-rule(color, 'navigation.links', shade, 1, 30%);
        }
    }

    i {
        font-size: 18px;
    }
}

.c-branding {
    img {
        margin-right: 10px;
    }
}

// Used for when an element has the ability to contain a badge
.has-badge {
    position: relative;
}

.c-badge {
    @include theme-rule(background, 'elements.badge.background');
    @include theme-rule(color, 'elements.badge.color');
    @include position(absolute, 10px, 0);

    border-radius: 2px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px rgba(0, 0, 0, 0.2);
    font-size: 11px;
    line-height: 16px;
    padding: 0 4px;
    text-shadow: 0 1px #902a27;
}
