// The parent to both the generic pages and user-specific pages
.c-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.c-user_cp,
.c-site_pages {
    margin: 0;
    padding: 0;
}

// This element contains all of the generic website pages available to everyone, even anonymous users
.c-site_pages {
    @include theme-rule(background, 'navigation.background');
    @include position(absolute, 52px, null, null, 0);

    display: none;
    width: 100%;

    @include respond-up(md) {
        display: flex;
        position: static;
    }

    li {
        @include respond-only-to(sm) {
            margin-left: auto;
            margin-right: auto;
            width: map-get($breakpoints, sm) - 30px;

            a {
                padding-left: 0;
                padding-right: 0;
            }
        }

        a {
            display: block;
            padding: 15px;
        }
    }

    .fa {
        margin-right: 5px;
    }
}

.c-site_pages--open {
    display: block;
}

// These are the icons on the right hand side that handle user-specific actions
//   e.g. messages, settings, logout

.c-user_cp {
    display: flex;
    justify-content: flex-end;

    li {
        padding: 15px 5px;
    }
}

.c-user_cp__auth {
    white-space: nowrap;
}
