{% extends 'layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <ul>
        {% for notification in notifications %}
            <li>
                {{ include('Notification/item.html.twig') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block javascripts %}
    <script src="{{ request.baseURL }}/assets/js/notifications.js"></script>
{% endblock %}
