{% extends 'layout.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    {% for chunk in notifications %}
        <h3>{{ chunk.date.format('F Y') }}</h3>

        <ul>
            {% for notification in chunk.notifications %}
            <li>
                {{ include('Notification/item.html.twig') }}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}


{% block javascripts %}
    <script src="{{ request.baseURL }}/assets/js/notifications.js"></script>
{% endblock %}
