body {
    @include theme-rule(background-color, 'body.background');
    @include theme-rule(color, 'body.color');

    font-family: $Font-Sans_Serif;
    font-size: $Settings-Base_Font_Size;
    line-height: $Settings-Line_Height;
}
