.s-fullflex {
    height: 100%;

    body {
        display: flex;
        flex-direction: column;
        height: 100%;

        main {
            display: flex;
            flex: 1;
            flex-direction: column;

            .o-container {
                display: flex;
                flex: 1;
                overflow: hidden;
            }
        }

        .c-footer {
            margin-top: 0;
        }
    }

    .c-fullflex--scrollable {
        overflow-x: scroll;
    }
}