// A scope that will only apply to all of the messaging related pages
.s-messaging {
    // Our messaging system will be connected directly to the page header, so we'll be removing the margin bottom
    .c-page__header {
        margin-bottom: 0;
    }
}

.c-messages {
    margin-bottom: 0;
}

.c-messages__search {
    border-bottom: $Border-Default;
    display: flex;
    margin-bottom: 0;
    padding: {
        bottom: 5px;
        top: 5px;
    }
}

.c-messages__search__input {
    @extend %remove-input-style;

    flex: 1;
}

.c-messages__search__icon {
    display: flex;
    padding: 0 10px;

    i {
        margin: auto;
    }
}

.c-messages__inbox {

}

.c-messages__inbox__message {
    border-bottom: $Border-Default;
    color: $Color-Black;
    display: block;
    padding: $Settings-Page_Section-Small_Margin;

    &:hover {
        background-color: $Color-Blue_Grey
    }

    &:last-child {
        border-bottom: 0;
    }
}

.c-messages__inbox__message__meta {
    display: flex;
}

.c-messages__inbox__message__meta__subject {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.c-messages__inbox__message__meta__timestamp {
    color: $Color-Medium_Grey;
    font-size: 14px;
}

.c-messages__inbox__message__members {
    color: $Color-Medium_Grey;
    font-size: 14px;
    font-style: italic;
}

.c-messages__inbox__message__latest-message {
    margin-top: 10px;
}
