@include scope('message-inbox') {
    @include component('page') {
        @include element('header') {
            margin-bottom: 0;
        }
    }
}

@include component('messages') {
    margin-bottom: 0;

    @include element('search') {
        border-bottom: $Border-Default;
        display: flex;
        margin-bottom: 0;
        padding: {
            bottom: 5px;
            top: 5px;
        }

        @include element('input') {
            @extend %remove-input-style;

            flex: 1;
        }

        @include element('icon') {
            display: flex;
            padding: 0 10px;

            i {
                margin: auto;
            }
        }
    }

    @include element('inbox') {
        @include element('message') {
            border-bottom: $Border-Default;
            color: $Color-Black;
            display: block;
            padding: $Settings-Page_Section-Small_Margin;

            @include element('meta') {
                display: flex;

                @include element('subject') {
                    flex: 1;
                    font-size: 20px;
                    font-weight: bold;
                }

                @include element('timestamp') {
                    color: $Color-Medium_Grey;
                    font-size: 14px;
                }
            }

            @include element('members') {
                color: $Color-Medium_Grey;
                font-size: 14px;
                font-style: italic;
            }

            @include element('latest-message') {
                margin-top: 10px;
            }

            &:hover {
                background-color: $Color-Blue_Grey
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
