// A Messenger defines the view with a list of conversations on the side and a main view of the current conversation
.c-messenger {
    @include view-container();

    margin: 0;
}

// The sidebar in this view contains the search bar and the list of conversations
.c-messenger__sidebar {
    @include view-columns(xxl, 3);
    @include view-columns(lg, 4);

    border-left: $Border-Default;
    border-right: $Border-Default;

    @include respond-to(sm) {
        display: none;
    }
}

// This container has the current conversation and all of the chat messages
.c-messenger__conversation {
    @include view-columns(xxl, 9);
    @include view-columns(lg, 8);
    @include view-columns(sm, 12);

    border-right: $Border-Default;
    display: flex;
    flex-direction: column;
}

// Since we are inheriting OnTheRocks' grid system, we need to clear the padding that is automatically added
.c-messenger__sidebar,
.c-messenger__conversation {
    padding: {
        left: 0;
        right: 0;
    }
}

// This is the element that actually contains all of the elements that make up the actually "messaging app UI" which
// is what I'll call it
.c-messenger__conversation__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

// This is the header of a conversation with all of the details of the conversation such as recipients
.c-messenger__conversation__options {
    border-bottom: $Border-Default;
    padding: $Settings-Page_Section-Small_Margin;

    .collapsible-entity {
        &.open {
            padding: {
                bottom: $Settings-Page_Section-Small_Margin;
                top: $Settings-Page_Section-Small_Margin;
            }
        }
    }
}

// The height of this element will be limited and its overflow will be hidden. This is intended to have its child be
// scrollable
.c-messenger__conversation__scrolling {
    flex: 1;
    overflow: scroll;
}

// The container for the "Load older messages" button in a conversation
.c-messenger__conversation__archiver {
    padding: {
        bottom: $Settings-Page_Section-Small_Margin;
        top: $Settings-Page_Section-Small_Margin;
    }
    text-align: center;
}

// This object actually contains the list of messages as individual objects. This element will be much taller than its
// parent container.
.c-messenger__conversation__messages {
    padding: {
        left: $Settings-Page_Section-Small_Margin;
        right: $Settings-Page_Section-Small_Margin;
    }

    li {
        list-style-type: none;
        margin: {
            bottom: 10px;
            top: 10px;
        }

        &.action {
            color: $Color-Medium_Grey;
            font-size: 0.8em;
            margin: {
                bottom: 5px;
                top: 5px;
            }
            text-align: center;
        }

        &.message {
            .details {
                @include view-container();

                margin-bottom: 5px;

                .author,
                .date {
                    @include view-columns(xxl, 6);
                }

                .author {

                }

                .date {
                    font-size: 12px;
                    margin: 0;
                    text-align: right;
                }
            }
        }
    }
}

// This object is the container for the reply section of a conversation
.c-messenger__conversation__response {
    border-top: $Border-Default;
    padding: $Settings-Page_Section-Small_Margin;
}

