{% extends 'layout.html.twig' %}

{% block title %}Matches :: {{ match.teamA.name }} vs {{ match.teamB.name }} :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Edit Match</h1>
{% endblock %}

{% block content %}
    {% include "Match/form.html.twig" with { 'form': form } %}
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('assets/js/matches.js') }}"></script>
{% endblock %}
