.c-list-group {
    @include ul-no-padding();
    @include theme-rule(border, 'border.default');
    @include theme-rule(border-radius, 'border.radius');

    display: none;

    @include respond-up(md) {
        display: block;
    }
}

.c-list-group__item {
    @include theme-rule(border-bottom, 'border.default');

    display: block;
    padding: 10px 15px;

    &:last-of-type {
        border-bottom: none;
    }

    .fa {
        @include fa-fw();

        margin-right: 5px;
    }
}

.c-list-group__item--active {
    @include theme-rule(background-color, 'list_group.active.background');
    @include theme-rule(color, 'list_group.active.color');
}
