// A CSS scope where parsed markdown will be available, so we'll have some sanity checks to keep
// HTML elements different from the rest of the website.
//
// e.g. Not have a markdown parsed H1 be the same size as an H1 used in a page header

%markdown-spacing {
    margin-bottom: $Settings-Page_Section-Small_Margin;
    margin-top: $Settings_Page_Section-Small_Margin;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.s-markdown {
    overflow-x: auto;

    a {
        &[href^='http'] {
            &::after {
                content: '\F08E';
                font-family: FontAwesome;
                font-size: 0.6em;
                margin-left: 5px;
                text-decoration: none;
                vertical-align: top;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %markdown-spacing;

        font-weight: 800;
    }

    h1,
    h2 {
        border-bottom: 1px dotted $Color-Light_Grey;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    hr {
        background-color: $Border-Color;
        background-image: none;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
    }

    img {
        margin-bottom: 10px;
        margin-top: 10px;
        max-width: 100%;
    }

    p {
        @extend %markdown-spacing;
    }

    ol {
        li {
            list-style: decimal;
        }
    }

    ul {
        li {
            list-style: circle;
        }
    }
}
