@mixin loserOrder() {
    .c-matchwidget__team__image {
        margin-right: 0;
        order: 3;
    }

    .c-matchwidget__team__name {
        justify-content: flex-end;
        order: 2;
        padding-right: $Settings-Page_Section-Small_Margin;
    }

    .c-matchwidget__team__score {
        order: 1;
    }
}

.c-matchwidget {

}

.c-matchwidget__team--loser {
    @include respond-up(lg) {
        @include loserOrder();
    }
}

.c-matchwidget__timestamp {
}

.c-matchwidget__link,
.c-matchwidget__team__name,
.c-matchwidget__team__score {
    align-items: center;
    display: flex;
}

.c-matchwidget__team__image {

}

.c-matchwidget__stats,
.c-matchwidget__team__name {
    flex-grow: 1;
    overflow: hidden;
}

.c-matchwidget__link {
    border-left: $Border-Default;

    a {
        display: block;
        padding-left: $Settings-Page_Section-Small_Margin;
        padding-right: $Settings-Page_Section-Small_Margin;
    }

    i {
        font-size: 30px;
    }
}
