// Thanks to ThoughtBot's Bitters for this awesome template
//
// https://github.com/thoughtbot/bitters

// This is the magic height for input fields
//   4 is a magic number which is automatically calculated by the browser
$_magicInputHeight: $Settings-Base_Font_Size + 4 + $Border-Width + emToPx($Settings-Base_Font_Size, $Form-Spacing / 3) * 2;

// ==========================================
// Set up the formatting of the generic items
// ==========================================

form button {
    &:not(.c-button--no-style) {
        @extend .c-button;
        @extend .c-button--blue;
    }

    margin-right: 5px;
}

fieldset {
    background-color: lighten($Form-Border_Color, 10%);
    border: $Border-Default;
    margin: 0;
    padding: $Form-Small_Spacing;
}

input,
label,
select {
    display: block;
    font-family: $Font-Sans_Serif;
    font-size: 16px;
}

label {
    font-weight: 600;
    margin-bottom: $Form-Small_Spacing / 2;

    &.required::after {
        color: $Color-Red;
        content: '*';
        padding-left: 3px;
    }

    abbr {
        display: none;
    }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
    background-color: $Form-Base_Background_Color;
    border: $Border-Default;
    border-radius: $Border-Radius;
    box-shadow: $Form-Box_Shadow;
    box-sizing: border-box;
    font-family: $Font-Sans_Serif;
    padding: $Form-Spacing / 3;
    transition: border-color;
    width: 100%;

    &:hover {
        border-color: darken($Form-Border_Color, 10%);
    }

    &:focus {
        border-color: $Form-Action_Color;
        box-shadow: $Form-Box_Shadow_Focus;
        outline: none;
    }

    .c-form__group--error & {
        background-color: transparentize($Form-Error_Color, 0.98);
        border-color: $Form-Error_Color;
        box-shadow: $Form-Box_Shadow_Error;

        &:focus {
            box-shadow: $Form-Box_Shadow_Error_Focus;
        }
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: $Form-Small_Spacing / 2;
}

input[type="file"] {
    padding-bottom: $Form-Small_Spacing;
    width: 100%;
}

select {
    appearance: none;
    background-color: $Form-Base_Background_Color;
    border: $Border-Default;
    box-shadow: $Form-Box_Shadow;
    max-width: 100%;
    padding: $Form-Spacing / 3;
    width: auto;
}

// ===========================================
// Placeholders that'll override form elements
// ===========================================

// @TODO Rewrite this without !important statements
%remove-input-style {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
