code,
kbd,
samp,
pre {
    @include theme-rule(background-color, 'markdown.codeblock.background');

    border: 1px dotted #D0D0D0;
    padding: 0 .2rem .2rem;
    font-size: 90%;
}

pre {
    border-radius: 3px;
    overflow: auto;
    padding: 10px 15px;
    white-space: pre;
    width: 100%;
    word-wrap: normal; // horizontal scrolling
}

pre code {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 100%;
    line-height: 1.6em;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
}
