$Button-Colors: (
    'red': #db3434,
    'blue': #3498db,
    'grey': #8a8a8a,
    'green': #00b33d,
    'orange': #ff8400,
    'purple': #6f34db,
    'yellow': #ffb608
);
$_default-btn-bg-color: map-get($Button-Colors, 'grey');
$_default-btn-font-color: $Color-White;

button {
    color: $_default-btn-bg-color;
    cursor: pointer;
}

// A button
.c-button {
    background: $_default-btn-bg-color linear-gradient(rgba(#000, 0.1), rgba(#000, 0.25));
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: $Border-Radius;
    color: $_default-btn-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: .3em .8em;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.5);
    user-select: none;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.focus {
        background-image: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.4));
        border-color: rgba(0, 0, 0, 0.3);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        background-image: linear-gradient(rgba(#fff, 0.4), rgba(#fff, 0.2));
        cursor: not-allowed;
    }

    .fa {
        @extend %fa-fw;
    }
}

// When anchors are buttons, have them behave differently
a.c-button {
    text-decoration: none;

    &,
    &:hover,
    &:focus,
    &.focus {
        color: $_default-btn-font-color;
    }

    &.disabled,
    fieldset[disabled] & {
        pointer-events: none;
    }
}


//
// Button Modifiers
//

// A skinnier version of the button
.c-button--skinny {
    padding: 0.20em 1em 0.25em;
}

// A button but with the default cursor instead of a pointer
.c-button--no-click {
    cursor: default;
}

// Loop through available button colors and create modifiers for each
@each $color, $value in $Button-Colors {
    .c-button--#{$color} {
        background-color: $value;
    }
}

// A helper classes used exclusively for :not() references to not apply .c-button styles. These classes should be kept
// empty and are kept on here to remember not to use these names for any other reasons.
.c-button--no-hover {}
.c-button--no-style {}


//
// Special containers
//

// This container will add padding around all the buttons and negate that in the container itself to prevent disrupting
// the layout
.c-button-container {
    $_spacing: 4px;

    margin: -1 * $_spacing;

    .c-button {
        margin: $_spacing;
    }
}
