.c-breakpoints {
    background-color: red;
    bottom: 0;
    color: $Color-White;
    padding: 0 5px;
    position: fixed;
    text-align: center;

    @each $size in map-keys($breakpoints) {
        .#{$size} {
            display: none;

            @include respond-only-to($size) {
                display: block;
            }
        }
    }
}
