// A form choices is a radio button section. This section will by default take up 100% of the container
.c-form__choices {
    > div {
        display: block;
        margin-right: 10px;

        @include respond-up(sm) {
            display: inline-block;
        }

        input,
        label {
            display: inline-block;
            margin-bottom: 0;
        }

        label {
            &.required:after {
                content: '';
            }
        }
    }
}

.c-form__checkbox--horizontal {
    position: relative;

    label {
        padding-left: 25px;
    }

    input {
        @include position(absolute, 3px, null, null, 0);
    }
}

// This class defines the structure of a group of three <select> objects which represents a date: year, month, day
.c-form__date {
    > select {
        display: inline-block;
        margin-right: 15px;
        width: auto;

        &:last-child {
            margin-right: 0;
        }
    }
}

// This class defines the structure of a group of <select> objects which represents a timestamp
.c-form__timestamp {
    > div {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        select {
            display: inline-block;
            margin-right: 5px;
            width: auto;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.c-form__timestamp__time {
    select:not(:first-child) {
        margin-left: 5px;
    }
}

.c-form__errors {
    $errorColor: darken($Color-Red, 20%);

    border: 1px solid $errorColor;
    border-radius: 2px;
    margin: 20px 0 4px;

    // Red exclamation icon container
    .c-form__errors__icon {
        background-color: $errorColor;

        display: flex;
        align-items: center;

        // Vertically centered exclamation icon
        i {
            color: $Color-Almost_White;
            padding: 5px 15px;
        }
    }

    ul {
        padding: 5px 15px;

        li {
            list-style: none;
        }
    }
}
