/// Explode a combined `border` syntax of `<width> <type> <color>` and get only the color.
///
/// This function is used solely for the theme-rule() call to extract the color and use it for the toolbar tabs.
///
/// @access private

@function _border-color-explode($border-syntax) {
    $explosion: str-explode($border-syntax, ' ');

    @if length($explosion) == 3 {
        @return nth($explosion, 3);
    }

    @return null;
}


// The parent container for the editor which holds both the toolbar and the canvas
.c-mde {}

// The toolbar which contains the buttons to switch between Edit and Preview modes
.c-mde__toolbar {
    @include border-top-radius(5px);
    @include ul-horizontal();
    @include theme-rule(background-color, 'markdown.editor.toolbar_background');
    @include theme-rule(border, 'markdown.editor.toolbar_border');

    margin-bottom: 0;
    padding: 10px 10px 0;

    li {
        @include theme-rule(color, 'body.color');
        @include border-top-radius(5px);

        border: 1px solid transparent;
        cursor: pointer;
        margin-bottom: -1px;
        padding: 10px;

        &:hover,
        &[aria-selected='true'] {
            @include theme-rule(background-color, 'markdown.editor.body_background');
            @include theme-rule(border-color, 'markdown.editor.toolbar_border', _border-color-explode);

            border-bottom-color: transparent !important;
        }

        .fa {
            @extend %fa-fw;
        }
    }
}

// The part of the editor which is the parent to the textarea box and the preview
.c-mde__canvas {
    @include theme-rule(background-color, 'markdown.editor.body_background');
    @include theme-rule(border, 'markdown.editor.body_border');

    border-top: none !important;
    padding: 15px;

    textarea {
        min-height: 400px;
    }

    .c-mde__panel {
        display: none;

        &[aria-hidden='false'] {
            display: block;
        }
    }
}

//
// Hide the styling for the canvas part of the editor when JS is disabled
//

.no-js {
    .c-mde__canvas {
        background-color: transparent;
        padding: 0;
    }
}
