// The parent container for the editor which holds both the toolbar and the canvas
.c-mde {}

// The toolbar which contains the buttons to switch between Edit and Preview modes
.c-mde__toolbar {
    @include ul-horizontal();
    @include theme-rule(background-color, 'navigation.background');

    margin-bottom: 0;
    padding: 10px 10px 0;

    li {
        @include theme-rule(color, 'body.color');
        @include border-top-radius(5px);

        cursor: pointer;
        padding: 10px;

        &:hover {
            @include theme-rule(background-color, 'navigation.background', tint, 1, 5%);
        }

        &[aria-selected='true'] {
            @include theme-rule(background-color, 'navigation.background', tint, 1, 15%);
        }

        .fa {
            @extend %fa-fw;
        }
    }
}

// The part of the editor which is the parent to the textarea box and the preview
.c-mde__canvas {
    @include theme-rule(background-color, 'navigation.background', tint, 1, 15%);

    padding: 15px;

    textarea {
        min-height: 400px;
    }

    .c-mde__panel {
        display: none;

        &[aria-hidden='false'] {
            display: block;
        }
    }
}

//
// Hide the styling for the canvas part of the editor when JS is disabled
//

.no-js {
    .c-mde__canvas {
        background-color: transparent;
        padding: 0;
    }
}
