@mixin loserOrder() {
    .c-matchwidget__team__image {
        margin-right: 0;
        order: 3;
    }

    .c-matchwidget__team__info {
        align-items: flex-end;
        order: 2;
        padding-right: 15px;
    }

    .c-matchwidget__team__score {
        order: 1;
    }
}

.c-matchwidget {}

.c-matchwidget__team--loser {
    @include respond-up(lg) {
        @include loserOrder();
    }
}

.c-matchwidget__timestamp {
    display: none;

    @include respond-up(sm) {
        display: block;
    }

    @include respond-up(md) {
        display: none;
    }

    @include respond-up(lg) {
        display: block;
    }
}

.c-matchwidget__link,
.c-matchwidget__team__info,
.c-matchwidget__team__score {
    align-items: center;
    display: flex;
}

.c-matchwidget__team__image {
    img {
        width: 50px;
    }
}

.c-matchwidget__stats,
.c-matchwidget__team__info {
    flex-grow: 1;
    overflow: hidden;
}

.c-matchwidget__team__info {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.c-matchwidget__link {
    @include theme-rule(border-left, 'border.default');

    margin-left: 15px;

    a {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }

    i {
        font-size: 30px;
    }
}
