.c-pill-group {
    @include theme-rule(border, 'border.default');
    @include theme-rule(border-radius, 'border.radius');

    display: inline-flex;
    overflow: hidden;
}

.c-pill-group__pill {
    @include theme-rule(border-right, 'border.default');
    @include theme-rule(color, 'elements.pills.color');

    cursor: pointer;
    padding: 5px 10px;

    &:last-child {
        border-right: none;
    }

    @include on-event() {
        @include theme-rule(background-color, 'elements.pills.background');
        @include theme-rule(color, 'elements.pills.color_active');
    }
}
