.c-player-badge {
    align-items: center;
    display: flex;
}

.c-player-badge__avatar {
    @include size(50px);

    margin-right: 10px;
}

.c-player-badge__body {
    flex-grow: 1;
    min-width: 0;
}

.c-player-badge__callsign {
    align-items: center;
    display: flex;
    font-size: 18px;
}

.c-player-badge__team {
    font-size: 14px;
    margin-bottom: 0;

    a {
        color: $Color-Medium_Grey;

        &:hover {
            color: lighten($Color-Medium_Grey, 15%);
        }
    }
}

@include responsify('.c-player-badge--right%infix') {
    justify-content: flex-end;

    .c-player-badge__avatar {
        margin-right: 0;
        margin-left: 10px;
        order: 3;
    }

    .c-player-badge__team {
        text-align: right;
    }

    span {
        order: 2;
    }

    .c-flag {
        margin-right: 10px;
        order: 1;
    }
}
