.js-server__status {
    &[data-status="active"],
    &[data-status="online"],
    &[data-status="offline"] {
        &::after {
            display: inline-block;
            font-family: FontAwesome;
        }
    }


    &[data-status="online"],
    &[data-status="offline"] {
        &::after {
            content: '\f111';
        }
    }

    &[data-status="online"] {
        color: $Color-Green;
    }

    &[data-status="offline"] {
        color: $Color-Red;
    }

    &[data-status="active"] {
        &::after {
            content: '\f007';
            color: $Color-Green;
        }
    }
}
