{% extends 'layout.html.twig' %}

{% block title %}Maps :: New Map{% endblock %}

{% block pageTitle %}
    <h1>Create Map</h1>
{% endblock %}

{% block content %}
    {% include "Map/form.html.twig" with { 'form': form } %}
{% endblock %}
