{% extends 'layout.html.twig' %}

{% block title %}Map :: {{ map.name }} :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Editing :: {{ map.name }}</h1>
{% endblock %}

{% block content %}
    {% include "Map/form.html.twig" with {
        'avatar': map.avatar,
        'form': form }
    %}
{% endblock %}
