{% extends 'layout.html.twig' %}

{% block title %}Generic Error{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <section class="o-container">
        {{ message }}
    </section>
{% endblock %}
