{% extends 'layout.html.twig' %}

{% block title %}{{ model }} Error{% endblock %}

{% block pageTitle %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {{ message }}
    </div>
{% endblock %}
