* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #ecf0f1;
    color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 15%;
    background-color: #34495e;
    position: fixed;
}

.nav {
    margin-top: 95%;
}

.link {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ecf0f1;
    font-size: 18px;
    text-align: center;
}

.link:hover {
    cursor: pointer;
}

.link i {
    font-size: 130%;
    width: 15%;
    float: left;
    line-height: 250%;
    margin: 0 15%;
    text-align: center;
}

.link span {
    float: left;
    width: 45%;
    text-align: left;
}

.pages {
    width: 100%;
    float: left;
    height: 100%;
}

.page {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    overflow: auto;
}

.content {
    width: 82.5%;
    background-color: #ecf0f1;
    margin-left: 9%;
    margin-top: 5%;
    color: #34495e;
    text-align: center;
}

    .content header {
        font-size: 40px;
        padding: 4%;
    }

    .content article {
        font-family: 'Merriweather', serif;
        font-size: 16px;
    }

.messages {
}

    .messages article {
        font-family: 'Montserrat', sans-serif;
        height: 100%;
    }

        .messages article .toolbar {
            background-color: #34495e;
            color: #ecf0f1;
        }

        .messages article .toolbar .tool {
            display: inline-block;
            background-color: #34495e;
            color: #ecf0f1;
            line-height: 140%;
            font-size: 350%;
            padding: 0 5%;
        }

        .messages article .toolbar .tool:hover {
            cursor: pointer;
            background-color: #1abc9c;
        }

        .messages article .groups {
            float: left;
            width: 35%;
        }

            .group {
                width: 100%;
                height: 90px;
                /*background-color: #1abc9c;*/
                border-bottom: 1px solid #34495e;
                text-align: left;
            }

            .group:hover {
                background-color: #F9FDFE;
                cursor: pointer;
            }

                .group .title {
                    font-size: 150%;
                    padding: 2% 4% 0 4%;
                }

                .group .members {
                    padding: 0 4% 2% 4%;
                    font-size: 100%;
                    color: #4E6378;
                }

                .group .last_message {
                    padding: 0 4%;

                }

            /*.group:last-child {
                border-bottom: none;
            }*/

        .messages article .chat {
            float: left;
            width: 64%;
            border-left: 1px solid #34495e;
            padding: 3% 0 1% 0;
        }

            .chat .message {
                width: 65%;
                border-radius: 5px;
                margin: 1% 5%;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
            }

            .message.right {
                float: right;
                background-color: #F7FEFF;
                border: 1px solid #9DD8E1;
            }

            .message.left {
                float: left;
                background-color: #FBFFFB;
                border: 1px solid #B4EBB0;
            }

                .message .author_info {
                    border-bottom: 1px solid #9DD8E1;
                    padding: 2% 0 1% 0;
                    margin: 0 2%;
                }

                .author_info .author {
                    float: left;
                }

                .author_info .time {
                    float: right;
                }

            .message .text {
                padding: 1% 5%;
            }

                .text .text_entry {
                    padding: 2% 0;
                }

            .input {
                width: 100%;
                margin-top: 5%;
            }

                .input .text {
                    width: 70%;
                    line-height: 20px;
                    padding: 10px 10px;
                    font-size: 20px;
                }

                .input .submit {
                    width: 15%;
                    height: 40px;
                    background-color: #34495e;
                    color: #ecf0f1;
                    border: none;
                    margin-left: 2%;
                    font-size: 20px;
                }
                    .submit:hover {
                        cursor: pointer;
                        background-color: #2c3e50;
                    }

.news {
    
}

    .news article {
        padding: 4%;
    }

    .news article .entry {
        text-align: left;
        padding: 0 5%;
    }

    .news .entry header {
        color: #34495E;
    }

    .news article .entry header {
        padding: 1%;
        font-family: 'Montserrat', sans-serif;
    }

        .news article .entry header .title {
            font-size: 30px;
            font-weight: 300;
        }

        .news article .entry header .author {
            font-size: 16px;
            color: #4E6378;
        }

            .news article .entry header .author a {
                color: #4E6378;
            }

            .news article  .entry header .author a:hover {
                /*color: #{the color of the page}; */
            }

        .news article  .entry article {
            line-height: 1.6em;
            padding: 1% 5% 2% 1%;
        }

.players article {
    padding: 4%;
}

    .players article ul {
        list-style: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;

    }

        .players article ul li {
            /*text-align: left;*/
            /*padding: 1%;*/
        }

        .players article ul li ul {
            background-color: #bdc3c7;
        }

        .players article ul li.table_header {
            font-family: 'Montserrat', sans-serif;
        }

        .players article ul li.table_header ul {
            background-color: #34495e;
        }

        .players article ul li.table_header ul li {
            color: #ecf0f1;
        }

        .players article ul li ul li {
            display: inline-block;
            width: 20%;
            padding: 1%;
        }

.teams article {
    padding: 4%;
}

    .teams article ul {
        list-style: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;

    }

        .teams article ul li {
            /*text-align: left;*/
            /*padding: 1%;*/
        }

        .teams article ul li ul {
            background-color: #bdc3c7;
        }

        .teams article ul li.table_header {
            font-family: 'Montserrat', sans-serif;
        }

        .teams article ul li.table_header ul {
            background-color: #34495e;
        }

        .teams article ul li.table_header ul li {
            color: #ecf0f1;
        }

            .teams article ul li ul {
            }

                .teams article ul li ul li {
                    display: inline-block;
                    width: 13%;
                    padding: 1%;
                }

                .teams article ul li ul li:first-child {
                    width: 20%;
                }

.yellow, .yellow_hover:hover, .yellow_hover.active {
    background-color: #f1c40f;
}

.orange, .orange_hover:hover, .orange_hover.active {
    background-color: #e67e22;
}

.red, .red_hover:hover, .red_hover.active {
    background-color: #e74c3c;
}

.teal, .teal_hover:hover, .teal_hover.active {
    background-color: #1abc9c;
}

.green, .green_hover:hover, .green_hover.active {
    background-color: #2ecc71;
}

.blue, .blue_hover:hover, .blue_hover.active {
    background-color: #3498db;
}

.purple, .purple_hover:hover, .purple_hover.active {
    background-color: #9b59b6;
}

.silver {
    background-color: #bdc3c7;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
