// Because BZiON uses `sass-media_query_combiner` to combine the media queries together, the order the media queries are placed are changed.
// To fix this issue, here are some dummy CSS rules that'll basically "trick" the SASS plug-in to order the media queries as specified here.
//
// For more information: https://github.com/aaronjensen/sass-media_query_combiner/issues/10

.media-query-setup {
    @include respond-to(tablets) {
        html:before {
            font-size: inherit;
        }
    }

    @include respond-to(phablets) {
        html:before {
            font-size: inherit;
        }
    }

    @include respond-to(phones) {
        html:before {
            font-size: inherit;
        }
    }
}