//
// Placeholders that are available to be used across the project
//

/// A placeholder for the infamous "clearfix" hack to fix floats

%clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
        line-height: 0;
    }
}


/// A placeholder that will automatically set the margin bottom of an element to the global
/// setting and set the last child to have no margin bottom on all view sizes

%desktop-margin {
    @include autoMarginBottom($Settings-Page_Section-Small_Margin);
}


/// A placeholder that will automatically horizontally center a block element

%margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

/// A placeholder that will remove the left padding of an element. This placeholder is intended
/// to easily remove the padding of `ul` or `ol` elements.

%no-padding-ul {
    padding-left: 0;

    li {
        list-style-type: none;
    }
}


/// A placeholder that will automatically set the margin bottom of an element to the global
/// setting and set the last child to have no margin bottom on view sizes of a phablet and smaller

%phablet-margin {
    @include respond-to(phablets) {
        @include autoMarginBottom();
    }
}


/// A placeholder that will automatically set the margin bottom of an element to the global
/// setting and set the last child to have no margin bottom on phones

%phone-margin {
    @include respond-to(phones) {
        @include autoMarginBottom();
    }
}


/// A placeholder that will automatically set the margin bottom of an element to the global
/// setting and set the last child to have no margin bottom on view sizes of a tablet and smaller

%tablet-margin {
    @include respond-to(tablets) {
        @include autoMarginBottom($Settings-Page_Section-Small_Margin);
    }
}


/// The master width of the website that is set through `$Settings-Global-Width` in `_base.scss`.
/// Because this project is mobile responsive, any view sizes smaller than a desktop will have
/// 100% width.

%wrapper {
    @extend %margin-center;

    width: $Settings-Global-Width;

    @include respond-to(tablets) {
        padding: {
            left: 20px;
            right: 20px;
        }
        width: 100%;
    }

    @include respond-to(phones) {
        padding: {
            left: 15px;
            right: 15px;
        }
    }
}