/// Automatically set the margin-bottom of an element to a specified value but have the last
/// type of that element to have margin bottom 0
///
/// @param {Number [unit]} $margin [30px]
///   The margin bottom that will be used

@mixin autoMarginBottom($margin: $Settings-Page_Section-Margin) {
    margin-bottom: $margin;

    &:last-child {
        margin-bottom: 0;
    }
}

/// Return a dark color or a light color based on the color given. This function can be used
/// when wanting to dynamically set the font-color based on the background color.
///
/// @param {Color} $color
///   The background color you want to get a font color for
///
/// @return {Hex} A light color for a dark background or a dark color for a light background

@function set-text-from-color($color) {
    // Not perfectly 50% because it's not perfectly split
    @if (lightness($color) > 54) {
        @return darken($color, 50%); // Lighter background, return dark color
    }
    @else {
        @return $Color-White; // Darker background, return light color
    }
}

@mixin profile-picture() {
    img {
        width: 100%;

        @include respond-to(phablets) {
            width: 30%;
        }

        @include respond-to(phones) {
            width: 40%;
        }
    }

    @include respond-to(phablets) {
        margin-bottom: 30px;
        text-align: center;
    }
}
