{% extends 'layout.html.twig' %}

{% block title %}Roles :: New Role{% endblock %}

{% block pageTitle %}
    <h1>New Role</h1>
{% endblock %}

{% block content %}
    {{ form(form, { attr: { class: 'c-form o-container' } }) }}
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
{% endblock %}
