.c-match-history__matches {
    @include view-container();

    .c-match-history__match {
        @include view-columns(xs, 12);
        @include view-columns(xl, 6);
        @include view-columns(xxxl, 4);

        .c-matchwidget {
            border-bottom: $Border-Default;
            padding-bottom: $Settings-Page_Section-Small_Margin;

            @include respond-up(xl) {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        &:first-child {
            .c-matchwidget {
                border-top: $Border-Default;
                padding-top: $Settings-Page_Section-Small_Margin;

                @include respond-up(xl) {
                    border-top: 0;
                    padding-top: 0;
                }
            }
        }
    }
}

.c-match-history__date {
    &:first-child {
        h4 {
            margin-top: 0;
        }
    }

    h4 {
        margin: {
            bottom: $Settings-Page_Section-Small_Margin;
            top: $Settings-Page_Section-Small_Margin;
        }
    }
}