@mixin loserOrder() {
    .c-matchwidget__team__image {
        order: 3;
    }

    .c-matchwidget__team__name {
        text-align: right;
        order: 2;
        padding-right: $Settings-Page_Section-Small_Margin;
    }

    .c-matchwidget__team__score {
        order: 1;
    }
}

.c-matchwidget {
    @include view-container();

    margin-bottom: $Settings-Page_Section-Small_Margin;
}

.c-matchwidget__team {
    @include view-columns(xs, 12);
    @include view-columns(md, 6);

    align-items: center;
    display: flex;
    margin-bottom: $Settings-Page_Section-Tiny_Margin;
}

.c-matchwidget__team__image {
    img {
        display: block;
        width: 40px;

        @include respond-up(lg) {
            width: auto;
        }
    }
}

.c-matchwidget__team__name {
    flex: 1;
    padding-left: $Settings-Page_Section-Small_Margin;
}

.c-matchwidget__team__score {
    a {
        color: $Color-Black;

        &:hover {
            color: lighten($Color-Black, 15%);
        }
    }
}

.c-matchwidget__loser {
    @include respond-up(md) {
        @include loserOrder();
    }
}