main {
    &.bans {
        @extend .clearfix;

        .punishments {
            @extend .wrapper;

            .ban_list {
                width: 100%;

                .row {
                    &.header {
                        border-bottom: 1px dotted #EFEFEF;
                    }

                    .column {
                        border: none;
                        padding: 10px;
                    }
                }
            }
        }

        .summary {
            @extend .wrapper;

            h2, h3 {
                margin-bottom: 10px;
            }

            > article, > p, > ul {
                margin: 10px 20px;
            }
        }
    }
}