//
// Official colors
//
$mainColor: #3E4D58;
$bodyBackground: #34495E;
$hoverColor: #e67e22;
$borderColor: #BDBDBD;
$borderColorLight: #EEF1F4;

//
// Fonts
//
$mainFont: 'Open Sans', sans-serif;
$contentFont: 'Merriweather', serif;


//
// Global variables
//
$page_width: 1000px;

//
// HTML Elements
//
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: $bodyBackground;
    display: table;
    font-family: $mainFont;
    font-size: 1em;
    width: 100%;
}

a {
    color: $mainColor;

    &:hover {
        color: $hoverColor;
    }
}

button {
    margin: 5px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 19px;
}

pre {
    white-space: pre-wrap;
}

//
// Universal classes
//

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1100px;
}