//
// Official colors
//
$mainColor: #3E4D58;
$hoverColor: #00BF9E;
$bodyBackground: #FFF6EA;
$contentBackground: #FFF0DB;
$border_color: #BDBDBD;
$orange: #E69500;

//
// Global variables
//
$page_width: 1000px;

//
// HTML Elements
//
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: $bodyBackground;
    display: table;
    font-family: Open Sans, Sans-Serif;
    font-size: 1em;
    width: 100%;
}

a {
    color: $mainColor;

    &:hover {
        color: $orange;
    }
}

button {
    margin: 5px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 19px;
}

pre {
    white-space: pre-wrap;
}

//
// Universal classes
//

.float {
    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.padding {
    &.top {
        padding-top: 10px;
    }

    &.left, &.right {
        padding-right: 5px;
    }

    &.bottom {
        padding-bottom: 15px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 1100px;
}