.button {
    &.red {
        @include ion_btn(#FF0000, $White);
    }

    &.green {
        @include ion_btn(#00d319, $White);
    }

    &.blue {
        @include ion_btn(#2f79ff, $White);
    }

    &.yellow {
        @include ion_btn(#fff400, $White);
    }

    &.orange {
        @include ion_btn(#ff6700, $White);
    }

    &.grey {
        @include ion_btn(#fafafa, $Medium_Grey);
    }

    &.skinny {
        padding: 0.3em 2em .35em;
    }

    &.square {
        border-radius: 0;
    }

    &.noshadow {
        box-shadow: 0 0 0 0;
        text-shadow: none;
    }
}