.c-table {
}

.c-table--no-border {
    .c-table__row {
        border: none;

        .c-table__row__column {
            border: none;
        }
    }
}

.c-table--no-hover {
    .c-table__row {
        &:hover {
            background-color: transparent;
        }
    }
}

.c-table__row {
    border-bottom: $Table-Border;
    border-top: $Table-Border;
    display: flex;

    &:hover {
        background-color: $Table-Background-Hover;
    }
}

.c-table__row--header {
    .c-table__row__column {
        font-weight: bold;
    }
}

.c-table__row__column {
    border-left: $Table-Border;
    border-right: $Table-Border;
    box-sizing: border-box;
    flex: 1;
    padding: $Table-Cell_Padding;
}