body {
    >header {
        @include gradient(#FFFFFF, #F2F2F2);
        @include box-shadow(0, 2px, 5px, rgba(50, 50, 50, 0.075));

        border-bottom: 1px solid #D4D4D4;

        section {
            @extend .clearfix;
            @extend .wrapper;

            h1 {
                float: left;
                font-family: $collegia;
                font-size: 36px;
                margin: 10px 20px 10px 0;

                a {
                    color: #000000;

                    img {
                        vertical-align: middle;
                    }
                }
            }

            nav {
                // CSS hack to tame the floated <h1>. This will allow us to take up the reset of the <header> without
                // having to calculate the remaining width with either JavaScript or CSS' calc().
                overflow: hidden;

                ul {
                    padding-left: 0;

                    li {
                        float: left;
                        font-family: $sanSerifFont;
                        list-style: none;

                        a {
                            color: #666;
                            display: block;
                            padding: 17px 15px;

                            // This rule exists because all outgoing links automatically have an external link symbol added
                            // so we need to hide it in the navigation for the login button
                            &:after {
                                display: none;
                            }

                            &:hover {
                                color: #000;
                            }
                        }

                        &.active {
                            @include box-shadow(0, 2px, 15px, rgba(0, 0, 0, 0.25), true);
                        }

                        &:hover {
                            @include box-shadow(0, 2px, 15px, rgba(0, 0, 0, 0.1), true);
                        }
                    }

                    &.pages {
                        float: left;
                    }

                    &.user {
                        float: right;
                    }
                }
            }
        }

        // The notification that will appear on the header for status of requests
        .notification {
            @include border-bottom-radius(5px);

            background-color: #FFFFFF;
            border: 2px solid #222222;
            border-top: none;
            display: none;
            left: 25em;
            min-width: 256px;
            padding: 6px 16px;
            position: fixed;
            text-align: center;
            top: 0px;
            z-index: 30;

            i {
                margin-right: 8px;
            }

            // Notification types
            &.success {
                background-color: #D7FFD7;
                border-color: #2ecc71;
                color: #2ecc71;
                display: block;
                z-index: 100;
            }

            &.error {
                background-color: #FFD7D7;
                border-color: #e74c3c;
                color: #e74c3c;
                display: block;
                z-index: 100;
            }
        }
    }
}