// This will be the class that contains all of a page's contents
.page {
    display: table-row;
    height: 100%;

    .content {
        background-color: $contentBackground;
        height: 100%;
        overflow: hidden;

        // This will be our normal page with information
        article {
            border-bottom: 1px solid $border_color;
            margin: 30px auto 0;
            width: 900px;

            // This will always be the title of the article or the page
            h1 {
                background-color: $mainColor;
                color: #FFFFFF;
                font-family: "Open Sans";
                font-size: 20px;
                text-align: center;
                padding: 5px 0;
            }

            // The content of the page
            p {
                background-color: #FFFFFF;
                border-left: 1px solid $border_color;
                border-right: 1px solid $border_color;
                border-top: none;
                font-family: Merriweather;
                padding: 12px;
                line-height: 1.5em;
            }

            // If the page has an author, such as a news article or a ban announcement, the footer is where the author would go
            footer {
                background-color: #FFFFFF;
                border-left: 1px solid $border_color;
                border-right: 1px solid $border_color;
                padding: 0 20px 10px;
                text-align: right;
            }
        }
    }
}

// Because tables are atrocious for responsive designs, we have our own CSS to give unordered lists the appearance of
// being in columns and rows
.table {
    margin: 0 auto;

    // Because different pages will have different tables, here we have set the CSS settings for the matches table
    &.teams {
        width: 1000px;

        // Set the width of all the columns based on the nth-child. I will throw a tantrum if IE9 is stupid and doesn't
        // support nth-child. -allejo
        ul {
            overflow: hidden;
            width: 100%;

            li {
                float: left;

                &:nth-child(1) {
                    width: 23%;
                }

                &:nth-child(2) {
                    width: 5%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 7%;
                }

                &:nth-child(5) {
                    width: 8%;
                }

                &:nth-child(6) {
                    width: 10%;
                }
            }
        }
    }

    // Each unordered list will act as a row of the table
    ul {
        list-style-type: none;

        // Each list item will act as a column of a row, so we need to have them sit next to each other nicely
        li {
            display: inline-block;
            padding: 10px 30px;
            text-align: center;

            // Add a left border for all of the "columns" except for the first one
            &:nth-child(n+2) {
                border-left: 1px solid $border_color;
            }
        }

        // Color code the rows
        &:nth-child(even) {
            background-color: #F7F7F7;
        }

        &:nth-child(odd) {
            background-color: #D6D6D6;
        }

        // Our first row, or unordered list, will always act as the header so design it respectively
        &:first-child {
            background-color: #FFFFFF;
            border-bottom: 1px solid $border_color;
        }
    }
}