body {
    font-family: $serifFont;
    line-height: 1.4em;
}

main {
    .content_header {
        @extend .clearfix;

        border-bottom: 1px solid $Off_White;
        font-family: $sanSerifFont;
        margin: 0 0 30px;
        padding: 20px 0;

        h1 {
            font-size: 24px;
        }

        div {
            float: left;

            h1 {
                color: $Blue;
                font-size: 24px;
            }

            h2 {
                color: #CACACA;
                font-size: 16px;
            }
        }

        p {
            float: left;
            font-size: 42px;
            font-weight: bold;
            margin-right: 5px;
            margin-top: 10px;
        }
    }
}

.clearfix {
    zoom: 1;

    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.css-table {
    border-collapse: collapse;
    display: table;

    .row {
        display: table-row;

        .column {
            @include box-sizing(border-box);

            border: 1px solid #EFEFEF;
            display: table-cell;
            height: 20px;
        }
    }
}

.wrapper {
    margin: 0 auto;
    width: $global_width;
}