main {
    &.match_list {
        font-family: $sansSerifFont;
        margin-bottom: 20px;

        .content_header {
            .buttons {
                margin: 0;
            }
        }

        .matches {
            @extend .clearfix;
            @extend .wrapper;

            h4 {
                margin: 10px 0;
            }

            article {
                @extend .clearfix;

                margin: 0;
                width: 100%;

                .css-table {
                    @include box-sizing(border-box);

                    table-layout: fixed;
                    width: 100%;

                    .row {
                        .column {
                            border: none;
                            color: $Medium_Grey;
                            padding: 5px 20px;
                            text-align: left;

                            a {
                                color: $Medium_Grey;
                            }

                            &.winner {
                                text-align: right;
                            }

                            &.win-points {
                                text-align: right;
                            }

                            &.win-points, &.loss-points {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
}
