main {
    &.messaging {
        @extend .clearfix;

        font-family: $sanSerifFont;

        .content_header {
            margin-bottom: 0;
        }

        .messages {
            @extend .clearfix;
            @extend .wrapper;

            display: table;

            .conversations {
                @include box-sizing(border-box);

                background-color: #FFFFFF;
                border-left: 1px solid #EFEFEF;
                border-right: 1px solid #EFEFEF;
                display: table-cell;
                height: 335px;
                position: relative;
                vertical-align: top;
                width: 35%;

                .search {
                    $searchHeight: 35px;
                    @extend .clearfix;

                    background-color: #FFFFFF;
                    border-bottom: 1px solid #EFEFEF;
                    height: $searchHeight;
                    padding: 5px;
                    position: absolute;

                    .icon {
                        display: inline-block;
                        float: left;
                        margin: 0 10px;
                        text-align: center;
                        vertical-align: middle;

                        i {
                            line-height: $searchHeight;
                        }
                    }

                    .field {
                        background-color: #ffffff;
                        border: none;
                        display: inline-block;
                        float: left;
                        font-size: 16px;
                        height: 100%;
                        text-align: left;
                        text-decoration: none;
                        vertical-align: middle;
                        width: 265px;

                        &:focus {
                            outline: 0;
                        }
                    }
                }

                .chat_messages {
                    height: 560px;
                    overflow: scroll;

                    .chats {
                        padding-left: 0;
                        padding-top: 45px;

                        li {
                            @include box-sizing(border-box);

                            background-color: #ffffff;
                            border-bottom: 1px solid #EFEFEF;
                            display: block;
                            list-style-type: none;
                            padding: 10px;
                            width: 100%;

                            a {
                                text-decoration: none;

                                .meta {
                                    @extend .clearfix;

                                    .subject {
                                        color: #000000;
                                        float: left;
                                        font-size: 20px;
                                    }

                                    .timestamp {
                                        color: #009EFF;
                                        float: right;
                                        font-size: 12px;
                                    }
                                }

                                .members {
                                    color: #99A0A3;
                                    font-family: $serifFont;
                                    font-weight: 300;
                                    font-size: 12px;
                                }

                                .last_message {
                                    color: #000000;
                                    font-size: 16px;
                                    padding: 5px 10px;
                                }

                                &:hover {
                                    color: #000000;
                                }
                            }

                            &:hover {
                                background-color: #F2FBFF;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

            .chat_area {
                @include box-sizing(border-box);

                border-right: 1px solid #EFEFEF;
                display: table-cell;
                width: 100%;

                >.details {
                    @include box-sizing(border-box);

                    background-color: $Sky_Blue;
                    border-bottom: 1px solid #EFEFEF;
                    color: #FFFFFF;
                    min-height: 45px;
                    padding: 10px;
                    width: 100%;

                    .meta {
                        @extend .clearfix;

                        padding-bottom: 10px;

                        .subject {
                            float: left;
                            font-size: 24px;
                            font-weight: 300;
                        }

                        .tools {
                            float: right;

                            i {
                                margin: 0 5px;

                                &.close {
                                    &:hover {
                                        color: #e74c3c;
                                    }
                                }
                            }
                        }

                        &.nopadding {
                            padding-bottom: 0;
                        }
                    }

                    .members {
                        border-top: 1px solid #FFFFFF;
                    }
                }

                >.scrollable_messages {
                    display: block;
                    height: 335px;
                    overflow: scroll;
                    width: 100%;

                    .messages {
                        display: block;
                        height: 100%;
                        overflow: scroll;
                        padding-left: 0;
                        width: 100%;

                        li {
                            display: block;
                            overflow: hidden;

                            .bubble {
                                background-color: #FBFFFB;
                                border: 1px solid #B4EBB0;
                                border-radius: 5px;
                                margin: 10px 15px;
                                padding: 5px 10px;
                                float: left;
                                width: 75%;

                                .details {
                                    border-bottom: 1px solid #B4EBB0;
                                    margin-bottom: 10px;
                                    padding-bottom: 5px;
                                    overflow: hidden;
                                    width: 100%;

                                    .author {
                                        color: $Grey;
                                        float: left;
                                    }

                                    .date {
                                        color: #CCD4DC;
                                        float: right;
                                        font-size: 12px;
                                    }
                                }

                                p {
                                    margin: 10px;
                                }

                                &.me {
                                    background-color: #F7FEFF;
                                    border: 1px solid #9DD8E1;
                                    float: right;

                                    .details {
                                        border-bottom: 1px solid #9DD8E1;
                                    }
                                }
                            }
                        }
                    }
                }

                >.compose_form {
                    background-color: #FFFFFF;

                    .input_group {
                        @include box-sizing(border-box);

                        border-bottom: 1px solid #EFEFEF;
                        display: table;
                        padding: 16px 10px;
                        table-layout: auto;
                        width: 100%;

                        > div {
                            display: table-row;

                            .select2-container {
                                .select2-search-choice {
                                    @include background-image(linear-gradient(#E4EFFE, #C1DAFE));

                                    border: 1px solid #9EB3D0;
                                    padding-bottom: 5px;
                                }
                            }

                            > input {
                                @include box-sizing(border-box);

                                font-size: 13px;
                                padding: 5px;
                                width: 100%;

                                &:focus {
                                    border: 1px solid #5897fb;
                                    outline: none;
                                    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
                                }
                            }
                        }
                    }

                    .editor {
                        @include box-sizing(border-box);

                        border-bottom: 1px solid #EFEFEF;
                        padding: 10px;

                        > div {
                            label {
                                display: none;
                                margin-bottom: 10px;
                            }

                            textarea {
                                @include box-sizing(border-box);

                                border: none;
                                font-size: 13px;
                                height: 340px;
                                resize: none;
                                width: 100%;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }

                    .buttons {
                        text-align: right;

                        .ladda-button {
                            background-color: $Sky_Blue;
                            border-radius: 0;
                            font-size: 16px;
                            padding: 5px;
                        }
                    }

                    .input_group label {
                        display: table-cell;
                        padding-right: 5px;
                        text-align: left;
                    }

                    .input_group_main {
                        @include box-sizing(border-box);

                        border-radius: 0;
                        display: table-cell;
                        height: 29px;
                        width: 100%;
                    }

                    .input_group_main input[type=text] {
                        @include box-sizing(border-box);

                        background-image: linear-gradient(rgb(238, 238, 238) 1%, rgb(255, 255, 255) 15%);
                        font-size: 13px;
                        margin-top: 1px;
                        padding: 5px 5px 5px 5px;
                        width: 100%;
                    }

                    .compose_area {
                        @include box-sizing(border-box);

                        background-color: #fff;
                        border: 1px solid #eee;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        color: $Dark_Grey;
                        display: block;
                        font-size: 1em;
                        height: 100px;
                        line-height: 1.42857;
                        margin: 0 auto;
                        min-height: 70px;
                        padding: 6px 12px;
                        resize: vertical;
                        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                        vertical-align: middle;
                        width: 97%;
                    }
                }

                .reply_form {
                    @include box-sizing(border-box);

                    background-color: $Blue_Grey;
                    bottom: 0;
                    height: 150px;
                    padding: 20px;
                    width: 100%;

                    .quick_reply {
                        overflow: hidden;

                        textarea {
                            @include box-sizing(border-box);

                            border: 1px solid $Light_Grey;
                            font-family: Open Sans;
                            font-size: 13px;
                            padding: 5px;
                            resize: none;
                            width: 100%;
                        }

                        button[type="submit"] {
                            float: right;
                        }
                    }
                }

                .buttons {
                    padding: 10px;
                }
            }
        }
    }
}