//
// Mixins
//
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
       -moz-box-sizing: $box-model;
            box-sizing: $box-model;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;

    background-clip: padding-box;  // stops bg color from leaking outside the border:
}

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
     -webkit-border-top-left-radius: $radius;
        -moz-border-radius-topright: $radius;
         -moz-border-radius-topleft: $radius;
            border-top-right-radius: $radius;
             border-top-left-radius: $radius;

    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
       -webkit-border-top-right-radius: $radius;
        -moz-border-radius-bottomright: $radius;
           -moz-border-radius-topright: $radius;
            border-bottom-right-radius: $radius;
               border-top-right-radius: $radius;

   background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
     -webkit-border-bottom-left-radius: $radius;
        -moz-border-radius-bottomright: $radius;
         -moz-border-radius-bottomleft: $radius;
            border-bottom-right-radius: $radius;
             border-bottom-left-radius: $radius;
    
    background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
       -webkit-border-top-left-radius: $radius;
        -moz-border-radius-bottomleft: $radius;
           -moz-border-radius-topleft: $radius;
            border-bottom-left-radius: $radius;
               border-top-left-radius: $radius;
    
    background-clip: padding-box;
}

@mixin border-top-left-radius($radius) {
       -webkit-border-top-left-radius: $radius;
           -moz-border-radius-topleft: $radius;
               border-top-left-radius: $radius;
    
    background-clip: padding-box;
}

@mixin border-top-right-radius($radius) {
       -webkit-border-top-right-radius: $radius;
           -moz-border-radius-topright: $radius;
               border-top-right-radius: $radius;

   background-clip: padding-box;
}

@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
        -moz-border-radius-bottomleft: $radius;
            border-bottom-left-radius: $radius;
    
    background-clip: padding-box;
}

@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
        -moz-border-radius-bottomright: $radius;
            border-bottom-right-radius: $radius;

   background-clip: padding-box;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); // IE8...
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
           -moz-box-shadow: inset $top $left $blur $color;
                box-shadow: inset $top $left $blur $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $color;
           -moz-box-shadow: $top $left $blur $color;
                box-shadow: $top $left $blur $color;
    }
}
