.c-pill-group {
    display: inline-flex;
}

.c-pill-group__pill {
    border-bottom: $Border-Default;
    border-left: $Border-Default;
    border-top: $Border-Default;
    cursor: pointer;
    padding: 5px 10px;

    &:first-child {
        @include border-left-radius($Border-Radius);
    }

    &:last-child {
        @include border-right-radius($Border-Radius);

        border-right: $Border-Default;
    }

    @include on-event() {
        background-color: $Color-Blue;
        color: $Color-White;
    }
}

// Overloaded CSS so we won't get hyperlink styles
//
// @TODO Revisit this in 1.0.0

a.c-pill-group__pill {
    color: $Color-Black;

    @include on-event() {
        background-color: $Color-Blue;
        color: $Color-White;
    }
}
