main {
    &.player {
        .content_header {
            article {
                .flag {
                    margin-right: 10px;
                    margin-top: 6px;
                }

                h1 {
                    display: inline;
                }
            }
        }

        .profile {
            @extend .wrapper;

            font-family: $sanSerifFont;
        }

        .list {
            @extend .clearfix;
            @extend .wrapper;

            font-family: $sanSerifFont;
            margin-bottom: 30px;

            article {
                @include box-sizing(border-box);

                float: left;
                padding: 5px;
                width: 33%;

                .player_avatar {
                    $avatarSize: 50px;

                    height: $avatarSize;
                    width: $avatarSize;
                }

                .info {
                    display: inline-block;
                    margin: 0 10px;
                    vertical-align: top;

                    .callsign {
                        display: inline-block;
                        font-size: 18px;
                    }

                    .team {
                        font-size: 14px;

                        a {
                            color: $Medium_Grey;

                            &:hover {
                                color: lighten($Medium_Grey, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
}