main {
    &.player {
        .content_header {
            article {
                .flag {
                    margin-right: 10px;
                    margin-top: 6px;
                }

                h1 {
                    display: inline;
                }
            }
        }

        .profile {
            @extend .wrapper;

            font-family: $sanSerifFont;
        }
    }
}