main {
    &.players, &.teams {
        .profile {
            @extend .clearfix;
            @extend .wrapper;

            margin-bottom: 20px;

            .row {
                @extend .clearfix;

                width: 100%;

                > section {
                    @include box-sizing(border-box);

                    float: left;
                    padding: 10px 20px;
                    width: 50%;

                    h4 {
                        margin-bottom: 5px;
                        padding-bottom: 5px;

                        small {
                            color: $Light_Grey;
                            font-weight: 300;
                            margin-left: 5px;

                            a {
                                color: $Light_Grey;
                                font-weight: normal;
                                margin-left: 2px;
                                margin-right: 1px;
                            }
                        }
                    }

                    &.information {
                        width: 75%;
                    }

                    &.profile_picture {
                        padding: 0;
                        width: 25%;
                    }
                }
            }
        }
    }
}