main {
    &.server_list {
        font-family: $sansSerifFont;

        .servers {
            @extend .clearfix;
            @extend .wrapper;

            @include columns(2 3em);

            .server {
                display: inline-block;
                margin: 10px;
                overflow: auto;
                width: 100%;

                .dimmable {
                    padding: 10px;
                }

                // HTML needs to be restructured, until then this class won't
                // be expanded
                .server_info {
                    .title {
                        .status {
                            cursor: pointer;
                            font-size: 18px;

                            &.offline {
                                color: red;
                            }

                            &.online {
                                color: green;
                            }
                        }

                        .name {
                            font-weight: bold;
                        }
                    }

                    .address {
                        font-weight: 14px;
                    }
                }
            }
        }
    }
}
