main {
    &.teams {
        font-family: $sanSerifFont;
        padding: 20px 0;

        .list {
            @extend .wrapper;

            padding-left: 0;

            li {
                @extend .clearfix;

                list-style: none;
                margin: 30px 10px;

                .rank {
                    float: left;
                    margin: 3px 10px 0 0;
                }

                > section {
                    overflow: hidden;

                    .team_stats {
                        @extend .clearfix;

                        .team {
                            .name {
                                float: left;
                                font-size: 24px;
                            }

                            .elo {
                                float: left;
                                margin-left: 10px;

                                &:before {
                                    content: '(';
                                }

                                &:after {
                                    content: ')';
                                }
                            }
                        }

                        .stats {
                            float: right;

                            a {
                                color: darkgrey;
                            }
                        }
                    }

                    .meta {
                        @extend .clearfix;

                        margin-top: 5px;

                        p {
                            float: left;
                            font-size: 14px;
                            margin-right: 25px;

                            a {
                                color: darkgrey;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    &.team_profile {
        font-family: $sanSerifFont;

        .content_header {
            .rank {
                float: left;
                margin-right: 10px;
            }

            div {
                float: left;

                h1 {
                    color: #000000;
                }
            }
        }

        .profile {
            @extend .clearfix;
            @extend .wrapper;

            margin-bottom: 20px;

            h4 {
                margin-bottom: 5px;
                padding-bottom: 5px;

                small {
                    color: $Light_Grey;
                    font-weight: 300;
                    margin-left: 5px;

                    a {
                        color: $Light_Grey;
                        font-weight: normal;
                        margin-left: 2px;
                        margin-right: 1px;
                    }
                }
            }

            .team_row {
                @extend .clearfix;

                width: 100%;

                > section {
                    @include box-sizing(border-box);

                    float: left;
                    padding: 10px 20px;
                    width: 50%;

                    &.information {
                        width: 75%;
                    }

                    &.profile_picture {
                        padding: 0;
                        width: 25%;
                    }
                }
            }

            .match_stats {
                .teamMatchStats {
                    $size: 150px;

                    float: left;
                    height: $size;
                    width: $size;
                }

                .legend {
                    float: left;
                    margin: 40px 0;

                    .item {
                        display: block;

                        .block {
                            $block_size: 10px;

                            border: 1px solid $Off_White;
                            float: left;
                            height: $block_size;
                            margin: 5px 10px;
                            width: $block_size;

                            &.wins {
                                background-color: #EBEBEB;
                            }

                            &.losses {
                                background-color: #B6D1D8;
                            }

                            &.draws {
                                background-color: #8FDC00;
                            }
                        }
                    }
                }
            }

            .members {
                .team_members {
                    margin-left: 20px;

                    .row {
                        border: none;

                        .column {
                            border: none;
                            padding: 5px;

                            a {
                                color: $Black;

                                &:hover {
                                    color: $Sky_Blue;
                                }
                            }

                            i {
                                &.fa-eject {
                                    color: $Medium_Grey;
                                }

                                &.fa-star {
                                    color: #FDCE46;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}