main {
    &.teams {
        font-family: $sanSerifFont;
        padding: 20px 0;

        .list {
            @extend .wrapper;

            padding-left: 0;

            li {
                @extend .clearfix;

                list-style: none;
                margin: 30px 10px;

                img {
                    float: left;
                    margin: 3px 10px 0 0;
                }

                > section {
                    overflow: hidden;

                    .team_stats {
                        @extend .clearfix;

                        .team {
                            .name {
                                float: left;
                                font-size: 24px;
                            }

                            .elo {
                                float: left;
                                margin-left: 10px;

                                &:before {
                                    content: '(';
                                }

                                &:after {
                                    content: ')';
                                }
                            }
                        }

                        .stats {
                            float: right;

                            a {
                                color: darkgrey;
                            }
                        }
                    }

                    .meta {
                        @extend .clearfix;

                        margin-top: 5px;

                        p {
                            float: left;
                            font-size: 14px;
                            margin-right: 25px;

                            a {
                                color: darkgrey;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    &.team_profile {
        .content_header {
            .rank_image {
                float: left;
                margin-right: 5px;
            }

            div {
                float: left;

                h1 {
                    color: #000000;
                }
            }
        }
    }
}