{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <div class="content_header">
            <article class="wrapper">
                <h1>Under maintenance</h1>
            </article>
        </div>

        <section class="wrapper">
            <img src="{{ asset('assets/imgs/maintenance.png') }}" />
        </section>
    </main>
{% endblock %}
