{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <h1>We'll be right back</h1>
{% endblock %}

{% block content %}
    <section class="o-container s-user-html">
        {% if text is same as (true) %}
            <p>We are currently performing some maintenance on this website; this most likely means we're fixing things that brad broke.</p>
            <p>Check back later!</p>
        {% else %}
            {{ text|markdown(false, true) }}
        {% endif %}
        <img class="u-horizontal-center" src="{{ asset('assets/imgs/maintenance.png') }}" alt="Under maintenance">
    </section>
{% endblock %}
