.c-article {
    border-bottom: $Border-Default;
    margin-bottom: $Settings-Page_Section-Small_Margin;
    padding-bottom: $Settings-Page_Section-Small_Margin;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.c-article__title {
    @include theme-specific('color', 'news-title');

    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
}


.c-article__date {
    @include theme-specific('color', 'news-meta');

    font-size: 13px;
}

.c-article__content {
    padding: 15px 0;

    > p {
        margin: 5px 0 10px;
    }
}

.c-article__meta {
    font-size: 14px;
    padding: 5px 0 0;

    li {
        @include theme-specific('color', 'news-meta');

        display: inline-block;
        margin-left: 0;
        margin-right: 15px;

        i {
            margin-right: 3px;
        }
    }
}
