.c-categories {
    @extend %no-padding-ul;

    border: $Border-Default;
    border-radius: 3px;
    display: none;

    @include respond-up(md) {
        display: block;
    }

    a {
        display: block;
        padding: 10px;

        i {
            @include theme-specific('color', 'news-meta');

            margin-right: 10px;
        }
    }

    li {
        border-bottom: $Border-Default;
        font-size: 14px;

        &.active,
        &:hover {
            border-right: 2px solid $Color-Orange;

            &:first-child {
                border-top-right-radius: 3px;
            }

            &:last-child {
                border-bottom-right-radius: 3px;
            }
        }

        &.active {
            @include theme-specific('background-color', 'news-sidebar-bg');
        }

        &:hover {
            @include theme-specific('background-color', 'news-sidebar-bg', lighten, 1, 15%);
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}