// -----------------------------------------------------------------------------
// This file contains Sass functions directly related to strings.
// -----------------------------------------------------------------------------

/// Split a string into a list of strings
///
/// @author danielpchen (https://github.com/danielpchen)
///
/// @param {String} $string - the string to be split
/// @param {String} $delimiter - the boundary string
///
/// @return {List} the result list

@function str-explode($string, $delimiter) {
    $result: ();

    @if $delimiter == '' {
        @for $i from 1 through str-length($string) {
            $result: append($result, str-slice($string, $i, $i));
        }

        @return $result;
    }

    $exploding: true;

    @while $exploding {
        $d-index: str-index($string, $delimiter);

        @if $d-index {
            @if $d-index > 1 {
                $result: append($result, str-slice($string, 1, $d-index - 1));
                $string: str-slice($string, $d-index + str-length($delimiter));
            }
            @else if $d-index == 1 {
                $string: str-slice($string, 1, $d-index + str-length($delimiter));
            }
            @else {
                $result: append($result, $string);
                $exploding: false;
            }
        }
        @else {
            $result: append($result, $string);
            $exploding: false;
        }
    }

    @return $result;
}
