@include component('ban-table') {
    @include component('ban') {
        @include respond-to(phablets) {
            @include flex-wrap(wrap);

            margin-bottom: $Settings-Page_Section-Margin;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include element('creation', 'victim', 'author', 'expiration') {
            span {
                display: none;

                @include respond-to(phablets) {
                    display: inline-block;
                    font-weight: bold;
                    width: 120px;
                }
            }
        }

        @include element('creation') {

        }

        @include element('victim') {

        }

        @include element('author') {

        }

        @include element('expiration') {

        }

        @include element('info') {
            min-width: 30px; // Magic number; it's the width of the fa-info-circle
            text-align: center;

            @include respond-to(tablets) {
                @include flex(0 1 auto);
            }

            @include respond-to(phablets) {
                text-align: left;
            }

            @include element('details') {
                @include modifier('desktop') {
                    @include respond-to(phablets) {
                        display: none;
                    }
                }

                @include modifier('mobile') {
                    display: none;

                    @include respond-to(phablets) {
                        display: inline-block;
                    }
                }
            }
        }

        .c-table__row__column {
            @include respond-to(phablets) {
                @include flex-basis(100%);
                padding: 2px 0;
            }
        }
    }

    .c-table__row--header {
        @include respond-to(phablets) {
            display: none;
        }
    }
}
