// This component will work alongside a CSS table (.c-table) and will be used to display a list
// of bans
@include component('banlist') {
    // An individual row in the '.c-banlist' CSS table. A single row per ban will be used
    @include component('ban') {
        @extend %phablet-margin;

        // For phablets and phones, we'll be making the columns into full rows
        @include respond-to(phablets) {
            @include flex-wrap(wrap);
        }

        // "Display" the column headers next the columns that become rows in phablet view
        @include element('label') {
            display: none;

            @include respond-to(phablets) {
                display: inline-block;
                font-weight: bold;
                width: 120px;
            }
        }

        @include element('creation') {

        }

        @include element('victim') {

        }

        @include element('author') {

        }

        @include element('expiration') {

        }

        @include element('info') {
            min-width: 30px; // Magic number; it's the width of the fa-info-circle
            text-align: center;

            // On desktops, all columns are equal size. On tablets, the info column will adjust to the fa-info-circle size
            @include respond-to(tablets) {
                @include flex(0 1 auto);
            }

            @include respond-to(phablets) {
                text-align: left;
            }

            // This will be the links to individual ban pages
            @include element('details') {
                // On desktops and tablets, we'll display an 'info circle' but we'll have a text version for phablets/phones so hide it at that point
                @include modifier('desktop') {
                    @include respond-to(phablets) {
                        display: none;
                    }
                }

                // On phablets and phones only, we'll display a text description so hide it until we reach that breakpoint
                @include modifier('mobile') {
                    display: none;

                    @include respond-to(phablets) {
                        display: inline-block;
                    }
                }
            }
        }

        // Convert columns into rows for phablets and smaller
        .c-table__row__column {
            @include respond-to(phablets) {
                @include flex-basis(100%);
                padding: 2px 0;
            }
        }
    }

    // Hide the header row for phablets and smaller since we'll be displaying the spans
    .c-table__row--header {
        @include respond-to(phablets) {
            display: none;
        }
    }
}

@include component('ban-form') {
    @include element('settings') {
        @include element('expiration') {
            text-align: center;
        }

        > div {
            display: inline-block;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include element('server-settings') {
        @include display(flex);

        @include element('message') {
            @include desktop-columns(10);
        }

        @include element('allow-join') {
            @include desktop-columns(2);

            text-align: center;
        }
    }
}