@include component('confirmation') {
    @include element('message') {
        margin-bottom: 25px;
    }

    @include element('actions') {
        text-align: center;

        div {
            display: inline-block;
            margin-right: 10px;

            &:last-of-type(div) {
                margin-right: 0;
            }
        }
    }
}
