@include scope('landing') {
    @include component('jumbotron') {
        background-attachment: scroll;
        background-image: url('../imgs/cover_photo.png');
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: $Settings-Page_Section-Margin;

        @include respond-to(md) {
            background-position: center center;
        }

        @include component('button') {
            margin-top: 40px;
        }
    }

    @include component('icon-bullet-points') {
        margin-bottom: $Settings-Page_Section-Margin;

        @include element("bullet") {
            @include view-columns(xxl, 4);
            @include view-columns(sm, 12);
        }
    }

    @include component('latest-updates') {
        @extend %container;
        @include view-container();

        margin-bottom: $Settings-Page_Section-Margin;

        @include component('news-container') {
            @include view-columns(xxl, 5);
            @include view-columns(sm, 12);

            @include respond-to(sm) {
                margin-bottom: $Settings-Page_Section-Margin;
            }

            @include element('newsstand') {
                @extend %no-padding-ul;

                margin: {
                    bottom: 15px;
                    top: 15px;
                }
                padding-left: 10px;

                li {
                    border-bottom: $Border-Default;
                    list-style: none;
                    padding: 15px 0;

                    h3 {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }

        @include component('match-container') {
            @include view-columns(xxl, 7);
            @include view-columns(sm, 12);

            @include element('matches') {
                @include view-container(lg);

                margin-top: 15px;

                @include element('match') {
                    @include view-container();
                    @include view-columns(xxl, 3);
                    @include view-columns(lg, 4);
                    @include view-columns(xs, 6);

                    margin-bottom: $Settings-Page_Section-Small_Margin;

                    @include respond-to(xs) {
                        &:nth-child(n+3) {
                            margin-top: 15px;
                        }
                    }

                    @include element('team-container') {
                        @include view-columns(xxl, 6);

                        @include element('team') {
                            display: inline-block;
                            text-align: center;

                            img {
                                @extend %margin-center;

                                display: block;

                                @include respond-to(xs) {
                                    height: 55px;
                                    width: 55px;
                                }
                            }
                        }

                        &:first-child {
                            padding-right: 5px;
                            text-align: right;
                        }

                        &:nth-child(2) {
                            padding-left: 5px;
                        }
                    }

                    @include element('stats') {
                        @include view-columns(xxl, 12);

                        text-align: center;
                    }
                }
            }
        }
    }
}
