@include scope('landing') {
    @include component('jumbotron') {
        background-attachment: scroll;
        background-image: url("../imgs/cover_photo.png");
        background-position: 0 -185px;
        background-repeat: no-repeat;
        margin-bottom: $Settings-Page_Section-Margin;

        @include respond-to(tablets) {
            background-position: center center;
        }
    }

    @include component('icon-bullet-points') {
        margin-bottom: $Settings-Page_Section-Margin;
    }

    @include component('latest-updates') {
        @extend %wrapper;
        @include desktop-container();

        margin-bottom: $Settings-Page_Section-Margin;

        @include component('news-container') {
            @include desktop-columns(5);
            @include phablet-columns(12);

            @include respond-to(phablets) {
                margin-bottom: $Settings-Page_Section-Margin;
            }

            @include element('newsstand') {
                @extend %no-padding-ul;

                margin: {
                    bottom: 15px;
                    top: 15px;
                }

                li {
                    border-bottom: $Border-Default;
                    list-style: none;
                    padding: 15px 0 15px;

                    h3 {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }

        @include component('match-container') {
            @include desktop-columns(7);
            @include phablet-columns(12);

            @include element('matches') {
                @include desktop-container;

                margin: 15px 0;

                @include element('match'){
                    @include desktop-container;
                    @include desktop-columns(4, 0);
                    @include phone-columns(6, 0);

                    &:nth-child(n+4) {
                        margin-top: 15px;
                    }

                    @include respond-to(phones) {
                        &:nth-child(n+3) {
                            margin-top: 15px;
                        }
                    }

                    @include element('team-container') {
                        @include desktop-columns(6, 0);

                        &:first-child {
                            padding-right: 5px;
                            text-align: right;
                        }

                        &:nth-child(2) {
                            padding-left: 5px;
                        }

                        @include element('team') {
                            display: inline-block;
                            text-align: center;

                            img {
                                @extend %margin-center;

                                display: block;
                            }
                        }
                    }

                    @include element('stats') {
                        @include desktop-columns(12);

                        text-align: center;
                    }
                }
            }
        }
    }
}