@include scope('newsstand') {
    @include object('layout') {
        margin-bottom: $Settings-Page_Section-Margin;
    }

    @include component('article') {
        border-bottom: $Border-Default;
        margin-bottom: 20px;
        padding-bottom: 20px;

        @include element('title') {
            @include theme-specific('color', 'news-title');

            font-size: 25px;
            margin-bottom: 5px;

            @include respond-to(tablets) {
                text-align: left;
            }
        }

        @include element('date') {
            @include theme-specific('color', 'news-meta');

            font-size: 13px;
        }

        @include element('content') {
            padding: 15px 0;

            > p {
                margin: 5px 0 10px;
            }
        }

        @include element('meta') {
            font-size: 14px;
            padding: 5px 0 10px;

            li {
                @include theme-specific('color', 'news-meta');

                display: inline-block;
                margin-left: 0;
                margin-right: 15px;

                i {
                    margin-right: 3px;
                }
            }
        }

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    @include component('categories') {
        @extend %no-padding-ul;

        border: $Border-Default;
        border-radius: 3px;

        @include respond-to(phablets) {
            display: none;
        }

        li {
            border-bottom: $Border-Default;
            font-size: 14px;
            list-style: none;

            a {
                display: block;
                padding: 10px;

                i {
                    @include theme-specific('color', 'news-meta');

                    margin-right: 10px;
                }
            }

            &.active,
            &:hover {
                border-right: 2px solid $Color-Orange;

                &:first-child {
                    border-top-right-radius: 3px;
                }

                &:last-child {
                    border-bottom-right-radius: 3px;
                }
            }

            &.active {
                @include theme-specific('background-color', 'news-sidebar-bg');
            }

            &:hover {
                @include theme-specific('background-color', 'news-sidebar-bg', lighten, 1, 15%);
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
