@include scope('notifications') {
    @include component('notifications') {
        padding: {
            bottom: 10px;
            top: 10px;
        }

        @include element('notification') {
            padding: 10px;

            @include modifier('unread') {
                background-color: $Color-Blue_Grey;
            }

            @include element('message') {
                .fa {
                    @extend %fa-fw;

                    margin-right: 10px;
                }
            }

            @include element('timestamp') {
                color: $Font-Color-Muted;
                font-size: 12px;
                margin-left: 5px;
            }

            @include element('action') {
                margin-left: 20px;
            }
        }
    }
}