@include component('page') {
    @include element('header') {
        border-bottom: 1px solid $Border-Color;
        margin-bottom: $Settings-Page_Section-Margin;

        @include element('container') {
            @extend %container;

            display: flex;
            padding: {
                bottom: 15px;
                top: 15px;
            };

            @include respond-up(sm) {
                padding: {
                    bottom: 15px;
                    top: 15px;
                }
            }

            @include element('title') {
                display: flex;

                h1 {
                    font-size: 24px;
                    margin: auto;

                    @include respond-up(sm) {
                        font-size: 20px;
                    }
                }
            }

            @include element('options') {
                align-items: center;
                display: flex;
                flex: 1;
                justify-content: flex-end;

                @include component('button') {
                    margin-left: 5px;
                }

                @include respond-up(md) {
                    display: none;
                }
            }
        }

        @include respond-up(xs) {
            margin-bottom: $Settings-Page_Section-Small_Margin;
        }
    }
}
