@include scope('player-list') {
    @include component('roll-call') {
        @include component('player-badge') {
            @include phablet-columns(6, 0);
            @include phone-columns(12);
        }
    }
}

@include scope('player-profile') {
    .c-page__header__container__title {
       @include component('flag') {
            margin-right: 10px;
            margin-top: 6px;
        }

        h1 {
            display: inline;
        }
    }

    @include component('public-profile') {
        @include element('profile-picture') {
            @include profile-picture();
        }

        @include element('details') {
            @include element('bio') {
                margin-top: $Settings-Page_Section-Small_Margin;
            }
        }
    }

    @include component('private-profile') {
        @include element('callsigns') {

        }

        @include element('ips') {

        }

        @include element('notes') {

        }
    }
}

@include component('player-badge') {
    display: flex;
    margin-bottom: 10px;

    @include respond-only-to(desktops, tablets) {
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @include respond-only-to(phablets) {
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @include respond-only-to(phones) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include element('avatar') {
        $avatarSize: 50px;

        height: $avatarSize;
        width: $avatarSize;
    }

    @include element('info') {
        flex: 1;
        padding-left: 10px;
        vertical-align: top;

        @include element('callsign') {
            display: inline-block;
            font-size: 18px;
        }

        @include element('team') {
            font-size: 14px;

            a {
                color: $Color-Medium_Grey;

                &:hover {
                    color: lighten($Color-Medium_Grey, 15%);
                }
            }
        }
    }
}