@include scope('player-profile') {
    @include component('public-profile') {
        @include element('profile-picture') {
            @include profile-picture();
        }

        @include element('details') {
            // Anything beyond these max heights shouldn't be considered sane. This is a profile page
            // not a blog
            @include element('bio') {
                margin-top: $Settings-Page_Section-Small_Margin;
                max-height: 700px;
                overflow: hidden;

                @include respond-to(tablets) {
                    max-height: 940px;
                }
            }
        }
    }

    @include component('private-profile') {
        @include element('callsigns') {

        }

        @include element('ips') {

        }

        @include element('notes') {

        }
    }

    .c-page__header__container__title {
        @include component('flag') {
            margin-right: 10px;
            margin-top: 6px;
        }

        h1 {
            display: inline;
        }
    }
}

@include component('roll-call') {
    @include component('player-badge') {
        margin-bottom: 10px;
    }
}

@include component('player-badge') {
    @include display(flex);

    margin-bottom: 10px;

    @include element('avatar') {
        $avatarSize: 50px;

        height: $avatarSize;
        width: $avatarSize;
    }

    @include element('info') {
        @include flex(1);

        padding-left: 10px;
        vertical-align: top;

        @include element('callsign') {
            display: inline-block;
            font-size: 18px;
        }

        @include element('team') {
            font-size: 14px;

            a {
                color: $Color-Medium_Grey;

                &:hover {
                    color: lighten($Color-Medium_Grey, 15%);
                }
            }
        }

        @include modifier('callsign-only') {
            padding: {
                bottom: 10px;
                top: 10px;
            }
        }
    }

    &.o-layout__body--third {
        @include respond-only-to(desktops, tablets) {
            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }

        @include respond-only-to(phablets) {
            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
        }

        @include respond-only-to(phones) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.o-layout__body--quarter {
        @include respond-only-to(desktops) {
            &:nth-last-child(-n+4) {
                margin-bottom: 0;
            }
        }

        @include respond-only-to(tablets) {
            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }

        @include respond-only-to(phablets) {
            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
        }

        @include respond-only-to(phones) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
