@include scope('player-list') {
    @include component('roll-call') {
        @include component('player-badge') {
            @include phablet-columns(6, 0);
            @include phone-columns(12);
        }
    }
}

@include component('player-badge') {
    display: flex;
    margin-bottom: 10px;

    @include respond-only-to(desktops, tablets) {
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @include respond-only-to(phablets) {
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @include respond-only-to(phones) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include element('avatar') {
        $avatarSize: 50px;

        height: $avatarSize;
        width: $avatarSize;
    }

    @include element('info') {
        flex: 1;
        padding-left: 10px;
        vertical-align: top;

        @include element('callsign') {
            display: inline-block;
            font-size: 18px;
        }

        @include element('team') {
            font-size: 14px;

            a {
                color: $Color-Medium_Grey;

                &:hover {
                    color: lighten($Color-Medium_Grey, 15%);
                }
            }
        }
    }
}

main {
    &.players {
        .profile {
            .row {
                .information {
                    .description {
                        margin: 20px 0;
                    }
                }

                .previous_callsigns {

                }

                .previous_ips {

                }

                .admin_notes {
                    width: 100%;

                    form {
                        @extend .clearfix;

                        padding: 5px 15px;

                        textarea {
                            height: 160px;
                            margin-bottom: 5px;
                            resize: vertical;
                            width: 100%;
                        }

                        button {
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
