@include component('servers') {
    @include element('server') {
        @include element('info') {
            @include element('status') {
                color: $Color-Medium_Grey;
                margin-right: 5px;

                @include modifier('online') {
                    color: $Color-Green;
                }

                @include modifier('offline') {
                    color: $Color-Red;
                }
            }

            @include element('address', 'playerCount', 'updated') {
                padding-left: 15px;
            }

            @include element('name') {
                font-weight: bold;
            }

            @include element('updated') {
                font-style: italic;
            }

            header {
                @include display(flex);
                @include align-items(center);
            }
        }

        @include element('options') {
            @include flex(1);

            text-align: right;
        }

        @include respond-only-to(desktops, tablets) {
            &:nth-child(odd) {
                padding-right: 10px;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }
    }
}
