@include component('servers') {
    @include element('server') {
        @include element('info') {
            @include element('status') {
                color: $Color-Medium_Grey;
                margin-right: 5px;

                @include modifier('online') {
                    color: $Color-Green;
                }

                @include modifier('offline') {
                    color: $Color-Red;
                }
            }

            @include element('address', 'playerCount', 'updated') {
                padding-left: 15px;
            }

            @include element('name') {
                font-weight: bold;
            }

            @include element('updated') {
                font-style: italic;
            }

            header {
                align-items: center;
                display: flex;
            }
        }

        @include element('options') {
            flex: 1;
            text-align: right;

            li {
                margin-left: 5px;
            }
        }

        @include respond-to(md) {
            &:nth-child(odd) {
                padding-right: 10px;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }
    }
}
