@include scope('teams') {
    margin-bottom: $Settings-Page_Section-Margin;

    @include component('team-banner') {
        margin-bottom: $Settings-Page_Section-Margin;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include scope('team-profile') {
    .c-page__header__container__title {
        @include component('rank') {
            margin-right: 10px;
        }
    }

    @include component('team') {
        @include element('information') {
            @include element('bio') {
                margin-top: $Settings-Page_Section-Small_Margin;
            }

            @include respond-to(phablets) {
                order: 2;
            }
        }

        @include element('profile-picture') {
            @include profile-picture();

            text-align: right;

            @include respond-to(phablets) {
                order: 1;
            }
        }

        @include element('match-stats') {
            @include element('visual') {
                display: flex;

                @include element('graph') {
                    $size: 150px;

                    height: $size;
                    width: $size;

                    @include respond-to(tablets) {
                        display: block;
                        margin: 0 auto;
                    }

                    @include respond-to(phones) {
                        margin-top: 10px;
                    }
                }

                @include element('legend') {
                    @extend %no-padding-ul;

                    flex: 1;
                    margin: auto;

                    > li {
                        > div {
                            $block_size: 10px;

                            border: 1px solid $Color-Off_White;
                            float: left;
                            height: $block_size;
                            margin: 5px 10px;
                            width: $block_size;

                            &.wins {
                                background-color: #EBEBEB;
                            }

                            &.losses {
                                background-color: #B6D1D8;
                            }

                            &.draws {
                                background-color: #8FDC00;
                            }
                        }

                        @include respond-to(tablets) {
                            display: inline-block;
                            margin: 0 5px;
                        }
                    }

                    @include respond-to(tablets) {
                        margin: 20px 0 0;
                        text-align: center;
                        width: 100%;
                    }
                }

                @include respond-to(tablets) {
                    display: block;
                }
            }
        }

        @include element('roster') {
            @include component('table') {
                margin-left: 20px;

                @include element('row') {
                    @include element('column') {
                        padding: 5px;

                        a {
                            color: $Color-Black;

                            &:hover {
                                color: $Color-Sky_Blue;
                            }
                        }
                    }

                    .c-team__roster__option {
                        text-align: center;
                        width: 30px;

                        i {
                            &.fa-eject {
                                color: $Color-Medium_Grey;
                            }

                            &.fa-star {
                                color: #FDCE46;
                            }
                        }
                    }
                }

                @include respond-to(phablets) {
                    margin-left: 0;
                }
            }
        }

        @include element('matches') {
            @include component('table') {
                width: 100%;

                @include element('row') {
                    border: none;
                    border-bottom: $Border-Default;
                    color: $Color-Black;

                    &:last-child {
                        border-bottom: none;
                    }

                    @include respond-to(phones) {
                        padding: {
                            bottom: 5px;
                            top: 5px;
                        }
                    }

                    @include utility('date') {
                        @include respond-to(phones) {
                            flex-basis: 100%;
                            padding-bottom: 0;
                        }
                    }

                    @include utility('opponent') {
                        flex: 2;
                    }

                    @include utility('score') {
                        flex: 1;
                    }

                    @include element('column') {
                        border: none;
                        padding: 5px 10px;

                        @include respond-to(phones) {
                            padding: 5px 1px 5px;
                        }

                        @include utility('match-outcome') {
                            display: inline-block;
                            text-align: center;
                            width: 20px;
                        }
                    }

                    @include respond-to(phones) {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}

@include component('team-banner') {
    display: flex;

    @include component('rank') {
        margin: 3px 10px 0 0;
    }

    @include element('team-bio') {
        flex: 1;

        @include element('info') {
            display: flex;

            @include element('summary') {
                flex: 1;

                @include element('name') {
                    font-size: 24px;

                    @include respond-to(phones) {
                        display: block;
                        font-size: 20px;
                    }
                }

                @include element('elo') {
                    margin-left: 10px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }

                    @include respond-to(phones) {
                        margin: 0;
                    }
                }
            }
        }

        @include element('meta') {
            margin-top: 5px;

            span {
                font-size: 14px;
                margin-right: 25px;

                @include respond-to(phones) {
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}