@include scope('team-profile') {
    @include component('team') {
        @include element('information') {
            @include element('bio') {
                margin-top: $Settings-Page_Section-Small_Margin;
            }

            @include respond-up(sm) {
                order: 2;
            }
        }

        @include element('profile-picture') {
            @include profile-picture();

            text-align: right;

            @include respond-up(sm) {
                order: 1;
            }
        }

        @include element('match-stats') {
            @include element('visual') {
                display: flex;

                @include element('graph') {
                    $size: 150px;

                    height: $size;
                    width: $size;

                    @include respond-up(md) {
                        display: block;
                        margin: 0 auto;
                    }

                    @include respond-up(xs) {
                        margin-top: 10px;
                    }
                }

                @include element('legend') {
                    @extend %no-padding-ul;

                    flex: 1;
                    margin: auto;

                    @include respond-up(md) {
                        margin: 20px 0 0;
                        text-align: center;
                        width: 100%;
                    }

                    > li {
                        @include respond-up(md) {
                            display: inline-block;
                            margin: 0 5px;
                        }

                        > div {
                            $block_size: 10px;

                            border: $Border-Default;
                            float: left;
                            height: $block_size;
                            margin: 5px 10px;
                            width: $block_size;

                            &.wins {
                                background-color: $Match-Color_Wins;
                            }

                            &.losses {
                                background-color: $Match-Color_Losses;
                            }

                            &.draws {
                                background-color: $Match-Color_Draws;
                            }
                        }
                    }
                }

                @include respond-up(md) {
                    display: block;
                }
            }
        }

        @include element('roster') {
            @include component('table') {
                @include element('row') {
                    @include element('column') {
                        padding: 5px;

                        a {
                            color: $Color-Black;

                            &:hover {
                                color: $Color-Sky_Blue;
                            }
                        }

                        // FontAwesome icons being loaded
                        i {
                            font-size: 14px;

                            &.fa-eject {
                                color: $Color-Medium_Grey;
                            }

                            &.fa-star {
                                color: $Color-Yellow;
                            }
                        }
                    }
                }

                @include respond-up(sm) {
                    margin-left: 0;
                }
            }

            @include element('option') {
                flex: none;
                text-align: center;
                width: 30px;
            }
        }

        @include element('matches') {
            @include component('table') {
                width: 100%;

                @include element('row') {
                    border: 0;
                    border-bottom: $Border-Default;
                    color: $Color-Black;

                    @include respond-up(xs) {
                        padding: {
                            bottom: 5px;
                            top: 5px;
                        }
                    }

                    @include utility('date') {
                        @include respond-up(xs) {
                            order: 1;
                            padding-bottom: 0;
                        }
                    }

                    @include utility('opponent') {
                        flex: 2;

                        @include respond-up(xs) {
                            flex-basis: 100%;
                            order: 3;
                        }
                    }

                    @include utility('score') {
                        @include respond-up(xs) {
                            order: 2;
                            text-align: right;
                        }
                    }

                    @include element('column') {
                        border: 0;
                        padding: 5px 10px;

                        @include respond-up(xs) {
                            padding: 5px 1px;
                        }

                        @include utility('match-outcome') {
                            display: inline-block;
                            text-align: center;
                            width: 20px;
                        }
                    }

                    @include respond-up(xs) {
                        flex-wrap: wrap;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .c-page__header__container__title {
        @include component('rank') {
            margin-right: 10px;
        }
    }
}

// On the team list page, a widget is the element each team will have with all their information
// and statistics
@include component('team-widget') {
    display: flex;

    // The rank icon
    @include component('rank') {
        margin: 3px 10px 0 0;
    }

    // All of the information relating to the team
    @include element('info') {
        flex: 1;

        // The header of each "widget" which will contain a summary and match stats
        @include element('header') {
            display: flex;

            // A summary will contain the team name and the elo
            @include element('summary') {
                flex: 1;

                @include element('name') {
                    font-size: 24px;

                    @include respond-up(xs) {
                        display: block;
                        font-size: 20px;
                    }
                }

                @include element('elo') {
                    margin-left: 10px;

                    @include respond-up(xs) {
                        margin: 0;
                    }

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }
            }

            // The matches element will have all of the wins, losses, and draws
            @include element('matches') {
                // We're hiding it on a phone because there's not enough room and this information isn't imperative
                @include respond-up(xs) {
                    display: none;
                }

                @include element('stats') {

                }
            }
        }

        // The meta section will have all the information such as activity, leader, and number of members
        @include element('meta') {
            margin-top: 5px;

            span {
                font-size: 14px;
                margin-right: 25px;

                @include respond-up(xs) {
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}
