*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    height: 100%;
    background: #2c3e50;
    background-size: cover;
}

.nav{
    background: #444;
    float: left;
    width: 5%;
    height: 100%;
    position: fixed;
    box-shadow: -1px -2px 8px black inset
}

.blue{
    background: #0CA7DB;
}

.purple{
    background: #8e44ad;
}

.green{
    background: #27ae60;
}

.orange{
    background: #e67e22;
}

.red{ 
    background: #e74c3c;
}
.turquoise{
    background: #1abc9c;
}
.nav .fa{    
    width: 75%;
    margin-left: 12%; 
    border-radius: 8px; 
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 1.4em;
/*    box-shadow: 0px 0px 6px black; */

    /* border-bottom: 1px solid white; */
}

.nav .fa:hover{
    background: #333;

}

.clearout{ 
    clear:both;

}

.content_wrapper{ 
    width: 95%;
    height: 100%;
    background: #eee;
    background-size: cover; 
    position: absolute; 
    left: 5%;
    overflow: auto; 
}

.big_title{
    font-family: "Roboto Condensed"; 
    font-size: 3em;
}
.small_title{ 
    font-family: Oswald;
    font-weight: 300;
    font-size: 2em;
}
.home_wrapper{
    padding-top: 5px; 
    margin-left: 2%
}
.text{
    font-family: Avenir;
    margin-top: 20px; 
    font-size: 1.4em;
}

.news{
    background: #ddd;
    padding-left: 20px; 
    padding-right: 20px; 
    width: 46em;
    padding-bottom: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    
}
.news_title{
    margin-bottom: 20px; 
}


.news_wrapper{
    padding-top: 1px;
    margin-left: 2%;
    display: none; 
}

.news_content{
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 20px; 
    line-height: 1.6em;
    
}

.news_footer{
    margin-bottom: 20px; 
}

.news_category{
    background: #34495e;
    display: inline;
    color: white; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-top: 2px; 
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family: "Roboto condensed";
    text-align: right; 
    font-size: 12px;     
}

.profile_wrapper{ 
    padding-top: 10px;
    margin-left: 2%;    
    display: none;
}

.avatar{ 
    float: right; 
    width: 20%;
    margin-right: 20px; 

}

.profile_title{
    margin-bottom: 10px; 
}
.player_team{
    font-family: 'Roboto Slab';
    margin-bottom: 20px; 

}
.player_descript{
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 10px; 
    line-height: 1.6em;
    background: #ddd;
    width: 42em;
    padding-left: 10px; 
    padding-right: 10px;
}
.messages_wrapper{ 
    display: none;
}
.divider1{ 
    background: #ddd;
    height: 100%;
    width: 30%;
}
.topnav{ 
    height: 5%;
    width: 100%;
    background: #ccc;
}
.nav_content{ 
    width: 100%;
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 2em;
    font-weight: 300;
}
.comp_button{
    background: #555;
}

.search_button{
    margin-right: 41px;
    font-family: 1.4em;
}
.topnav .fa{
    float: right; 
    font-size: 2em;
    padding-top: 7px; 
    padding-left: 5px; 
    padding-right: 3px; 
    background: #aaa;
    color: #333;
}

.topnav .fa:hover{
    background: #bbb;
    
}

.nav_message_time{
    font-family: "Roboto Condensed";
    padding-top: 4px; 
    float: right; 

}
.message_actual{
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px; 
    border-bottom: 1px solid #aaa; 
}

.message_actual:hover{ 
    background: #eee;

}
.nav_message_title{
    font-family: "Roboto Condensed";
    font-size: 1.4em;     
    margin-bottom: 10px; 
}
.nav_message_from{ 
    font-family: "Roboto Slab";
    font-size: 1em;
    margin-bottom: 10px; 
}

.chart{
    background: #ddd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 50%;
    margin-bottom: 10px; 
}
.chart img{
    width: 100%;   
}

.teams_wrapper{
    display: none;
    padding-top: 1px;
    margin-left: 2%;
}
.team_wrapper{
    display: none;
    padding-top: 1px;
    margin-left: 2%;
}
.team_title{
    margin-bottom: 20px; 
    
}
.team_metadata{
    width: 20%;
    font-family: "Roboto Slab";
    background: #ddd;
    padding-top: 20px; 
    padding-left: 20px; 
    padding-bottom: 20px; 
    margin-bottom: 20px;
}

.team_metadata p{
    margin-bottom: 10px; 
}
.team .avatar{ 
    padding-top: 10px; 
}

.team_descript{
    margin-bottom: 20px; 
    font-family: "Roboto Slab";     
}


.teams_wrapper{
    padding-top: 10px; 
    margin-left: 10px; 
}

.team_button{
    width: 315px;
    padding-top: 10px;
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    display: inline-block; 
    background: #ddd;
    margin-bottom: 20px

}
.team_button .team_name {
    font-family: "Roboto Condensed"; 
    font-size: 2em;
    margin-bottom: 4px; 
}

.team_button .team_leader{
    font-family: "Roboto Slab";
    margin-bottom: 4px; 
}

.team_button .team_created{
    font-family: "Roboto Slab";
    margin-bottom: 4px; 
}

.team_button .team_activity{
    font-family: "Roboto Slab";
    margin-bottom: 4px; 
}


.team_button:hover{
    background: #ccc;
}

.teampage{
    background: none;
}
.divider2{ 
}

.team_wrapper{
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    display: none;
    padding-top: 10px; 
    margin-left: 10px; 
    
}