// The parent to both the generic pages and user-specific pages
.c-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.c-user_cp,
.c-site_pages {
    margin: 0;
    padding: 0;
}

// This element contains all of the generic website pages available to everyone, even anonymous users
.c-site_pages {
    @include theme-rule(background, 'navigation.background');
    @include position(absolute, 53px, null, null, 0); // Magic number that's the .c-header's height + 1px bottom border

    display: none;
    width: 100%;
    z-index: 100;

    @include respond-up(lg) {
        display: flex;
        position: static;
    }

    > li {
        @include respond-down(md) {
            margin-left: auto;
            margin-right: auto;

            a {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @each $bp in (xs, sm, md) {
            @include respond-only-to($bp) {
                // Since `xs` will give us 0, we need to default to 320px for xs for correct calculations
                $bp-width: map-get($breakpoints, $bp);

                width: max(320px, $bp-width) - 30px;
            }
        }

        a {
            display: block;
            padding: 15px;
        }
    }

    .fa {
        margin-right: 5px;
    }
}

.c-site_pages--open {
    display: block;
}

.c-site_pages__separator {
    @include theme-rule(border-bottom, 'border.default');
}

.c-site_pages__action,
.c-site_pages__separator {
    @include respond-up(lg) {
        display: none;
    }
}

// These are the icons on the right hand side that handle user-specific actions
//   e.g. messages, settings, logout

.c-user_cp {
    display: flex;
    justify-content: flex-end;

    li {
        padding: 15px 5px;
    }
}

.c-user_cp__auth {
    white-space: nowrap;
}
