{% extends 'layout.html.twig' %}

{% block title %}Bans :: New{% endblock %}

{% block pageTitle %}
    <h1>Create Ban</h1>
{% endblock %}

{% block content %}
    {% include "Ban/form.html.twig" with { 'form': form } %}
{% endblock %}
