{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <h1>Editing :: {{ ban.victim.name }}'s ban</h1>
{% endblock %}

{% block content %}
    {% include "Ban/form.html.twig" with { 'form': form } %}
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('assets/js/autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/bans.js') }}"></script>
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
{% endblock %}
