{% extends 'layout.html.twig' %}

{% block title %}Servers :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Editing Server</h1>
{% endblock %}

{% block content %}
    {% include "Server/form.html.twig" with { 'form': form } %}
{% endblock %}
