{% extends 'layout.html.twig' %}

{% block title %}Servers :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Editing Server</h1>
{% endblock %}

{% block content %}
    {% include "Server/form.html.twig" with { 'form': form } %}
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('assets/js/autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/servers.js') }}"></script>
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
{% endblock %}
