{% extends 'layout.html.twig' %}

{% from 'Server/widget.html.twig' import widget as server_widget %}

{% set pageButtons = [
    {
        'color': 'green',
        'pattern': 'vertical-stripes',
        'url': path('server_new'),
        'icon': 'plus',
        'text': 'Add Server',
        'condition': me.canCreate("Server")
    }
] %}

{% block title %}Servers{% endblock %}

{% block pageTitle %}
    <h1>Servers</h1>
{% endblock %}

{% block content %}
    <div class="container mbn3">
        <div class="row">
            {% for server in servers %}
                <div class="js-server col-md-6 mb3"
                     data-id="{{ server.id }}"
                     data-token="{{ csrf_token('server_token_' ~ server.id) }}"
                     {% if me.valid %}data-player-count="{{ server.numPlayers }}" {% endif %}
                >
                    <div class="js-dimmable">
                        {{ server_widget(server) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
