{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('server_new'),
        'icon': 'plus',
        'text': 'Add Server',
        'condition': me.canCreate("Server")
    }
] %}

{% block title %}Servers{% endblock %}

{% block pageTitle %}
    <h1>Servers</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for server in servers %}
                <div class="js-server col-md-6"
                     data-id="{{ server.id }}"
                     data-player-count="{{ server.numPlayers }}"
                >
                    <div class="c-server">
                        <div class="js-dimmable">
                            {% include "Server/show.html.twig" %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
