{% extends 'layout.html.twig' %}

{% block title %}Servers{% endblock %}

{% block content %}
    <main class="server_list">
        <section class="content_header">
            <article class="wrapper">
                <h1>Servers</h1>
            </article>
        </section>

        <section class="servers">
            {% for server in servers %}
                <div class="server" data-id="{{ server.id }}">
                    <div class="dimmable">
                        <div class="server_info">
                            {{ include('Server/show.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/servers.js') }}"></script>
{% endblock %}
