{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('server_new'),
        'icon': 'plus',
        'text': 'Add Server',
        'condition': me.canCreate("Server")
    }
] %}

{% block title %}Servers{% endblock %}

{% block content %}
    <main class="c-page s-teams">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>Servers</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-container c-servers">
            <section class="o-row">
                {% for server in servers %}
                    <div class="o-col--half c-servers__server" data-id="{{ server.id }}">
                        <div class="dimmable">
                            <div class="c-servers__server__info">
                                {% include "Server/show.html.twig" %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/servers.js') }}"></script>
{% endblock %}
