@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
* { margin: 0; padding: 0; }

/*html, body { height:100%;
}*/
body { background-image: url("../imgs/background.png"); font-family: "Merriweather", serif; }

header { margin-top: -135px; height: 135px; background-color: red; }

main { height: 100%; min-height: 400px; overflow: hidden; }
main .content { display: table; margin-top: 20px; overflow: hidden; }
main .title { background-color: #FFFFFF; overflow: auto; }
main .title .description { height: 60px; position: relative; }
main .title .description i, main .title .description span { color: #7895a2; float: left; font-size: 50px; margin: 0 10px; }
main .title .description span { line-height: 50px; }
main .title .description div { bottom: 15px; left: 70px; position: absolute; }
main .title .description div h3 { color: #a1a1a1; font-size: 14px; font-weight: 300; }
main .title .description div h1 { color: #7895a2; font-family: "Open Sans", sans-serif; font-weight: 300; line-height: 20px; }

footer { margin-bottom: -60px; height: 60px; background-color: red; }

a { color: #f37257; text-decoration: none; }
a:hover { color: #afc1cc; }

.clearfix, header section .wrapper .logo, .messaging .conversations .search, .messaging .conversations .chats li a .meta-data { zoom: 1; }
.clearfix:before, header section .wrapper .logo:before, .messaging .conversations .search:before, .messaging .conversations .chats li a .meta-data:before, .clearfix:after, header section .wrapper .logo:after, .messaging .conversations .search:after, .messaging .conversations .chats li a .meta-data:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, header section .wrapper .logo:after, .messaging .conversations .search:after, .messaging .conversations .chats li a .meta-data:after { clear: both; }

.container { padding: 135px 0 60px; }

.css-table { border-collapse: collapse; display: table; }
.css-table .row { display: table-row; }
.css-table .row .column { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #BBBBBB; display: table-cell; height: 20px; width: 120px; }

.float.left { float: left; }
.float.right { float: right; }

.padding.top { padding-top: 10px; }
.padding.left, .padding.right { padding-right: 5px; }
.padding.bottom { padding-bottom: 15px; }

.wrapper { margin: 0 auto; width: 1000px; }

header { background-color: #FFFFFF; }
header section .wrapper { height: 80px; }
header section .wrapper .logo { float: left; height: 100%; position: relative; }
header section .wrapper .logo img { bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; }
header section .wrapper .profile { background-color: #517281; color: #FFFFFF; float: right; font-family: "Open Sans", sans-serif; height: calc(100% - 20px); padding: 10px 15px; position: relative; width: 275px; }
header section .wrapper .profile img { float: left; margin-right: 10px; }
header section .wrapper .profile .options { float: left; }
header section .wrapper .profile .options h2 { font-size: 22px; font-weight: 300; height: 30px; max-width: 200px; overflow: hidden; }
header section .wrapper .profile .options a { color: #FFFFFF; display: block; font-size: 12px; font-weight: 300; text-decoration: none; }
header section .wrapper .profile .options a:hover { color: #f68d5c; }
header section .wrapper .profile .icons { bottom: 10px; list-style-type: none; position: absolute; right: 10px; }
header section .wrapper .profile .icons li { float: right; font-size: 18px; padding: 0 5px; }
header section .wrapper .profile .icons li a { color: #FFFFFF; }
header section .wrapper .profile .icons li a:hover { color: #f68d5c; }
header nav { background-color: #517281; list-style-type: none; overflow: auto; }
header nav ul { height: 55px; }
header nav ul li { display: inline; float: left; text-align: left; width: 75px; }
header nav ul li.active, header nav ul li:hover { background-color: #f68d5c; }
header nav ul li.active a, header nav ul li:hover a { color: white; }
header nav ul li.active a i, header nav ul li:hover a i { background-color: #f68d5c; border-color: white; }
header nav ul li a { color: #FFFFFF; display: block; padding: 10px; text-align: center; }
header nav ul li a i { font-size: 25px; padding: 5px; text-align: center; }
header nav ul li a i.fa-users { padding: 5px 6px 5px 4px; }

footer { background-color: #afc1cc; font-family: "Open Sans", sans-serif; line-height: 60px; width: 100%; }
footer .wrapper { overflow: auto; }
footer .wrapper .copyright { float: left; }
footer .wrapper .links { float: right; }
footer .wrapper .links ul li { display: inline-block; }
footer .wrapper .links ul li a { color: #517281; padding: 0 10px; }
footer .wrapper .links ul li:nth-child(n+2):before { color: #517281; content: "|"; position: relative; }

.banner { background-color: #f68d5c; margin: 0 auto; overflow: auto; }
.banner img { float: left; }

.circle_points { font-family: "Open Sans", sans-serif; text-align: center; }
.circle_points li { display: inline-block; margin: 0 50px; width: 200px; }
.circle_points li i { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-clip: padding-box; border: 1px solid #000000; height: 70px; font-size: 60px; width: 70px; }
.circle_points li i.fa-gamepad { padding: 21px 19px 17px 19px; }
.circle_points li i.fa-info { padding: 27px 19px 11px 19px; }
.circle_points li i.fa-list-ul { padding: 25px 19px 13px 19px; }
.circle_points li h3 { font-size: 24px; font-weight: 300; margin: 5px 0; }

.key_points { background-color: #FFFFFF; padding: 30px 0; }

section { font-family: "Open Sans", sans-serif; overflow: auto; }
section h2 { font-weight: 300; }
section aside { float: left; width: 45%; }
section aside .news { list-style-type: none; margin-left: 20px; margin-top: 10px; }
section aside .news li { margin: 10px 0; }
section aside .news li h3 { font-family: "Open Sans", sans-serif; font-weight: 700; }
section aside .news li h3 a { color: #517281; }
section aside .news li p { font-family: "Merriweather", serif; margin-left: 10px; }
section .recent_matches { float: right; width: 55%; }
section .recent_matches .matches_table { float: right; margin: 10px 10px 20px; }
section .recent_matches .matches_table .row .column { height: 170px; padding: 20px; position: relative; text-align: center; width: 170px; }
section .recent_matches .matches_table .row .column .team { display: inline-block; }
section .recent_matches .matches_table .row .column .team strong { display: block; text-align: center; }
section .recent_matches .matches_table .row .column .stats { bottom: 20px; font-size: 14px; left: 20px; position: absolute; text-transform: uppercase; }

.messaging { font-family: "Merriweather", serif; height: calc(100% - 60px); min-height: 400px; overflow: auto; }
.messaging .toolbar { background-color: #FFFFFF; float: left; width: 100%; }
.messaging .toolbar ul { width: 100%; }
.messaging .toolbar ul li { display: inline-block; padding: 15px 0; text-align: center; vertical-align: middle; }
.messaging .toolbar ul li a { color: #517281; text-decoration: none; }
.messaging .toolbar ul li a i { font-size: 30px; }
.messaging .toolbar ul li a span { display: block; }
.messaging .toolbar ul li a:hover { color: #FFFFFF; }
.messaging .toolbar ul li:hover { background-color: #f68d5c; }
.messaging .toolbar ul li.separator-bottom { border-bottom: 4px solid #FFFFFF; }
.messaging .toolbar ul li.separator-bottom .fa-pencil-square-o { margin-left: 3px; }
.messaging .conversations { background-color: #FFFFFF; border-right: 1px solid #a1a1a1; float: left; overflow: scroll; width: 35%; }
.messaging .conversations .search { border-bottom: 1px solid #a1a1a1; height: 35px; }
.messaging .conversations .search .icon { display: inline-block; float: left; height: 35px; text-align: center; width: 40px; }
.messaging .conversations .search .icon i { line-height: 35px; }
.messaging .conversations .search .field { background-color: #ffffff; border: none; display: inline-block; float: left; font-size: 16px; margin: 10px 0; text-align: left; text-decoration: none; width: 260px; }
.messaging .conversations .search .field:focus { outline: 0; }
.messaging .conversations .chats li { background-color: #ffffff; border-bottom: 1px solid #a1a1a1; display: block; list-style-type: none; width: 100%; }
.messaging .conversations .chats li a { text-decoration: none; }
.messaging .conversations .chats li a .meta-data .subject { color: #000000; float: left; font-size: 20px; font-weight: bold; padding: 5px 0 0 10px; }
.messaging .conversations .chats li a .meta-data .last_activity { float: right; font-size: 12px; padding: 10px 10px 0 0; }
.messaging .conversations .chats li a .members { color: #99A0A3; font-family: "Merriweather", serif; font-weight: 300; font-size: 12px; padding-left: 25px; }
.messaging .conversations .chats li a .last_message { color: #000000; font-size: 16px; padding: 5px 0 10px 10px; }
.messaging .conversations .chats li a:hover { color: #000000; }
.messaging .conversations .chats li:hover { background-color: #F2FBFF; }
.messaging .chat_area { background-color: #FFFFFF; display: inline-block; height: 100%; position: relative; vertical-align: top; width: 678px; }
.messaging .chat_area button { margin: 5px; background-color: #f68d5c; }
.messaging .chat_area button:hover { background-color: #f9af8c; }
.messaging .chat_area .chat_details { height: 64px; }
.messaging .chat_area .chat_details .chat_options { background-color: #FFFFFF; border-bottom: 1px solid #a1a1a1; color: #000000; }
.messaging .chat_area .chat_details .chat_options .subject { float: left; font-size: 20px; font-weight: 100; line-height: 35px; padding: 0 10px; width: 70%; }
.messaging .chat_area .chat_details .chat_options .icon { float: right; line-height: 35px; padding: 0 10px; }
.messaging .chat_area .chat_details .chat_options .icon:hover { color: #f68d5c; cursor: pointer; }
.messaging .chat_area .chat_details .chat_options .icon.close:hover { color: #e74c3c; }
.messaging .chat_area .chat_details .members { background-color: #F4F7FB; color: #000000; font-size: 13px; font-weight: 100; padding: 5px 10px; }
.messaging .chat_area .scrollable_messages { display: table; height: calc(100% - 194px); width: 100%; }
.messaging .chat_area .scrollable_messages .messages { height: 100%; overflow: scroll; }
.messaging .chat_area .scrollable_messages .messages li { display: block; overflow: hidden; width: 100%; }
.messaging .chat_area .scrollable_messages .messages li .bubble { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-clip: padding-box; background-color: #FBFFFB; border: 1px solid #B4EBB0; margin: 10px 15px; padding: 5px 10px; float: left; width: 75%; }
.messaging .chat_area .scrollable_messages .messages li .bubble .details { border-bottom: 1px solid #B4EBB0; margin-bottom: 10px; padding-bottom: 5px; overflow: hidden; width: 100%; }
.messaging .chat_area .scrollable_messages .messages li .bubble .details .author { color: #515051; float: left; }
.messaging .chat_area .scrollable_messages .messages li .bubble .details .date { color: #CCD4DC; float: right; font-size: 12px; }
.messaging .chat_area .scrollable_messages .messages li .bubble p { margin: 10px; }
.messaging .chat_area .scrollable_messages .messages li .bubble.me { background-color: #F7FEFF; border: 1px solid #9DD8E1; float: right; }
.messaging .chat_area .scrollable_messages .messages li .bubble.me .details { border-bottom: 1px solid #9DD8E1; }
.messaging .chat_area .compose_form { background-color: #FFFFFF; }
.messaging .chat_area .compose_form .input_group { display: table; padding: 15px 10px; table-layout: auto; }
.messaging .chat_area .compose_form .input_group_row { display: table-row; }
.messaging .chat_area .compose_form .input_group label { display: table-cell; padding-right: 5px; text-align: left; }
.messaging .chat_area .compose_form .input_group_main { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-clip: padding-box; display: table-cell; height: 29px; width: 100%; }
.messaging .chat_area .compose_form .input_group_main input[type=text] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-image: linear-gradient(#eeeeee 1%, white 15%); border: 1px solid #eee; font-size: 13px; margin-top: 1px; padding: 5px 5px 5px 5px; width: 100%; }
.messaging .chat_area .compose_form .compose_area { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); background-color: #fff; border: 1px solid #eee; color: #333333; display: block; font-size: 1em; height: 100px; line-height: 1.42857; margin: 0 auto; min-height: 70px; padding: 6px 12px; resize: vertical; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; vertical-align: middle; width: 97%; }
.messaging .chat_area .reply_form { background-color: #F4F7FB; bottom: 0; height: 130px; position: absolute; width: 100%; }
.messaging .chat_area .reply_form .quick_reply { margin: 20px; overflow: hidden; }
.messaging .chat_area .reply_form .quick_reply textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #a1a1a1; font-family: Open Sans; font-size: 13px; padding: 5px; resize: none; width: 100%; }
.messaging .chat_area .reply_form .quick_reply button[type="submit"] { float: right; }
.messaging .chat_area .buttons { padding: 10px; }
