<ul class="c-categories">
    <li class="{% if category is null %}c-category--active{% endif %}">
        <a href="{{ path('news_list') }}">
            <i class="fa fa-tag"></i> All Posts
        </a>
    </li>

    {% for cat in categories %}
        <li class="{% if category == cat %}c-category--active{% endif %}">
            <a href="{{ cat.url }}">
                <i class="fa fa-tag"></i> {{- cat.name -}}
            </a>
        </li>
    {% endfor %}
</ul>
