<div class="c-list-group">
    <a class="c-list-group__item {% if category is null %}c-list-group__item--active{% endif %}" href="{{ path('news_list') }}">
        <i class="fa fa-tag" aria-hidden="true"></i> All Posts
    </a>

    {% for cat in categories %}
        <a class="c-list-group__item {% if category == cat %}c-list-group__item--active{% endif %}" href="{{ cat.url }}">
            <i class="fa fa-tag" aria-hidden="true"></i> {{- cat.name -}}
        </a>
    {% endfor %}
</div>
