{% extends 'layout.html.twig' %}

{% block title %}
    {% if category %}
        News :: {{ category.name }}
    {% else %}
        News
    {% endif %}
{% endblock %}

{% block content %}
    <main class="c-page news">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                <section class="c-page__header__container__options">
                    {% if me.canCreate("News") %}
                        <a class="c-button c-button--blue" href="{{ path('news_new') }}"><i class="fa fa-plus"></i> Post New</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <section class="o-layout">
            {% include "News/categories.html.twig" %}

            <section class="o-layout__body-with-sidebar">
                {% for article in news %}
                    {% include "News/article.html.twig" with { 'article': article } %}
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}
