{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'blue',
        'url': path('news_new'),
        'icon': 'plus',
        'text': 'Post New',
        'condition': me.canCreate("News")
    }
] %}

{% block title %}
    {% if category %}
        News :: {{ category.name }}
    {% else %}
        News
    {% endif %}
{% endblock %}

{% block content %}
    <main class="c-page s-newsstand">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-container">
            <section class="o-row">
                {% include "News/categories.html.twig" %}

                <section class="o-row__column--with-sidebar">
                    {% for article in news %}
                        {% include "News/article.html.twig" with { 'article': article } %}
                    {% endfor %}

                    {% include "pagination.html.twig" with { 'totalPages': totalPages, 'currentPage': currentPage } %}
                </section>
            </section>
        </section>
    </main>
{% endblock %}
