{% extends 'layout.html.twig' %}

{% set opengraph = {
    url: article.url | canonical,
    type: 'article',
    title: article.name,
    description: article.content | replace('\n', ' ') | truncate(100),
    image: asset('assets/imgs/open-graph.jpg') | canonical
} %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': article.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(article)
    },
    {
        'color': 'red',
        'url': article.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(article)
    }
] %}

{% block title %}News{% endblock %}

{% block pageTitle %}
    <h1>
        League News
        {% if category %}
            in '{{ category.name }}' category
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-9">
                {% include "News/article.html.twig" with { 'article': article } %}
            </section>

            <aside class="col-md-3">
                {% include "News/categories.html.twig" with { 'category': category } %}
            </aside>
        </div>
    </div>
{% endblock %}
