{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': article.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(article)
    },
    {
        'color': 'red',
        'url': article.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(article)
    }
] %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="c-page s-newsstand">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="o-layout">
            {% include "News/categories.html.twig" %}

            <section class="o-layout__body--with-sidebar">
                {% include "News/article.html.twig" with { 'article': article } %}
            </section>
        </section>
    </main>
{% endblock %}
