{% extends 'layout.html.twig' %}

{% block title %}News{% endblock %}

{% block content %}
    <main class="c-page s-newsstand">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>
                        League News
                        {% if category %}
                            in '{{ category.name }}' category
                        {% endif %}
                    </h1>
                </section>

                <section class="c-page__header__container__options">
                    {% if me.canEdit(article) %}
                        <a class="c-button c-button--grey" href="{{ article.url('edit') }}"><i class="fa fa-pencil"></i> Edit</a>
                    {% endif %}

                    {% if me.canDelete(article) %}
                        <a class="c-button c-button--red" href="{{ article.url('delete') }}"><i class="fa fa-trash-o"></i> Delete</a>
                    {% endif %}
                </section>
            </div>
        </section>

        <section class="o-layout">
            {% include "News/categories.html.twig" %}

            <section class="o-layout__body--with-sidebar">
                {% include "News/article.html.twig" with { 'article': article } %}
            </section>
        </section>
    </main>
{% endblock %}
