$Collapsing-Duration: 0.25s;

.collapsible-open,
.collapsible-close,
.collapsible-trigger {
    cursor: pointer;
}

.collapsible-entity {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height $Collapsing-Duration ease-out;
}

.collapsible-entity--open {
    height: auto;
}