.s-fullflex {
    height: 100%;

    body {
        display: flex;
        height: 100%;
    }

    .app-body {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    main {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;

        > .o-container {
            display: flex;
            flex: 1;
            overflow: hidden;
        }
    }

    .c-footer {
        margin-top: 0;
    }

    .c-fullflex--scrollable {
        overflow: auto;
    }
}