{% extends 'layout.html.twig' %}

{% import _self as listUtils %}

{% block title %}Players{% endblock %}

{% block pageTitle %}
    <h1>Player List</h1>
{% endblock %}

{% block headerOptions %}
    {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
        {{ listUtils.searchForm() }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="o-container c-rollcall">
        {% if me.hasPermission(constant('Permission::VIEW_VISITOR_LOG')) %}
            <section class="u-mobile-only o-row">
                {{ listUtils.searchForm() }}
            </section>
        {% endif %}
        <section class="o-row">
            {% for player in players %}
                {% include "Player/widget.html.twig" with {
                    player: player,
                    showTeam: true,
                    data: {
                        callsign: "username",
                        teamid: "team.id",
                        team: "team.name",
                        iso: "country.iso",
                        country: "country.name"
                    }}
                %}
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% macro searchForm() %}
        <form class="c-page__search" action="{{ path('search_player_by_bzid') }}" method="GET">
            <label class="c-page__search__icon" for="c-page__search__input" >
                <i class="fa fa-search"></i>
            </label>
            <input
                    id="c-page__search__input"
                    class="c-page__search__input"
                    title="Search by player BZID"
                    placeholder="Search by BZID..."
                    type="search"
                    name="bzid"
            >
        </form>
{% endmacro %}
