{% extends 'layout.html.twig' %}

{% block title %}Players{% endblock %}

{% block content %}
    <main class="players">
        <section class="content_header">
            <article class="wrapper">
                <h1>Player List</h1>
            </article>
        </section>

        <section class="list">
            {% for player in players %}
                <article>
                    {{ player.getAvatarLiteral | raw }}
                    <section class="info">
                        <p class="callsign">{{ link_to(player) }}</p> {{ player.country.flagLiteral | raw }}
                        <p class="team">{{ link_to(player.team) }}</p>
                    </section>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
