{% extends 'layout.html.twig' %}

{% block title %}Players{% endblock %}

{% block pageTitle %}
    <h1>Player List</h1>
{% endblock %}

{% block content %}
    <section class="o-container c-rollcall">
        <section class="o-row">
            {% for player in players %}
                {% include "Player/widget.html.twig" with {
                    player: player,
                    data: {
                        callsign: "username",
                        teamid: "team.id",
                        team: "team.name",
                        iso: "country.iso",
                        country: "country.name"
                    }}
                %}
            {% endfor %}
        </section>
    </section>
{% endblock %}
