.ladda-button {
    background-color: #0CA7Db;
    padding: 3px 8px 3px 8px;
}

.button {
    &.danger {
        background-color: #EE4840;

        &:hover {
            background-color: #F36E65;
        }
    }

    &.normal {
        background-color: #BCC3C7;

        &:hover {
            background-color: #C9CFD2;
        }
    }

    &.submit {
        background-color: #009AD7;

        &:hover {
            background-color: #4BAEDF;
        }
    }

    &.warning {
        background-color: #F7C238;

        &:hover {
            background-color: #FBD13E;
        }
    }
}