{% extends 'layout.html.twig' %}

{% block title %}Create Page{% endblock %}

{% block pageTitle %}
    <h1>Create New Page</h1>
{% endblock %}

{% block content %}
    {% include "Page/form.html.twig" with { 'form': form } %}
{% endblock %}
