{% extends 'layout.html.twig' %}

{% block title %}Nothing to see here{% endblock %}

{% block content %}
    <article>
        <h1>Home Page</h1>
        <p>No content has been added to the home page yet!</p>
    </article>
{% endblock %}
