{% extends 'layout.html.twig' %}

{% block title %}{{ page.name }} :: Edit{% endblock %}

{% block pageTitle %}
    <h1>Editing :: {{ page.name }}</h1>
{% endblock %}

{% block content %}
    {% include "Page/form.html.twig" with { 'form': form } %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('includes/tipsy/src/stylesheets/tipsy.css') }}" />
{% endblock %}

{% block jsCustom %}
    <script src="{{ asset('includes/tipsy/src/javascripts/jquery.tipsy.js') }}"></script>
{% endblock %}
