{% extends 'layout.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block content %}
    <main class="custom_page">
        <section class="content_header">
            <article class="wrapper">
                <div>
                    <h1>{{ page.name }}</h1>
                </div>
            </article>
        </section>

        <section class="content">
            {{ page.content | raw }}
        </section>
    </main>
{% endblock %}