{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': page.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(page)
    },
    {
        'color': 'red',
        'url': page.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(page)
    }
] %}

{% block title %}{{ page.name }}{% endblock %}

{% block pageTitle %}
    <h1>{{ page.name }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="s-user-html s-markdown">
            {{ page.content | markdown(escapeHTML=false) }}
        </section>
    </div>
{% endblock %}