{% extends 'layout.html.twig' %}

{% set pageButtons = [
    {
        'color': 'grey',
        'url': page.url('edit'),
        'icon': 'pencil',
        'text': 'Edit',
        'condition': me.canEdit(page)
    },
    {
        'color': 'red',
        'url': page.url('delete'),
        'icon': 'trash-o',
        'text': 'Delete',
        'condition': me.canDelete(page)
    }
] %}

{% block title %}{{ page.name }}{% endblock %}

{% block content %}
    <main class="c-page">
        <section class="c-page__header">
            <div class="c-page__header__container">
                <section class="c-page__header__container__title">
                    <h1>{{ page.name }}</h1>
                </section>

                {% include "button-repeater.html.twig" with { 'buttons': pageButtons } %}
            </div>
        </section>

        <section class="s-user-html s-markdown o-container o-section">
            {{ page.content | markdown(false) }}
        </section>
    </main>
{% endblock %}